@import "./_variables.scss";
@import "./_function.scss";

.Guide_area {
    padding: 0px 15px;

    .area {
        width: 230px;

        @media (max-width:768px) {
            display: block;
        }

        p {
            font-weight: 900;
            font-size: $fs-24;
            letter-spacing: 5px;
            padding-bottom: 20px;
            border-bottom: 1px solid $bc-brown;
        }

        .content {
            .Guide_block {
                padding: 30px 0px;
                margin-bottom: 30px;

                @media (max-width:768px) {
                    padding: 20px 0px 20px 20px;
                    margin-bottom: 10px;
                }

                .collapse-block {
                    margin-bottom: 30px;

                    @media (max-width:992px) {
                        margin-bottom: 20px;
                    }
                }

                .sub-title {
                    padding: 10px 0px;
                    font-size: $fs-14;
                    letter-spacing: 4px;

                    @media (max-width:992px) {

                        &.collapse-deco {
                            position: relative;
                            transition: .3s;
                            transition-timing-function: ease-in-out;

                            &::after,
                            &::before {
                                content: ' ';
                                position: absolute;
                                right: -20px;
                                top: 19px;
                                width: 9px;
                                height: 1px;
                                background-color: $fc-black;
                                opacity: 0.6;
                            }

                            &::before {
                                transform: rotate(0deg);
                                transition: 0.3s;
                            }

                            &.collapsed {

                                &::before {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }

                ul {
                    padding-top: 10px;

                    li {
                        font-size: $fs-12;
                        padding: 5px 0;
                        opacity: 0.8;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }

}