@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
.Connection_area {
  padding: 0px 15px;
}

.Connection_area .text_block {
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .Connection_area .text_block {
    border-bottom: 1px solid #000000;
  }
}

.Connection_area .text_block p {
  letter-spacing: 2px;
}

.Connection_area .text_block p.text {
  text-indent: 30px;
}

.Connection_area .Connection_form {
  margin-bottom: 150px;
}

.Connection_area .Connection_form .name {
  font-size: 22px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.Connection_area .Connection_form .name > div {
  min-width: 150px;
  letter-spacing: 4px;
  padding: 0px 0px 0px 20px;
  position: relative;
  line-height: 24px;
  font-weight: 900;
}

.Connection_area .Connection_form .name > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #231815;
}

.Connection_area .Connection_form .form_input {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .Connection_area .Connection_form .form_input {
    margin-bottom: 30px;
  }
  .Connection_area .Connection_form .form_input .block {
    margin-bottom: 20px;
  }
}

.Connection_area .Connection_form .form_input > input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  outline-width: 0px none invert;
  border: 1px solid #000000;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Connection_area .Connection_form .form_input > ul {
  padding-bottom: 20px;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 1200px) {
  .Connection_area .Connection_form .form_input > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.Connection_area .Connection_form .form_input > ul li {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .Connection_area .Connection_form .form_input > ul li {
    width: 33.3333%;
    margin-bottom: 20px;
  }
}

.Connection_area .Connection_form .form_input > ul li div {
  letter-spacing: 3px;
  padding-left: 10px;
  font-size: 18px;
}

.Connection_area .Connection_form .form_input input,
.Connection_area .Connection_form .form_input select {
  letter-spacing: 4px;
}

.Connection_area .Connection_form .dateInput > .w-100:first-child {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .Connection_area .Connection_form .dateInput > .w-100:first-child {
    margin-bottom: 20px;
  }
}

.Connection_area .Connection_form .dateInput input {
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
}

.Connection_area .Connection_form .dateInput .period {
  font-weight: bold;
  margin-right: 25px;
}

.Connection_area .Connection_form .dateInput .position-relative {
  position: relative;
}

.Connection_area .Connection_form .dateInput .position-relative .fa-calendar-alt {
  position: absolute;
  right: 0;
}

.Connection_area .Connection_form .dateInput .clearBTN {
  width: 100px;
  height: 100%;
  letter-spacing: 5px;
  background-color: #4D4D4D;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-left: 25px;
  line-height: 49px;
}

@media (max-width: 992px) {
  .Connection_area .Connection_form .dateInput .clearBTN {
    display: none;
  }
}

.Connection_area .Connection_form .text {
  margin-bottom: 30px;
  text-align: justify;
  letter-spacing: 1px;
}

.Connection_area .Connection_form .text P {
  padding: 15px 0px;
}

.Connection_area .Connection_form .form_btn {
  padding: 15px;
}

@media screen and (max-width: 1400px) {
  .Connection_area .Connection_form .form_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Connection_area .Connection_form .form_btn input {
  width: 220px;
  padding: 10px 0px;
  background-color: #FFFFFF;
  color: #231815;
  letter-spacing: 3px;
  margin-right: 20px;
}

.Connection_area .Connection_form .form_btn input:hover {
  background-color: #231815;
  color: #FFFFFF;
}

.Connection_area .Connection_form .form_btn input:nth-last-child(1) {
  margin-right: 0px;
}

@media screen and (max-width: 1400px) {
  .Connection_area .Connection_form .form_btn input {
    width: 50%;
    margin-right: 10px;
  }
  .Connection_area .Connection_form .form_btn input:nth-last-child(1) {
    margin-left: 10px;
    margin-right: 0px;
  }
}

.Connection_area .Connection_form select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: -20px;
  -webkit-appearance: none;
  text-indent: 0.01px;
  background-image: url("../img/icon/caret-down-solid.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: center;
  border: 1px solid #000000;
}

.Connection_area .Connection_form select .select-selected {
  background-color: #000000;
}

.Connection_area .Connection_form select option:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Connection_area .Connection_form select option {
  background-color: #e5e5e5;
  line-height: 30px;
  width: 100%;
  padding: 10px 20px;
  letter-spacing: 4px;
}

.Connection_area .Connection_form select option:hover:active {
  background-color: #a0a0a0;
}

.Connection_area .Connection_form select option:nth-child(1) {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.Connection_area .Connection_form select option:nth-last-child(1) {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

#ui-datepicker-div {
  left: 62% !important;
}
/*# sourceMappingURL=04-QP-ConditionSearch.css.map */