@import "./_variables.scss";
@import "./_function.scss";

.Connection_area {
    padding: 0px 15px;

    .text_block {
        padding-bottom: 30px;
        margin-bottom: 30px;
        text-align: justify;

        @media screen and (max-width:1200px) {
            border-bottom: 1px solid $br-black;
        }

        p {
            letter-spacing: 2px;

            &.text {
                text-indent: 30px;
            }
        }
    }

    .Connection_form {
        margin-bottom: 150px;

        .name {
            font-size: $fs-22;
            letter-spacing: 2px;
            padding-bottom: 30px;

            &>div {
                min-width: 150px;
                letter-spacing: 4px;
                padding: 0px 0px 0px 20px;
                position: relative;
                line-height: 24px;
                font-weight: 900;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10px;
                    height: 100%;
                    background-color: $bc-brown;
                }
            }
        }

        .form_input {
            margin-bottom: 40px;

            @media (max-width:992px) {
                margin-bottom: 30px;

                .block {
                    margin-bottom: 20px;
                }
            }

            &>input {
                width: 100%;
                padding: 10px 20px;
                border-radius: 10px;
                outline-width: 0px none invert;
                border: 1px solid $br-black;
                text-shadow: none;
                -webkit-appearance: none;
                -webkit-user-select: text;
                outline-color: transparent;
                box-shadow: none;
            }

            &>ul {
                padding-bottom: 20px;
                border-bottom: 1px solid $br-black;

                @media screen and (max-width:1200px) {
                    flex-wrap: wrap;
                }

                li {
                    width: 20%;
                    display: flex;
                    align-items: center;

                    @media screen and (max-width:1200px) {
                        width: 33.3333%;
                        margin-bottom: 20px;
                    }

                    div {
                        letter-spacing: 3px;
                        padding-left: 10px;
                        font-size: $fs-18;
                    }
                }
            }

            input,
            select {
                letter-spacing: 4px;
            }
        }

        .dateInput {
            &>.w-100 {
                &:first-child {
                    margin-bottom: 40px;

                    @media(max-width: 992px) {
                        margin-bottom: 20px;
                    }
                }
            }

            input {
                padding: 10px 20px;
                border-radius: 5px;
                width: 100%;
                border: 1px solid black;
            }

            .period {
                font-weight: bold;
                margin-right: 25px;
            }

            .position-relative {
                position: relative;

                .fa-calendar-alt {
                    position: absolute;
                    right: 0;
                }
            }

            .clearBTN {
                width: 100px;
                height: 100%;
                letter-spacing: 5px;
                background-color: $fc-pure-gray;
                border-radius: 5px;
                color: $fc-white;
                font-size: $fs-14;
                font-weight: bold;
                text-align: center;
                margin-left: 25px;
                line-height: 49px;

                @media (max-width:992px) {
                    display: none;
                }
            }
        }

        .text {
            margin-bottom: 30px;
            text-align: justify;
            letter-spacing: 1px;

            P {
                padding: 15px 0px;
            }

        }

        .form_btn {
            padding: 15px;

            @media screen and (max-width:1400px) {
                display: flex;
            }

            input {
                width: 220px;
                padding: 10px 0px;
                background-color: $fc-white;
                color: $bc-brown;
                letter-spacing: 3px;
                margin-right: 20px;

                &:hover {
                    background-color: $bc-brown;
                    color: $fc-white;
                }

                &:nth-last-child(1) {
                    margin-right: 0px;
                }

                @media screen and (max-width:1400px) {
                    width: 50%;
                    margin-right: 10px;

                    &:nth-last-child(1) {
                        margin-left: 10px;
                        margin-right: 0px;
                    }
                }
            }
        }

        select {
            width: 100%;
            padding: 10px 20px;
            border-radius: 5px;
            margin-right: -20px;
            -webkit-appearance: none;
            text-indent: 0.01px;
            background-image: url('../img/icon/caret-down-solid.svg');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position-x: 96%;
            background-position-y: center;
            border: 1px solid $br-black;

            .select-selected {
                background-color: $br-black;

            }


            & option:nth-child(1) {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            option {
                background-color: $bc-graw;
                line-height: 30px;
                width: 100%;
                padding: 10px 20px;
                letter-spacing: 4px;

                &:hover:active {
                    background-color: $bc-dark-graw;
                }

                &:nth-child(1) {
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                }

                &:nth-last-child(1) {
                    border-bottom-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                }
            }
        }

    }
}

#ui-datepicker-div {
    left: 62% !important;
}