@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

.btnGroup a {
  color: #FFFFFF;
  text-decoration: none;
}

.btnGroup a .project {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  background-color: #231815;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 0 25px;
}

@media (max-width: 577px) {
  .btnGroup a .project::before {
    content: '';
    border: 1px solid #FFFFFF;
    width: 130px;
    position: absolute;
    bottom: 25%;
  }
}

.btnGroup a .project:hover {
  background-color: #665252;
}

@media (max-width: 577px) {
  .btnGroup a .project {
    height: 88px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btnGroup a .project span {
  margin-right: 20px;
}

.btnGroup a .project hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #FFFFFF;
  margin: 0 30px;
}

@media (max-width: 577px) {
  .btnGroup a .project hr {
    display: none;
  }
}

.btnGroup a .project .date {
  width: 50px;
  height: 50px;
  background-color: #231815;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

@media (max-width: 577px) {
  .btnGroup a .project .date {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.btnGroup a .project .date p {
  font-size: 10px;
  text-align: center;
}

.btnGroup a .project .date p:first-child {
  font-size: 14px;
}
/*# sourceMappingURL=05-LP-AboutUs.css.map */