@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";



.btnGroup{

    a{

        color: $fc-white;
        text-decoration: none;

        .project{
            width: 100%;
            height: 80px;
            border-radius: 8px;
    
            background-color: $bc-brown;
    
            margin-bottom: 30px;
    
            font-size: $fs-18;
    
            padding: 0 25px;

            &::before{
                
                @media (max-width:577px) {


                    content: '';

                    border: 1px solid $fc-white;
    
                    width: 130px;

                    position: absolute;
                    bottom: 25%;
                }
            }
    
            &:hover{
                background-color: $bc-brown-hover;
            }

            

            @media (max-width:577px) {

                height: 88px;

                position: relative;

                justify-content: center;
            }

            span{
                margin-right: 20px;
            }

            hr{

                flex-grow: 1;
                background-color: $fc-white;
    
                margin: 0 30px;

                @media (max-width:577px) {

                    display: none;
                }
            }
    
            .date{
    
                width: 50px;
                height: 50px;

                background-color: $bc-brown;
    
                border: 1px solid $fc-white;
                border-radius: 50%;

                @media (max-width:577px) {

                    position: absolute;
                    top: 0;
                    left: 50%;

                    transform: translate(-50%,-50%);
                }
    
    
                p{
                    font-size: 10px;
                    text-align: center;
    
                    &:first-child{
    
                        font-size: 14px;
                    }
                }
            }
        }
        


        
    }

}