@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
}

a:hover {
  color: #886D6A;
  text-decoration: none;
}

a:active {
  color: #000000;
}

@media (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.question .btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
  border-bottom: 1px solid #4D4D4D;
}

@media screen and (max-width: 768px) {
  .question .btnGroup {
    display: none;
  }
}

.question .btnGroup a {
  margin: 0px 20px 30px 0px;
}

.question .btnGroup a .btnArea {
  width: 120px;
  max-height: 42px;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  -webkit-transition: .3s;
  transition: .3s;
}

.question .btnGroup a .btnArea:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.question .btnGroup a .btnArea.active {
  background-color: #000000;
  color: #FFFFFF;
}

.question .QA-tab {
  display: none;
}

.question .QA-tab.active {
  display: block;
}

.question .QA-tab .QA {
  padding: 20px 15px 20px 0px;
  border-bottom: 1px solid #4D4D4D;
  cursor: pointer;
}

.question .QA-tab .QA .query {
  font-weight: bold;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  letter-spacing: 2px;
}

.question .QA-tab .QA .query .fa-chevron-up {
  -webkit-transition: .5s;
  transition: .5s;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .question .QA-tab .QA .query {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question .QA-tab .QA .query span {
    padding-bottom: 20px;
  }
}

.question .QA-tab .QA .answer {
  line-height: 2;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1.5px;
}

.question .QA-tab .QA.active .fa-chevron-up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.question .QA-tab .QA.active .answer {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: 1s;
  transition: 1s;
  max-height: 400px;
  margin-top: 20px;
}

.question .pageNumber {
  position: relative;
  width: 100%;
  height: 100px;
}

.question .pageNumber ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.question .pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.question .pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.question .pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.question .pageNumber ul .nextBTN,
.question .pageNumber ul .lastBTN {
  cursor: pointer;
  width: 106px;
  text-align: center;
  border: 1px solid #333333;
  padding: 10px 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.question .pageNumber ul .nextBTN:hover,
.question .pageNumber ul .lastBTN:hover {
  background-color: #333333;
}

.question .pageNumber ul .nextBTN:hover a,
.question .pageNumber ul .lastBTN:hover a {
  color: #FFFFFF;
}

.question .pageNumber ul .nextBTN a,
.question .pageNumber ul .lastBTN a {
  color: #000000;
}

.question .pageNumber ul .nextBTN {
  margin-left: 20px;
}

.question .pageNumber ul .lastBTN {
  margin-left: 10px;
}

.question .pageNumber .more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #333333;
  padding: 10px 50px;
}
/*# sourceMappingURL=06-LP-Question.css.map */