@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


* {
    box-sizing: border-box;
}

.question {

    .btnGroup {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        border-bottom: 1px solid $fc-pure-gray;

        @media screen and (max-width:768px) {
            display: none;
        }

        a {
            margin: 0px 20px 30px 0px;

            .btnArea {
                @include little_btn_style(120px, 42px, 8px, 8px, $black);
                @include text_style($fs-16, $fw-700, center, 2px);
                color: $black;
                transition: .3s;

                &:hover{
                    background-color:$black;
                    color: $fc-white;

                }

                &.active {
                    background-color: $black;
                    color: $fc-white;
                }
            }
        }
    }

    .QA-tab {
        display: none;

        &.active {
            display: block;
        }

        .QA {
            padding: 20px 15px 20px 0px;
            border-bottom: 1px solid $fc-pure-gray;
            cursor: pointer;

            .query {
                font-weight: bold;
                font-size: $fs-18;
                display: flex;
                align-items: center;
                line-height: 2;
                letter-spacing: 2px;


                .fa-chevron-up {
                    transition: .5s;
                    margin-left: 20px;
                }

                @media screen and (max-width:576px) {
                    flex-direction: column;

                    span {
                        padding-bottom: 20px;
                    }
                }


            }

            .answer {
                line-height: 2;
                overflow: hidden;
                max-height: 0;
                transition: 0.3s;
                letter-spacing: 1.5px;

            }

            &.active {
                .fa-chevron-up {
                    transform: rotate(180deg);
                }

                .answer {
                    transition-timing-function: ease-in-out;
                    transition: 1s;
                    max-height: 400px;
                    margin-top: 20px;

                }
            }
        }
    }

    .pageNumber {
        position: relative;
        width: 100%;
        height: 100px;

        ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .number {
                &:first-child {
                    a {
                        background-color: $bc-number-black;
                        color: $fc-white;
                    }
                }

                a {
                    display: block;
                    width: 25px;
                    height: 25px;
                    color: $fc-black;
                    background-color: unset;
                    text-align: center;
                    border-radius: 50%;
                    font-weight: bold;

                    &:hover {
                        background-color: $bc-number-black;
                        color: $fc-white;
                    }
                }
            }

            .nextBTN,
            .lastBTN {
                cursor: pointer;
                width: 106px;
                text-align: center;
                border: 1px solid $bc-number-black;
                padding: 10px 20px;
                transition: .3s;

                &:hover{

                    background-color: $bc-number-black;
                    
                }

                &:hover a {

                    color: $fc-white;
                }


                a {
                    color: $fc-black;
                }
            }

            .nextBTN {
                margin-left: 20px;
            }

            .lastBTN {
                margin-left: 10px;
            }
        }

        .more {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid $bc-number-black;
            padding: 10px 50px;

        }
    }
}