@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


*{
    box-sizing: border-box;
}



.btnGroup{
    padding-bottom: 30px;
    border-bottom:1px solid $fc-pure-gray ;
  
    a{
        color: $fc-pure-gray;

        .btnArea{
            border: 1px solid $fc-black;
            border-radius: 7px;
            letter-spacing: 2px;
            padding: 5px 30px;
            margin-right: 20px;
    
            &.active{
                background-color: $bc-dark-brown-hover;
                color: $fc-white;
            }
        }
    }
}


.QA-tab{
    display: none;

    &.active{
        display: block;
    }

    .QA{
        padding: 20px 0;
        border-bottom:1px solid $fc-pure-gray ;
        cursor: pointer;
    
        .query{
            font-weight: bold;
            font-size: $fs-18;
            
        }
    
        .answer{
            overflow: hidden;
            max-height: 0;
            transition: 0.3s;
        }
    
        .fa-chevron-up{
            transition: .5s;
        }

    
        &.active .fa-chevron-up{
            transform: rotate(180deg);
        }
        &.active .answer{
            transition-timing-function: ease-in-out;
            transition: 1s;
            max-height: 400px;
            margin-top: 20px;
            
        }
    }
}




.pageContent{
    margin-bottom: 200px;
    position: relative;
}

.pageNumber{
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);

    ul{
        .number{
            &:first-child{
                a{
                    background-color: $bc-number-black;
                    color: $fc-white;
                }
            }

            a{
                display: block;
                width: 25px;
                height: 25px;
                color: $fc-black;
                background-color: unset;
                text-align: center;
                border-radius: 50%;
                font-weight: bold;
                &:hover{
                    background-color: $bc-number-black;
                    color: $fc-white;
                }
            }
        }

        .nextBTN,.lastBTN{
            border: 1px solid $bc-number-black;
            padding: 10px 20px ;

            a{
                color: $fc-black;
            }
        }

        .nextBTN{
            margin-left: 20px;
        }

        .lastBTN{
            margin-left: 10px;
        }
    }

    .more{
        border: 1px solid $bc-number-black;
        padding: 10px 50px ;

    }
}