@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


*{
    box-sizing: border-box;
}

.btnGroup{

    
    @media (max-width:992px) {

        border-bottom: 1px solid;
    }
    .btnArea{

        min-width: 60px;

        border: 2px solid $fc-black;
        border-radius: 7px;

        letter-spacing: 2px;
        text-align: center;

        padding: 5px 30px;
        margin-right: 20px;

        &:hover{
            background-color: $bc-dark-brown-hover;

            color: $fc-white;
        }

        @media (max-width:1200px)and(min-width:992px) {

            padding: 5px 20px;
        }

        @media (max-width:992px) {

            padding: 5px 0px;
            margin-right: 12px;
            margin-bottom: 12px;

        }
    }
}

.nameGroup{

    border: 1px solid $fc-black;

    padding: 15px 0;

    margin: 30px 0;

    .dateName{

        min-width: 130px;
        
        text-align: center;
    }

    .themeName{

        display: flex;
        justify-content: center;
        flex-grow: 1;

        text-align: center;
    }

    .placeName{

        width: 175px;

        text-align: center;
    }

    .loadingPointName{

        min-width: 165px;

        text-align: center;
    }
}

.news_list{
    width: 100%;

    font-weight: bold;

    .news{
        width: 100%;
        min-height: 90px;

        border-bottom: 1px solid $fc-gray;

        .date{
            min-width: 130px;

            line-height: 90px;
            letter-spacing: 2px;

            @media (max-width:992px) {

                width: unset;

                color: $fc-666666-gray;
                font-size: $fs-12;
                font-weight: bold;
                line-height: unset;

                padding-top: 30px;
                padding-bottom: 15px;

    
            }

            span{

                font-size: $fs-12;
                color: $fc-666666-gray;
                font-weight: bold;
                letter-spacing: 4px;

                border-left: 1px solid $fc-666666-gray;
                border-right: 1px solid $fc-666666-gray;

                padding: 0 15px;
                margin-left: 15px;
            }

        }
        .theme{

            width: 100%;

            text-align: center;

            position: relative;

            line-height: 90px;

            &::before{
                content: '';

                height: 20px;

                border: 1px solid $fc-gray;

                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &::after{
                content: '';

                height: 20px;

                border: 1px solid $fc-gray;

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        .themePhoneName{

            font-size: $fs-14;

            letter-spacing: 2px;
        }
        .place{
            min-width: 175px;

            line-height: 90px;
            text-align: center;

            position: relative;
            

            &::after{
                content: '';

                height: 20px;

                border: 1px solid $fc-gray;

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        .placePhoneName{

            font-size: $fs-12;
            color: $fc-666666-gray;
            font-weight: bold; 

            padding: 10px 0;
            
            letter-spacing: 4px;

            span{
               padding: 0 9px;

               border-left: 1px solid $fc-666666-gray;
            }

        }

        .loadingPointPhoneName{

            span{
                color: $fc-666666-gray;
                font-size: $fs-12;
                letter-spacing: 1px;

                padding-right: 9px;
    
                border-right: 1px solid $fc-666666-gray;
            }
        }

        .btnGroup{
            min-width: 165px;

            display: flex;
            align-self: center;
            flex-wrap: wrap;

            padding: 16px 0;

            @media (max-width:992px) {

                flex-wrap: nowrap;

                margin-left: 0;

                border-bottom: none;

                padding: 15px 0 30px 0;
    
            }

            .loadingPoint{
                min-width: 39px;
                min-height: 27px;
                
                font-size: $fs-12;
                line-height: 22px;
                text-align: center;
        
                border: 1px solid $fc-gray;

                padding: 1px;
                margin: 0 5px 3px 0;

                @media (max-width:992px) {

                    min-height: 20px;

                    color: $fc-666666-gray;
                    font-weight: bold; 

                    margin: 0 10px 3px 0;
                    
                 }


                &:hover{
                    border: 1px solid $fc-white;
                    background-color: $fc-black;

                    @media (max-width:992px) {

                        background-color: $fc-666666-gray; 
                    }

                }
                &:hover a{
                    color: $fc-white;
                    
                    @media (max-width:992px) {

                       color: $fc-white;
                    }
                }

                
                a{
                    
                    text-decoration: none;
                    color: $fc-black;

                    @media (max-width:992px) {

                        font-size: $fs-12;
                        color: $fc-666666-gray;
                        font-weight: bold;


        
                    }
                    
                }
                
                
                
            }
        }
    }
}




.pageContent{

    margin-bottom: 200px;

    position: relative;
}

.pageNumber{

    position: absolute;
    left: 50%;
    bottom: -100px;

    transform: translateX(-50%);

    ul{


        .number{



            &:first-child{

                a{

                    background-color: $bc-number-black;
                    color: $fc-white;
                }

            }

            a{
                display: block;

                width: 25px;
                height: 25px;

                color: $fc-black;
                background-color: unset;

                text-align: center;

                border-radius: 50%;
    
                
                font-weight: bold;

                &:hover{
                    background-color: $bc-number-black;
                    color: $fc-white;
                }
            }

        }

        .nextBTN,.lastBTN{
            border: 1px solid $bc-number-black;

            font-weight: bold;

            padding: 10px 20px ;

            
        @media (max-width:1400px){
            padding: 10px 5px;
        }

            a{

                color: $fc-black;
            }
        }

        .nextBTN{

            margin-left: 20px;
        }

        .lastBTN{
            margin-left: 10px;
        }
    }

    .more{

        border: 2px solid $bc-number-black;

        font-weight: bold;

        padding: 10px 45px ;

        cursor: pointer;

    }
}