@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


*{
    box-sizing: border-box;
}

.btnGroup{

    .btnArea{
        border: 2px solid $fc-black;
        border-radius: 7px;

        letter-spacing: 2px;

        padding: 5px 30px;
        margin-right: 20px;

        &:hover{
            background-color: $bc-dark-brown-hover;

            color: $fc-white;
        }
    }
}

.nameGroup{

    border: 2px solid $fc-black;

    padding: 15px 0;

    margin: 30px 0;

    .dateName{

        width: 130px;
        
        text-align: center;
    }

    .themeName{

        width: 430px;

        text-align: center;
    }

    .placeName{

        width: 175px;

        text-align: center;
    }

    .loadingPointName{

        width: 140px;

        text-align: center;
    }
}

.news_list{
    width: 100%;

    font-weight: bold;

    .news{
        width: 100%;
        height: 90px;

        border-bottom: 1px solid $fc-gray;

        display: flex;

        .date{
            width: 130px;

            line-height: 90px;

        }
        .theme{
            width: 440px;

            text-align: center;

            position: relative;

            line-height: 90px;

            &::before{
                content: '';

                height: 20px;

                border: 1px solid $fc-gray;

                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &::after{
                content: '';

                height: 20px;

                border: 1px solid $fc-gray;

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }
        .place{
            width: 175px;

            line-height: 90px;
            text-align: center;

            position: relative;

            &::after{
                content: '';

                height: 20px;

                border: 1px solid $fc-gray;

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        .btnGroup{
            width: 140px;

            display: flex;
            align-self: center;
            flex-wrap: wrap;

            margin-left: 30px;
            padding: 16px 0;

            .loadingPoint{
                width: 39px;
                height: 27px;
                
                font-size: $fs-12;
                line-height: 22px;
                text-align: center;
        
                border: 1px solid $fc-gray;

                margin: 0 5px 3px 0;

                &:hover{
                    border: 1px solid $fc-white;
                    background-color: $fc-black;
                }
                &:hover a{
                    color: $fc-white;
                }

                
                a{
                    
                    text-decoration: none;
                    color: $fc-black;
                    
                }
            }
        }
    }
}




.pageContent{

    margin-bottom: 200px;

    position: relative;
}

.pageNumber{

    position: absolute;
    left: 50%;
    bottom: -100px;

    transform: translateX(-50%);

    ul{


        .number{



            &:first-child{

                a{

                    background-color: $bc-number-black;
                    color: $fc-white;
                }

            }

            a{
                display: block;

                width: 25px;
                height: 25px;

                color: $fc-black;
                background-color: unset;

                text-align: center;

                border-radius: 50%;
    
                
                font-weight: bold;

                &:hover{
                    background-color: $bc-number-black;
                    color: $fc-white;
                }
            }

        }

        .nextBTN,.lastBTN{
            border: 1px solid $bc-number-black;

            padding: 10px 20px ;

            a{

                color: $fc-black;
            }
        }

        .nextBTN{

            margin-left: 20px;
        }

        .lastBTN{
            margin-left: 10px;
        }
    }

    .more{

        border: 1px solid $bc-number-black;

        padding: 10px 50px ;

    }
}