@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


* {
    box-sizing: border-box;
}

.btnGroup {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    border-bottom: 1px solid $fc-pure-gray;

    @media screen and (max-width:768px) {
        display: none;
    }

    a {
        margin: 0px 20px 30px 0px;

        .btnArea {
            @include little_btn_style(105px, 40px, 8px, 8px, $black);
            @include text_style($fs-16, unset, center, 2px);
            color: $fc-pure-gray;

            &.active {
                background-color: $bc-dark-brown-hover;
                color: $fc-white;
            }
        }
    }
}

.nameGroup {

    border: 2px solid $fc-black;

    padding: 15px 0;

    margin-top: 30px;

    letter-spacing: 2px;
    font-weight: bold;

    .dateName {

        min-width: 130px;

        text-align: center;
    }

    .themeName {

        display: flex;
        justify-content: center;
        flex-grow: 1;

        text-align: center;
    }

    .placeName {

        width: 175px;

        text-align: center;
    }

    .loadingPointName {

        min-width: 165px;

        text-align: center;
    }
}

.news_list {
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;

    .news {
        width: 100%;
        min-height: 90px;
        border-bottom: 2px solid $fc-gray;

        .date {
            min-width: 130px;
            max-height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 2px;
            color: $fc-gray;

            @media (max-width:992px) {
                width: unset;
                color: $fc-666666-gray;
                font-size: $fs-12;
                font-weight: bold;
                padding-top: 30px;
                padding-bottom: 15px;
                justify-content: flex-start;
            }

            span {

                font-size: $fs-12;
                color: $fc-666666-gray;
                font-weight: bold;
                letter-spacing: 4px;

                border-left: 1px solid $fc-666666-gray;
                border-right: 1px solid $fc-666666-gray;

                padding: 0 15px;
                margin-left: 15px;
            }

        }

        .theme {
            width: 100%;
            max-height: 90px;
            padding: 0px 15px;
            display: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;

            @media (min-width: 992px) {
                display: flex;
            }

            &::before {
                content: '';
                height: 20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                border: 1px solid $fc-gray;
            }

            &::after {
                content: '';
                height: 20px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                border: 1px solid $fc-gray;
            }

        }

        .themePhoneName {
            font-size: $fs-14;
            letter-spacing: 2px;
        }

        .place {
            min-width: 175px;
            max-height: 90px;
            display: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;

            @media (min-width: 992px) {
                display: flex;
            }

            &::after {
                content: '';
                height: 20px;
                border: 1px solid $fc-gray;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

        }

        .placePhoneName {

            font-size: $fs-12;
            color: $fc-666666-gray;
            font-weight: bold;
            padding: 10px 0;
            letter-spacing: 4px;

            span {
                padding: 0 9px;
                border-left: 1px solid $fc-666666-gray;
            }

        }

        .loadingPointPhoneName {

            span {
                color: $fc-666666-gray;
                font-size: $fs-12;
                letter-spacing: 1px;
                padding-right: 9px;
                border-right: 1px solid $fc-666666-gray;
            }
        }

        .loadingarea {
            min-width: 165px;
            display: flex;
            justify-content: center;
            align-self: center;
            flex-wrap: wrap;
            padding: 16px 0px 16px 15px;
            margin: 0px -5.5px 0px 0px;

            @media (max-width:992px) {
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin-left: 0;
                border-bottom: none;
                padding: 15px 0 30px 0;
                margin: 0px -7.5px;

            }

            .loadingPoint {
                @include text_style($fs-12, unset, center, unset);
                margin: 0px 5px 5px;
                width: 40px;
                height: 30px;
                padding: 5px;
                border: 1px solid $fc-gray;
                color: $fc-black;

                @media (max-width:992px) {
                    min-height: 20px;
                    font-size: $fs-12;
                    color: $fc-666666-gray;
                    font-weight: bold;
                }

                &:hover {
                    border: 1px solid $fc-white;
                    background-color: $fc-black;
                    color: $fc-white;

                    @media (max-width:992px) {

                        background-color: $fc-666666-gray;
                    }
                }
            }
        }
    }
}

.pageNumber {
    position: relative;
    height: 100px;

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .number {
            &:first-child {
                a {
                    background-color: $bc-number-black;
                    color: $fc-white;
                }
            }

            a {
                display: block;
                width: 25px;
                height: 25px;
                color: $fc-black;
                background-color: unset;
                text-align: center;
                border-radius: 50%;
                font-weight: bold;

                &:hover {
                    background-color: $bc-number-black;
                    color: $fc-white;
                }
            }
        }

        .nextBTN,
        .lastBTN {
            width: 106px;
            text-align: center;
            border: 1px solid $bc-number-black;
            padding: 10px 20px;

            a {
                color: $fc-black;
            }
        }

        .nextBTN {
            margin-left: 20px;
        }

        .lastBTN {
            margin-left: 10px;
        }
    }

    .more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $bc-number-black;
        padding: 10px 50px;

    }
}