@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
}

a:hover {
  color: #886D6A;
  text-decoration: none;
}

a:active {
  color: #000000;
}

@media (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .btnGroup {
    display: none;
  }
}

.btnGroup a {
  margin: 0px 20px 30px 0px;
}

.btnGroup a .btnArea {
  width: 105px;
  max-height: 40px;
  padding: 8px 15px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 2px;
  color: #4D4D4D;
}

.btnGroup a .btnArea:hover {
  background-color: #352E2C;
  color: #FFFFFF;
}

.btnGroup a .btnArea.active {
  background-color: #352E2C;
  color: #FFFFFF;
}

.nameGroup {
  border: 2px solid #000000;
  padding: 15px 0;
  letter-spacing: 4px;
  font-weight: bold;
}

.nameGroup .dateName {
  min-width: 130px;
  text-align: center;
}

.nameGroup .themeName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.nameGroup .placeName {
  width: 175px;
  text-align: center;
}

.nameGroup .loadingPointName {
  min-width: 165px;
  text-align: center;
}

.news_list {
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

.news_list .news {
  width: 100%;
  min-height: 90px;
  border-bottom: 2px solid #808080;
}

.news_list .news .date {
  min-width: 130px;
  max-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  color: #808080;
}

@media (max-width: 992px) {
  .news_list .news .date {
    width: unset;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.news_list .news .date span {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  letter-spacing: 4px;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  padding: 0 15px;
  margin-left: 15px;
}

.news_list .news .theme {
  width: 100%;
  max-height: 90px;
  padding: 0px 15px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

@media (min-width: 992px) {
  .news_list .news .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news_list .news .theme::before {
  content: '';
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #808080;
}

.news_list .news .theme::after {
  content: '';
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #808080;
}

.news_list .news .themePhoneName {
  font-size: 14px;
  letter-spacing: 2px;
}

.news_list .news .place {
  min-width: 175px;
  max-height: 90px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

@media (min-width: 992px) {
  .news_list .news .place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news_list .news .place::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .placePhoneName {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  padding: 10px 0;
  letter-spacing: 4px;
}

.news_list .news .placePhoneName span {
  padding: 0 9px;
  border-left: 1px solid #666666;
}

.news_list .news .loadingPointPhoneName span {
  color: #666666;
  font-size: 12px;
  letter-spacing: 1px;
  padding-right: 9px;
  border-right: 1px solid #666666;
}

.news_list .news .loadingarea {
  min-width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0px 16px 15px;
  margin: 0px -5.5px 0px 0px;
}

@media (max-width: 992px) {
  .news_list .news .loadingarea {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
    border-bottom: none;
    padding: 15px 0 30px 0;
    margin: 0px -7.5px;
  }
}

.news_list .news .loadingarea .loadingPoint {
  font-size: 12px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 0;
  margin: 0px 5px 5px;
  width: 40px;
  height: 30px;
  padding: 5px;
  border: 1px solid #808080;
  color: #000000;
}

@media (max-width: 992px) {
  .news_list .news .loadingarea .loadingPoint {
    min-height: 20px;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
  }
}

.news_list .news .loadingarea .loadingPoint:hover {
  border: 1px solid #FFFFFF;
  background-color: #000000;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .news_list .news .loadingarea .loadingPoint:hover {
    background-color: #666666;
  }
}

.pageNumber {
  position: relative;
  width: 100%;
  height: 100px;
}

.pageNumber ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .nextBTN,
.pageNumber ul .lastBTN {
  width: 106px;
  text-align: center;
  border: 1px solid #333333;
  padding: 10px 20px;
}

.pageNumber ul .nextBTN:hover,
.pageNumber ul .lastBTN:hover {
  background-color: #333333;
}

.pageNumber ul .nextBTN:hover a,
.pageNumber ul .lastBTN:hover a {
  color: #FFFFFF;
}

.pageNumber ul .nextBTN a,
.pageNumber ul .lastBTN a {
  color: #000000;
}

.pageNumber ul .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #333333;
  padding: 10px 50px;
}
/*# sourceMappingURL=07-LP-News.css.map */