@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
}

a:hover {
  color: #886D6A;
  text-decoration: none;
}

a:active {
  color: #000000;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 992px) {
  .btnGroup {
    border-bottom: 1px solid;
  }
}

.btnGroup .btnArea {
  min-width: 60px;
  border: 2px solid #000000;
  border-radius: 7px;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 30px;
  margin-right: 20px;
}

.btnGroup .btnArea:hover {
  background-color: #352E2C;
  color: #FFFFFF;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .btnGroup .btnArea {
    padding: 5px 20px;
  }
}

@media (max-width: 992px) {
  .btnGroup .btnArea {
    padding: 5px 0px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

.nameGroup {
  border: 1px solid #000000;
  padding: 15px 0;
  margin: 30px 0;
}

.nameGroup .dateName {
  min-width: 130px;
  text-align: center;
}

.nameGroup .themeName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.nameGroup .placeName {
  width: 175px;
  text-align: center;
}

.nameGroup .loadingPointName {
  min-width: 165px;
  text-align: center;
}

.news_list {
  width: 100%;
  font-weight: bold;
}

.news_list .news {
  width: 100%;
  min-height: 90px;
  border-bottom: 1px solid #808080;
}

.news_list .news .date {
  min-width: 130px;
  line-height: 90px;
  letter-spacing: 2px;
}

@media (max-width: 992px) {
  .news_list .news .date {
    width: unset;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: unset;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.news_list .news .date span {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  letter-spacing: 4px;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  padding: 0 15px;
  margin-left: 15px;
}

.news_list .news .theme {
  width: 100%;
  text-align: center;
  position: relative;
  line-height: 90px;
}

.news_list .news .theme::before {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .theme::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .themePhoneName {
  font-size: 14px;
  letter-spacing: 2px;
}

.news_list .news .place {
  min-width: 175px;
  line-height: 90px;
  text-align: center;
  position: relative;
}

.news_list .news .place::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .placePhoneName {
  font-size: 12px;
  color: #666666;
  font-weight: bold;
  padding: 10px 0;
  letter-spacing: 4px;
}

.news_list .news .placePhoneName span {
  padding: 0 9px;
  border-left: 1px solid #666666;
}

.news_list .news .loadingPointPhoneName span {
  color: #666666;
  font-size: 12px;
  letter-spacing: 1px;
  padding-right: 9px;
  border-right: 1px solid #666666;
}

.news_list .news .btnGroup {
  min-width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 16px 0;
}

@media (max-width: 992px) {
  .news_list .news .btnGroup {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 0;
    border-bottom: none;
    padding: 15px 0 30px 0;
  }
}

.news_list .news .btnGroup .loadingPoint {
  min-width: 39px;
  min-height: 27px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #808080;
  padding: 1px;
  margin: 0 5px 3px 0;
}

@media (max-width: 992px) {
  .news_list .news .btnGroup .loadingPoint {
    min-height: 20px;
    color: #666666;
    font-weight: bold;
    margin: 0 10px 3px 0;
  }
}

.news_list .news .btnGroup .loadingPoint:hover {
  border: 1px solid #FFFFFF;
  background-color: #000000;
}

@media (max-width: 992px) {
  .news_list .news .btnGroup .loadingPoint:hover {
    background-color: #666666;
  }
}

.news_list .news .btnGroup .loadingPoint:hover a {
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .news_list .news .btnGroup .loadingPoint:hover a {
    color: #FFFFFF;
  }
}

.news_list .news .btnGroup .loadingPoint a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 992px) {
  .news_list .news .btnGroup .loadingPoint a {
    font-size: 12px;
    color: #666666;
    font-weight: bold;
  }
}

.pageContent {
  margin-bottom: 200px;
  position: relative;
}

.pageNumber {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .nextBTN, .pageNumber ul .lastBTN {
  border: 1px solid #333333;
  font-weight: bold;
  padding: 10px 20px;
}

@media (max-width: 1400px) {
  .pageNumber ul .nextBTN, .pageNumber ul .lastBTN {
    padding: 10px 5px;
  }
}

.pageNumber ul .nextBTN a, .pageNumber ul .lastBTN a {
  color: #000000;
}

.pageNumber ul .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  border: 2px solid #333333;
  font-weight: bold;
  padding: 10px 45px;
  cursor: pointer;
}
/*# sourceMappingURL=07-LP-News.css.map */