@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardBox {
  width: calc(33.33333% - 30px);
  margin: 0 30px 50px 0;
}

@media (max-width: 577px) {
  .cardBox {
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.cardBox a {
  color: unset;
}

.cardBox a .photo {
  width: 100%;
  height: 160px;
  background-image: url(../img/test.jpg);
  background-color: black;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.cardBox a .photo p {
  font-weight: bold;
}

.cardBox a .photo .mask {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
  background-image: linear-gradient(top, #000000, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.cardBox a .photo .mask:hover .fa-youtube {
  color: red;
  -webkit-transition: .5s;
  transition: .5s;
}

.cardBox a .photo .mask .fa-youtube {
  font-size: 120px;
  position: relative;
}

.cardBox a .photo .mask .fa-youtube::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.pageContent {
  margin-bottom: 200px;
  position: relative;
}

.pageNumber {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .nextBTN, .pageNumber ul .lastBTN {
  border: 1px solid #333333;
  padding: 10px 20px;
}

.pageNumber ul .nextBTN a, .pageNumber ul .lastBTN a {
  color: #000000;
}

.pageNumber ul .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  border: 1px solid #333333;
  padding: 10px 50px;
}
/*# sourceMappingURL=09-LP-Video.css.map */