@import "./_variables.scss";
@import "./_function.scss";


// 重複性高的
.title {
    display: flex;
    margin-bottom: 45px;
    flex-wrap: wrap;

    // align-items: center;
    @media screen and (max-width:768px) {
        flex-direction: column;
    }

    li {
        display: flex;
        align-items: center;


        .icon {
            height: 3px;
            width: 24px;
            background-color: $black;
        }

        &:nth-child(1) {
            margin-right: 20px;

            @media screen and (max-width:768px) {
                margin-bottom: 30px;
            }
        }

        &:nth-child(2) {
            font-size: $fs-22;
            font-weight: $fw-700;
            letter-spacing: 5px;

            @media screen and (max-width:768px) {
                margin-bottom: 15px;
            }
        }

        &.Note {
            width: 100%;
            font-size: $fs-14;
            font-weight: $fw-700;
            letter-spacing: 5px;
            padding-left: 45px;
            margin-top: 10px;

            @media screen and (max-width:768px) {
                margin-bottom: 30px;
            }
        }
    }
}

.newitem {
    max-width: 800px;
    padding: 0px 15px;

    @media screen and (max-width:768px) {
        padding: 0px;
    }

    .teacher {
        padding: 0px 15px;

        .title {
            margin: 0px -15px 45px;
        }

        .name {
            font-size: $fs-18;
            letter-spacing: 2px;
            padding-bottom: 30px;

            &>div {
                // min-width: 150px;
                letter-spacing: 4px;
                padding: 0px 0px 0px 20px;
                position: relative;
                line-height: 24px;
                font-weight: 900;
                display: flex;
                flex-direction: column;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8px;
                    height: 17px;
                    transform: translate(0%, 5px);
                    background-color: $bc-brown;
                }
            }
        }

        .form_input {

            margin-bottom: 40px;

            @media (max-width:992px) {
                margin-bottom: 30px;
            }

            &>input {
                width: 100%;
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                outline-width: 0px none invert;
                border: 1px solid $br-black;
                text-shadow: none;
                -webkit-appearance: none;
                -webkit-user-select: text;
                outline-color: transparent;
                letter-spacing: 4px;
            }
        }

    }

    .student {
        padding: 0px 15px;

        .title {
            margin: 0px -15px 45px;
        }

        .content {
            @media screen and (max-width:768px) {
                padding: 40px 20px 15px;
            }
        }
    }

    .content {
        position: relative;
        border-radius: 15px;
        border: 1px solid $black;
        padding: 50px;
        margin-bottom: 30px;

        @media screen and (max-width:1400px) {
            display: flex;
            flex-direction: column;
        }

        @media screen and (max-width:768px) {
            padding: 15px;
        }

        .name {
            font-size: $fs-18;
            letter-spacing: 2px;
            padding-bottom: 30px;

            &>div {
                // min-width: 150px;
                letter-spacing: 4px;
                padding: 0px 0px 0px 20px;
                position: relative;
                line-height: 24px;
                font-weight: 900;


                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 8px;
                    height: 17px;
                    transform: translate(0%, -50%);
                    background-color: $bc-brown;
                }
            }
        }

        .add,
        .del {
            background-color: $black;
            color: $white;
        }

        .form_input {

            margin-bottom: 40px;

            @media (max-width:992px) {
                margin-bottom: 30px;
            }

            &>input {
                width: 100%;
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                outline-width: 0px none invert;
                border: 1px solid $br-black;
                text-shadow: none;
                -webkit-appearance: none;
                -webkit-user-select: text;
                outline-color: transparent;
                letter-spacing: 4px;
            }
        }


    }
}

.newelement {
    .title {
        margin-bottom: 20px;

        li:nth-child(2) {
            margin: 0px;
        }
    }

    textarea {
        width: 100%;
        height: 90px;
        resize: none;
        border: 1px solid $black;
        border-radius: 10px;
        margin-bottom: 40px;

        @media screen and (max-width:768px) {
            height: 150px;
        }
    }

    .Experience_status {
        .Note {
            padding: 35px 0px 25px;
            width: 100%;
            font-size: $fs-18;
            font-weight: $fw-600;

            @media screen and (max-width:768px) {
                padding: 0px 0px 25px;
            }

            span {
                &:nth-child(1) {
                    position: relative;
                    padding-right: 15px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 2px;
                        height: 20px;
                        background-color: $black;
                    }
                }

                &:nth-child(2) {
                    padding-left: 15px;
                }
            }
        }

        .block {
            border-radius: 15px;
            border: 1px solid $black;
            padding: 40px 50px 0px;
            margin-bottom: 30px;

            @media screen and (max-width:768px) {
                margin-bottom: 40px;
                padding: 15px;
            }

            .name {
                font-size: $fs-18;
                letter-spacing: 2px;
                padding-bottom: 30px;

                @media screen and (max-width:768px) {
                    padding-bottom: 18px;
                }

                &>div {
                    // min-width: 150px;
                    letter-spacing: 4px;
                    padding: 0px 0px 0px 20px;
                    position: relative;
                    line-height: 24px;
                    font-weight: 900;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 8px;
                        height: 17px;
                        transform: translate(0%, 5px);
                        background-color: $bc-brown;
                    }
                }

                .two {
                    display: flex;
                    flex-direction: column;
                }
            }

            .form_input {

                margin-bottom: 40px;

                @media (max-width:992px) {
                    margin-bottom: 30px;
                }

                &>input {
                    width: 100%;
                    height: 40px;
                    padding: 10px 20px;
                    border-radius: 5px;
                    outline-width: 0px none invert;
                    border: 1px solid $br-black;
                    text-shadow: none;
                    -webkit-appearance: none;
                    -webkit-user-select: text;
                    outline-color: transparent;
                    letter-spacing: 4px;
                }

                &.data {
                    display: flex;
                    flex-wrap: nowrap;

                    @media screen and (max-width:768px) {
                        flex-wrap: wrap;

                        &>input {
                            width: 75%;
                            margin-bottom: 15px;
                        }
                    }

                    span {
                        font-size: $fs-18;
                        font-weight: $fw-600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 56px;

                        @media screen and (max-width:768px) {
                            margin-bottom: 15px;
                        }
                    }

                }
            }
        }

        .add {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 58px;

            @media screen and (max-width:768px) {
                justify-content: center;
            }

            input {
                @include text_style($fs-16, $fw-700, center, 3px);
                @include font_hover($bc-brown, $fc-white);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                width: 200px;
                height: 40px;
                border: 1px solid $black;
                border-radius: 50px;
                transition: 0.3s;


                &:hover {
                    background-color: $bc-brown;
                }
            }
        }
    }


}

.block {
    @media screen and (max-width:1400px) {
        max-width: 100%;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width:1400px) {
        max-width: 100%;
        flex-direction: row;
    }

    input {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: unset;
        font-size: $fs-24;
        margin: 15px 0px;

        @media screen and (max-width:1400px) {
            margin: 0px 15px;
        }
    }
}

.form_btn {
    button {
        @include text_style($fs-16, unset, center, 3px);
        @include btn_style(220px, unset, 10px, unset, unset, transparent, $brown);
        @include font_hover($bc-brown, $fc-white);
        width: 220px;
        margin-left: 20px;
        border: 1px solid $bc-brown;

        @media screen and (max-width:1400px) {
            width: 50%;
            margin-left: 10px;

            &:nth-last-child(1) {
                margin-left: 10px;
                margin-right: 0px;
            }
        }
    }
}

// 重複性高的

// 這別頁面修改
.Application_from {

    .name {
        font-size: $fs-22;
        letter-spacing: 2px;
        padding-bottom: 30px;

        &>div {
            min-width: 150px;
            letter-spacing: 4px;
            padding: 0px 0px 0px 20px;
            position: relative;
            line-height: 24px;
            font-size: $fs-18;
            font-weight: $fw-700;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 8px;
                height: 17px;
                transform: translate(0%, 5px);
                background-color: $bc-brown;
            }
        }
    }

    .form_input {
        margin-bottom: 40px;

        @media screen and (max-width:1200px) {
            margin-bottom: 40px;

            .block {
                margin-bottom: 20px;
            }
        }

        &>input {
            width: 100%;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: $fs-14;
            letter-spacing: 4px;
            outline-width: 0px none invert;
            border: 1px solid $br-black;
            text-shadow: none;
            -webkit-appearance: none;
            -webkit-user-select: text;
            outline-color: transparent;
            box-shadow: none;
        }

        select {
            &.identity {
                width: 110px;
                padding: 10px 20px;
                border-radius: 5px;
                margin-right: -20px;
                -webkit-appearance: none;
                text-indent: 0.01px;
                background-image: url('../img/icon/caret-down-solid.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-x: 96%;
                background-position-y: center;
                font-size: $fs-14;
                letter-spacing: 4px;

                & option:nth-child(1) {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                option {
                    line-height: 30px;
                    width: 100%;
                    padding: 10px 20px;
                    font-size: $fs-14;
                    letter-spacing: 4px;
                }

            }

            &.area {
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                margin-right: -20px;
                -webkit-appearance: none;
                text-indent: 0.01px;
                background-image: url('../img/icon/caret-down-solid.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-x: 96%;
                background-position-y: center;
                font-size: $fs-14;
                letter-spacing: 4px;

                & option:nth-child(1) {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                option {
                    line-height: 30px;
                    width: 100%;
                    padding: 10px 20px;
                    font-size: $fs-14;
                    letter-spacing: 4px;
                }
            }
        }

        img {
            width: 100%;
            border: 1px solid $br-black;

            @media screen and (max-width:1200px) {
                height: 40px;
            }
        }

        .icon {
            width: 100px;
            font-size: $fs-18;
            display: flex;
            justify-content: space-around;

            & i {
                margin: 0px 2px;
                padding: 7px;
                border-radius: 50%;
                color: $fc-white;
                background-color: $bc-black;
                align-items: center;
                cursor: pointer;
            }

        }

        &.two {
            input {
                &:nth-child(1) {
                    margin-bottom: 40px;
                }
            }
        }

        &.identity_area {
            display: flex;
            flex-wrap: wrap;

            .identity {
                margin-right: 40px;
            }

            input {
                width: calc(100% - 150px);

                @media screen and (max-width:768px) {
                    width: 100%;
                    margin-top: 10px;
                }

            }
        }

        &>ul {
            padding-bottom: 20px;
            border-bottom: 1px solid $br-black;
            flex-wrap: wrap;


            @media screen and (max-width:1200px) {
                flex-wrap: wrap;
            }

            li {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                @media screen and (max-width:1200px) {
                    // width: 50%;
                    margin-bottom: 20px;
                }

                div {
                    min-width: 130px;
                    width: 130px;
                    font-size: $fs-14;
                    letter-spacing: 3px;
                    padding-left: 10px;
                    margin-right: 30px;

                    @media screen and (max-width:768px) {
                        margin-right: 10px;
                    }
                }

                .run {
                    min-width: 160px;
                    width: 160px;
                }

                .other {
                    display: flex;
                    min-width: 200px;

                    span {
                        min-width: 50px;
                    }
                }
            }
        }
    }

    .dateInput {
        position: relative;

        input {
            height: 40px;
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
            border: 1px solid black;
            position: relative;
        }

        i {
            font-size: $fs-22;
            opacity: 0.6;
            position: absolute;
            right: 15px;
            top: 8px;
        }

        .period {
            font-weight: bold;
            margin-right: 25px;
        }
    }

    .Privacy {
        margin-bottom: 45px;
        display: flex;

        p {
            text-align: justify;
            padding-left: 10px;
            margin-top: -5px;
        }
    }

}

.StudentInformation_from {

    .name {
        font-size: $fs-22;
        letter-spacing: 2px;
        padding-bottom: 30px;

        &>div {
            min-width: 150px;
            letter-spacing: 4px;
            padding: 0px 0px 0px 20px;
            position: relative;
            line-height: 24px;
            font-size: $fs-18;
            font-weight: $fw-700;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 8px;
                height: 17px;
                transform: translate(0%, 5px);
                background-color: $bc-brown;
            }
        }
    }

    .form_input {
        margin-bottom: 40px;

        @media screen and (max-width:1200px) {
            margin-bottom: 40px;

            .block {
                margin-bottom: 20px;
            }
        }

        &>input {
            width: 100%;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: $fs-14;
            letter-spacing: 4px;
            outline-width: 0px none invert;
            border: 1px solid $br-black;
            text-shadow: none;
            -webkit-appearance: none;
            -webkit-user-select: text;
            outline-color: transparent;
            box-shadow: none;
        }

        select {
            &.identity {
                width: 110px;
                padding: 10px 20px;
                border-radius: 5px;
                margin-right: -20px;
                -webkit-appearance: none;
                text-indent: 0.01px;
                background-image: url('../img/icon/caret-down-solid.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-x: 96%;
                background-position-y: center;
                font-size: $fs-14;
                letter-spacing: 4px;

                & option:nth-child(1) {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                option {
                    line-height: 30px;
                    width: 100%;
                    padding: 10px 20px;
                    font-size: $fs-14;
                    letter-spacing: 4px;
                }

            }

            &.area {
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                margin-right: -20px;
                -webkit-appearance: none;
                text-indent: 0.01px;
                background-image: url('../img/icon/caret-down-solid.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-x: 96%;
                background-position-y: center;
                font-size: $fs-14;
                letter-spacing: 4px;

                & option:nth-child(1) {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                option {
                    line-height: 30px;
                    width: 100%;
                    padding: 10px 20px;
                    font-size: $fs-14;
                    letter-spacing: 4px;
                }
            }

            &.grade {
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                margin-right: -20px;
                -webkit-appearance: none;
                text-indent: 0.01px;
                background-image: url('../img/icon/caret-down-solid.svg');
                background-size: 20px;
                background-repeat: no-repeat;
                background-position-x: 96%;
                background-position-y: center;
                font-size: $fs-14;
                letter-spacing: 4px;

                & option:nth-child(1) {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                option {
                    line-height: 30px;
                    width: 100%;
                    padding: 10px 20px;
                    font-size: $fs-14;
                    letter-spacing: 4px;
                }
            }
        }

        img {
            width: 100%;
            border: 1px solid $br-black;

            @media screen and (max-width:1200px) {
                height: 40px;
            }
        }

        .icon {
            width: 100px;
            font-size: $fs-18;
            display: flex;
            justify-content: space-around;

            & i {
                margin: 0px 2px;
                padding: 7px;
                border-radius: 50%;
                color: $fc-white;
                background-color: $bc-black;
                align-items: center;
                cursor: pointer;
            }

        }

        &.two {
            input {
                &:nth-child(1) {
                    margin-bottom: 40px;
                }
            }
        }

        &.identity_area {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .identity {
                margin-right: 40px;
            }

            input {
                width: calc(100% - 250px);

                @media screen and (max-width:768px) {
                    width: 100%;
                    margin-top: 10px;
                }

            }

            button {
                width: 210px;
                height: 40px;
                background-color: $brown;
                color: $white;
                font-size: $fs-14;
                font-weight: $fw-600;
                border: none;
                border-radius: 5px;

                @media screen and (max-width:768px) {
                    margin-top: 30px;
                }
            }
        }

        &>ul {
            padding-bottom: 20px;
            border-bottom: 1px solid $br-black;
            flex-wrap: wrap;


            @media screen and (max-width:1200px) {
                flex-wrap: wrap;
            }

            li {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                @media screen and (max-width:1200px) {
                    // width: 50%;
                    margin-bottom: 20px;
                }

                div {
                    min-width: 130px;
                    width: 130px;
                    font-size: $fs-14;
                    letter-spacing: 3px;
                    padding-left: 10px;
                    margin-right: 30px;

                    @media screen and (max-width:768px) {
                        margin-right: 10px;
                    }
                }

                .run {
                    min-width: 160px;
                    width: 160px;
                }

                .other {
                    display: flex;
                    min-width: 200px;

                    span {
                        min-width: 50px;
                    }
                }
            }
        }

        &.school {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width:768px) {
                justify-content: flex-start;
            }

            input {
                width: calc(100% - 250px);

                @media screen and (max-width:768px) {
                    width: 100%;
                    margin-top: 10px;
                }

            }

            select {
                @media screen and (max-width:768px) {
                    margin-right: 30px;
                }
            }

            .area {
                width: 108px;
                height: 40px;
            }

            .grade {
                width: 90px;
                height: 40px;
            }
        }
    }

    .dateInput {
        position: relative;

        input {
            height: 40px;
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
            border: 1px solid black;
            position: relative;
        }

        i {
            font-size: $fs-22;
            opacity: 0.6;
            position: absolute;
            right: 15px;
            top: 8px;
        }

        .period {
            font-weight: bold;
            margin-right: 25px;
        }
    }

    .Privacy {
        margin-bottom: 45px;
        display: flex;

        @media screen and (max-width:768px) {
            border-top: 1px solid $black;
            padding-top: 40px;
        }

        input {
            transform: translate(-30px, 42px);

            @media screen and (max-width:768px) {
                transform: translate(0px, 0px);
            }

        }

        p {
            width: 100%;
            margin-left: -10px;
            padding-top: 40px;
            border-top: 1px solid $black;
            text-align: justify;
            margin-top: -5px;

            @media screen and (max-width:768px) {
                margin-left: 0px;
                padding-top: 0px;
                padding-left: 5px;
                border-top: 0px solid $black;
            }
        }
    }

    .form_btn {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width:768px) {
            justify-content: center;
        }
    }
}

.StudentReadme_from {
    .title {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 45px;

        // align-items: center;
        @media screen and (max-width:768px) {
            flex-direction: column;
        }

        li {
            display: flex;
            align-items: center;

            .icon {
                height: 8px;
                width: 50px;
                background-color: $black;
            }

            &:nth-child(1) {
                padding-top: 7px;
                margin-right: 20px;
                align-items: flex-start;

                @media screen and (max-width:768px) {
                    margin-bottom: 30px;
                }
            }

            &:nth-child(2) {
                font-size: $fs-16;
                font-weight: $fw-700;
                letter-spacing: 5px;
                text-align: justify;

                @media screen and (max-width:768px) {
                    margin-bottom: 15px;
                }
            }

            &.file {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }

    .form_input {
        margin-bottom: 40px;

        @media screen and (max-width:1200px) {
            margin-bottom: 40px;

            .block {
                margin-bottom: 20px;
            }
        }

        textarea {
            width: 100%;
            height: 90px;
            resize: none;
            border: 1px solid $black;
            border-radius: 10px;

            @media screen and (max-width:768px) {
                height: 150px;
            }
        }

        img {
            width: 100%;
            border: 1px solid $br-black;

            @media screen and (max-width:1200px) {
                height: 40px;
            }
        }

        .icon {
            width: 100px;
            font-size: $fs-18;
            display: flex;
            justify-content: space-around;

            & i {
                margin: 0px 2px;
                padding: 7px;
                border-radius: 50%;
                color: $fc-white;
                background-color: $bc-black;
                align-items: center;
                cursor: pointer;
            }

        }
    }

    .form_btn {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width:768px) {
            justify-content: center;
        }
    }

    .file_area {
        display: flex;
        flex-wrap: nowrap;

        input {
            display: none;
        }

        .File_show {
            width: 100%;
        }

        .File_button {
            padding-left: 30px;
            width: 200px;
        }
    }
}

.from {
    .text {
        font-size: $fs-14;
        font-weight: $fw-600;
        letter-spacing: 2px;
        padding: 0px 0px 50px;
    }

    .nav-pills {
        margin-bottom: 50px;

        @media screen and (max-width:768px) {
            justify-content: center;
        }



        .nav-item {
            width: 250px;
            height: 40px;
            font-size: $fs-18;
            font-weight: $fw-700;
            letter-spacing: 2px;
            text-align: center;

            .active {
                color: $white;
                background-color: $brown;
            }

            .nav-link {
                border-radius: 0px;
                border: 1px solid $black;

            }
        }
    }

    .form_btn {
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width:768px) {
            justify-content: center;
        }
    }

    .name {
        font-size: $fs-22;
        letter-spacing: 2px;
        padding-bottom: 30px;

        @media (min-width: 1200px) {
            flex: 0 0 25%;
        }

        &>div {
            min-width: 150px;
            letter-spacing: 4px;
            padding: 0px 0px 0px 20px;
            position: relative;
            line-height: 24px;
            font-size: $fs-18;
            font-weight: $fw-700;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 8px;
                height: 17px;
                transform: translate(0%, 5px);
                background-color: $bc-brown;
            }
        }

        &.Editor {
            &>div {
                letter-spacing: 3px;
            }
        }
    }

    .form_input {
        margin-bottom: 40px;
        flex-direction: row;

        @media screen and (max-width:1200px) {
            margin-bottom: 40px;

            .block {
                margin-bottom: 20px;
            }
        }

        &>input {
            width: 100%;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: $fs-14;
            letter-spacing: 4px;
            outline-width: 0px none invert;
            border: 1px solid $br-black;
            text-shadow: none;
            -webkit-appearance: none;
            -webkit-user-select: text;
            outline-color: transparent;
            box-shadow: none;
        }

        img {
            width: 100%;
            border: 1px solid $br-black;

            @media screen and (max-width:1200px) {
                height: 40px;
            }
        }

        .icon {
            width: 100px;
            font-size: $fs-18;
            display: flex;
            justify-content: space-around;

            & i {
                margin: 0px 2px;
                padding: 7px;
                border-radius: 50%;
                color: $fc-white;
                background-color: $bc-black;
                align-items: center;
                cursor: pointer;
            }

        }

        &.identity_area {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &>div {
                width: 100%;
            }

            .identity {
                margin-right: 40px;
            }

            input {
                width: calc(100% - 250px);

                @media screen and (max-width:768px) {
                    width: 100%;
                    margin-top: 10px;
                }

            }

            button {
                width: 210px;
                height: 40px;
                background-color: $brown;
                color: $white;
                font-size: $fs-14;
                font-weight: $fw-600;
                border: none;
                border-radius: 5px;

                @media screen and (max-width:768px) {
                    margin-top: 30px;
                }
            }
        }
    }

    .Information_from {
        .text_title {
            font-size: $fs-14;
            font-weight: $fw-600;
            letter-spacing: 3px;

            li {
                margin-bottom: 30px;
            }
        }

        .name {
            font-size: $fs-22;
            letter-spacing: 2px;
            padding-bottom: 30px;

            &>div {
                min-width: 150px;
                letter-spacing: 4px;
                padding: 0px 0px 0px 20px;
                position: relative;
                line-height: 24px;
                font-size: $fs-18;
                font-weight: $fw-700;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8px;
                    height: 17px;
                    transform: translate(0%, 5px);
                    background-color: $bc-brown;
                }

                &.two {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .form_input {
            margin-bottom: 40px;

            @media screen and (max-width:1200px) {
                margin-bottom: 40px;

                .block {
                    margin-bottom: 20px;
                }
            }

            &>input {
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: $fs-14;
                letter-spacing: 4px;
                outline-width: 0px none invert;
                border: 1px solid $br-black;
                text-shadow: none;
                -webkit-appearance: none;
                -webkit-user-select: text;
                outline-color: transparent;
                box-shadow: none;
            }

            select {
                &.identity {
                    width: 110px;
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-right: -20px;
                    -webkit-appearance: none;
                    text-indent: 0.01px;
                    background-image: url('../img/icon/caret-down-solid.svg');
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position-x: 96%;
                    background-position-y: center;
                    font-size: $fs-14;
                    letter-spacing: 4px;

                    & option:nth-child(1) {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }

                    option {
                        line-height: 30px;
                        width: 100%;
                        padding: 10px 20px;
                        font-size: $fs-14;
                        letter-spacing: 4px;
                    }

                }

                &.area {
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-right: -20px;
                    -webkit-appearance: none;
                    text-indent: 0.01px;
                    background-image: url('../img/icon/caret-down-solid.svg');
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position-x: 96%;
                    background-position-y: center;
                    font-size: $fs-14;
                    letter-spacing: 4px;

                    & option:nth-child(1) {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }

                    option {
                        line-height: 30px;
                        width: 100%;
                        padding: 10px 20px;
                        font-size: $fs-14;
                        letter-spacing: 4px;
                    }
                }

                &.grade {
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 5px;
                    margin-right: -20px;
                    -webkit-appearance: none;
                    text-indent: 0.01px;
                    background-image: url('../img/icon/caret-down-solid.svg');
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position-x: 96%;
                    background-position-y: center;
                    font-size: $fs-14;
                    letter-spacing: 4px;

                    & option:nth-child(1) {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }

                    option {
                        line-height: 30px;
                        width: 100%;
                        padding: 10px 20px;
                        font-size: $fs-14;
                        letter-spacing: 4px;
                    }
                }
            }

            img {
                width: 100%;
                border: 1px solid $br-black;

                @media screen and (max-width:1200px) {
                    height: 40px;
                }
            }

            .icon {
                width: 100px;
                font-size: $fs-18;
                display: flex;
                justify-content: space-around;

                & i {
                    margin: 0px 2px;
                    padding: 7px;
                    border-radius: 50%;
                    color: $fc-white;
                    background-color: $bc-black;
                    align-items: center;
                    cursor: pointer;
                }

            }

            &.two {
                input {
                    &:nth-child(1) {
                        margin-bottom: 40px;
                    }
                }
            }

            &.identity_area {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .identity {
                    margin-right: 40px;
                }

                input {
                    width: calc(100% - 250px);

                    @media screen and (max-width:768px) {
                        width: 100%;
                        margin-top: 10px;
                    }

                }

                button {
                    width: 210px;
                    height: 40px;
                    background-color: $brown;
                    color: $white;
                    font-size: $fs-14;
                    font-weight: $fw-600;
                    border: none;
                    border-radius: 5px;

                    @media screen and (max-width:768px) {
                        margin-top: 30px;
                    }
                }
            }

            &.Clear_content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .identity {
                    margin-right: 40px;
                }

                input {
                    width: calc(100% - 120px);

                    @media screen and (max-width:768px) {
                        width: 100%;
                        margin-top: 10px;
                    }

                }

                button {
                    width: 100px;
                    height: 40px;
                    background-color: $brown;
                    color: $white;
                    font-size: $fs-14;
                    font-weight: $fw-600;
                    border: none;
                    border-radius: 5px;

                    @media screen and (max-width:768px) {
                        margin-top: 30px;
                    }
                }
            }

            .Application_radio {
                padding-bottom: 20px;
                border-bottom: 1px solid $br-black;
                flex-wrap: wrap;
                justify-content: space-between;


                @media screen and (max-width:1200px) {
                    flex-wrap: wrap;
                }

                li {
                    display: flex;
                    align-items: center;

                    input {
                        margin-right: 15px;
                    }
                }

                // ul {
                //     >li {
                //         display: flex;
                //         align-items: center;
                //         flex-direction: column;
                //         margin-bottom: 20px;

                //         @media screen and (max-width:1200px) {
                //             // width: 50%;
                //             margin-bottom: 20px;
                //         }

                //         >div {
                //             min-width: 130px;
                //             width: 130px;
                //             font-size: $fs-14;
                //             letter-spacing: 3px;
                //             padding-left: 10px;
                //             margin-right: 30px;

                //             @media screen and (max-width:768px) {
                //                 margin-right: 10px;
                //             }
                //         }

                //         .run {
                //             min-width: 160px;
                //             width: 160px;
                //         }

                //         .other {
                //             display: flex;
                //             min-width: 200px;

                //             span {
                //                 min-width: 50px;
                //             }
                //         }
                //     }
                // }

            }

            .Reader_radio {
                padding-bottom: 20px;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin: 0px -15px;
                position: relative;


                @media screen and (max-width:1200px) {
                    flex-wrap: wrap;
                }

                li {
                    display: flex;
                    align-items: center;
                    padding: 0px 10px;

                    input {
                        margin-right: 15px;
                    }

                    div {
                        letter-spacing: 5px;
                    }
                }

                &::before {
                    position: absolute;
                    bottom: 0px;
                    content: '';
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% - 30px);
                    height: 1px;
                    background-color: $black;

                }
            }

            &.address {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @media screen and (max-width:768px) {
                    justify-content: flex-start;
                }

                input {
                    width: calc(100% - 130px);

                    @media screen and (max-width:768px) {
                        width: 100%;
                        margin-top: 10px;
                    }

                }

                select {
                    @media screen and (max-width:768px) {
                        margin-right: 30px;
                    }
                }

                .area {
                    width: 108px;
                    height: 40px;
                }
            }
        }

        .dateInput {
            position: relative;

            input {
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                width: 100%;
                border: 1px solid black;
                position: relative;
            }

            i {
                font-size: $fs-22;
                opacity: 0.6;
                position: absolute;
                right: 15px;
                top: 8px;
            }

            .period {
                font-weight: bold;
                margin-right: 25px;
            }
        }

        .Privacy {
            margin-bottom: 45px;
            display: flex;

            @media screen and (max-width:768px) {
                border-top: 1px solid $black;
                padding-top: 40px;
            }

            input {
                transform: translate(-30px, 42px);

                @media screen and (max-width:768px) {
                    transform: translate(0px, 0px);
                }

            }

            p {
                width: 100%;
                margin-left: -10px;
                padding-top: 40px;
                border-top: 1px solid $black;
                text-align: justify;
                margin-top: -5px;

                @media screen and (max-width:768px) {
                    margin-left: 0px;
                    padding-top: 0px;
                    padding-left: 5px;
                    border-top: 0px solid $black;
                }
            }
        }

        .form_btn {
            display: flex;
            justify-content: flex-end;

            @media screen and (max-width:768px) {
                justify-content: center;
            }
        }


    }

    textarea {
        width: 100%;
        height: 90px;
        resize: none;
        border: 1px solid $black;
        border-radius: 10px;
        margin-bottom: 40px;

        @media screen and (max-width:768px) {
            height: 150px;
        }
    }

}

.file_block {
    li {
        width: 100%;
        margin-bottom: 15px;


        &.files {
            .fileName{
                width: calc(100% - 210px);
                height: 30px;
                border: 1px solid $pure-gray;
                border-radius: 5px;
                margin-right: 20px;
                padding: 5px 10px;
                font-size: $fs-12;
            }
            .inputBox{
                width:190px;
                height: 30px;
                background-color: transparent;
                border: 1px solid $pure-gray;
                border-radius: 5px;
                position: relative;

                .inputText{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: $fs-14;
                    font-weight: 900;
                    color: $black;
                    letter-spacing: 2px;
                    transition: .3s;
                }

                input{
                    opacity: 0;
                }

                &:hover{
                    background-color: black;

                    .inputText{
                        color: $white;
                    }
                }
            }
        }
    }
}

// 這別頁面修改


.Misjudgment {
    &.name {
        div {
            color: $red;

            &::before {
                background-color: $red;
            }
        }
    }

    &.form_input {
        div {
            position: relative;

            &.data_btn {
                &::before {
                    content: '*未滿20歲';
                    height: 100%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    right: 0;
                    transform: translateX(-50px);
                    z-index: 5;
                    color: $red;
                    letter-spacing: 5px;
                }
            }


            input {
                border: 2px solid $red;
                color: $red;
            }

            &.Inquire {
                display: flex;
                justify-content: space-between;

                &::before {
                    content: '*貴單位於三個月內曾申請書籍且未結案。';
                    height: 100%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    transform: translateY(100%);
                    left: 0;
                    z-index: 5;
                    color: $red;
                    letter-spacing: 5px;
                }
            }
        }

        input {
            &.error {
                background-color: $pure-gray;
                color: $white;
            }
        }
    }
}

.need {
    div {
        &.two {
            width: 155px;
            display: flex;
            flex-direction: column;
        }
    }

    >div {
        display: inline;
        position: relative;

        &::after {
            position: absolute;
            content: '*';
            transform: translate(20px, 0px);
            top: 0;
            right: 0;
            color: $red;

        }
    }

}

.step-area {
    margin-bottom: 40px;
    padding: 0 15px;
    overflow: hidden;
    position: relative;
    height: 120px;

    .step-scroll {
        position: absolute;
        left: 15px;
        top: 0;

        .step {
            width: 120px;
            height: 120px;
            border: 1px solid $brown;
            background-color: transparent;
            border-radius: 50%;
            padding-top: 27px;

            @media(max-width:576px){
                width: 75px;
                height: 75px;
                padding-top: 12px;
            }

            &:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            &:nth-child(-n+3){
                padding-top: 20px;

                @media(max-width:576px){
                    padding-top: 7px;
                }
            }

            p{
                text-align: center;
                font-size: $fs-16;
                color: $brown;
                font-weight: 900;

                @media(max-width:576px){
                    font-size: $fs-12;
                }
    
            }

            &.active{
                background-color: $brown;

                p{
                    color: $white;
                }
            }
        }

        .arrow {
            margin: 0 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 25px 0 25px 25px;
            border-color: transparent transparent transparent $brown;
        }

        @media(max-width: 1200px){
            &.step-1{
                left: 15px;
            }
            &.step-2{
                left: 15px;
            }

            &.step-3,
            &.step-4{
                left: unset;
                right: 0px;
            }
        }
    }

}