@import "./_variables.scss";
@import "./_function.scss";

.title {
    display: flex;
    margin-bottom: 45px;
    flex-wrap: wrap;

    // align-items: center;
    @media screen and (max-width:768px) {
        flex-direction: column;
    }

    li {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon {
            height: 3px;
            width: 24px;
            background-color: $black;
        }

        &:nth-child(1) {
            @media screen and (max-width:768px) {
                margin-bottom: 30px;
            }
        }

        &:nth-child(2) {
            font-size: $fs-22;
            font-weight: $fw-700;
            letter-spacing: 5px;

            @media screen and (max-width:768px) {
                margin-bottom: 15px;
            }
        }

        &.Note {
            width: 100%;
            font-size: $fs-14;
            font-weight: $fw-700;
            letter-spacing: 5px;
            padding-left: 45px;
            margin-top: 10px;

            @media screen and (max-width:768px) {
                margin-bottom: 30px;
            }
        }
    }
}


.form_btn {

    @media screen and (max-width:1400px) {
        display: flex;
    }

    @media screen and (max-width:768px) {
        padding: 0px 15px;
    }

    input {
        @include text_style($fs-16, $fw-700, center, 3px);
        @include font_hover($bc-brown, $fc-white);
        width: 220px;
        padding: 10px 0px;
        background-color: transparent;
        margin-right: 20px;
        border: 1px solid $black;
        transition: 0.3s;


        &:hover {
            background-color: $bc-brown;
        }

        &:nth-child(1) {
            order: 3;
            margin-right: 0px;
        }

        @media screen and (max-width:1200px) {
            &:nth-child(1) {
                width: 100%;
                margin-top: 30px;
            }

            &:nth-child(2) {
                width: calc(50% - 15px);
                margin: 0px 15px 0px 0px;
            }

            &:nth-child(3) {
                width: calc(50% - 15px);
                margin: 0px 0px 0px 15px;
            }
        }
    }
}



.area {

    // .FileUpload {
    //     width: 100%;
    //     span {
    //         height: 50px;

    //         &:nth-child(1) {
    //             min-width: 70%;
    //             background-color: #000000;
    //         }

    //         &:nth-last-child(1) {
    //             min-width: 30%;
    //             background-color: #000000;
    //         }
    //     }
    // }
}

.newitem {
    max-width: 800px;
    padding: 0px 15px;

    @media screen and (max-width:768px) {
        padding: 0px;
    }

    .teacher {
        padding: 0px 15px;

        .title {
            margin: 0px -15px 45px;
        }

        .name {
            font-size: $fs-18;
            letter-spacing: 2px;
            padding-bottom: 30px;

            &>div {
                // min-width: 150px;
                letter-spacing: 4px;
                padding: 0px 0px 0px 20px;
                position: relative;
                line-height: 24px;
                font-weight: 900;
                display: flex;
                flex-direction: column;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 8px;
                    height: 17px;
                    transform: translate(0%, 5px);
                    background-color: $bc-brown;
                }
            }
        }

        .form_input {

            margin-bottom: 40px;

            @media (max-width:992px) {
                margin-bottom: 30px;
            }

            &>input {
                width: 100%;
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                outline-width: 0px none invert;
                border: 1px solid $br-black;
                text-shadow: none;
                -webkit-appearance: none;
                -webkit-user-select: text;
                outline-color: transparent;
                letter-spacing: 4px;
            }
        }

    }

    .student {
        padding: 0px 15px;

        .title {
            margin: 0px -15px 45px;
        }

        .content {
            @media screen and (max-width:768px) {
                padding: 40px 20px 15px;
            }
        }
    }

    .content {
        position: relative;
        border-radius: 15px;
        border: 1px solid $black;
        padding: 50px;
        margin-bottom: 30px;

        @media screen and (max-width:1400px) {
            display: flex;
            flex-direction: column;
        }

        @media screen and (max-width:768px) {
            padding: 15px;
        }

        .name {
            font-size: $fs-18;
            letter-spacing: 2px;
            padding-bottom: 30px;

            &>div {
                // min-width: 150px;
                letter-spacing: 4px;
                padding: 0px 0px 0px 20px;
                position: relative;
                line-height: 24px;
                font-weight: 900;


                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 8px;
                    height: 17px;
                    transform: translate(0%, -50%);
                    background-color: $bc-brown;
                }
            }
        }

        .add,
        .del {
            background-color: $black;
            color: $white;
        }

        .form_input {

            margin-bottom: 40px;

            @media (max-width:992px) {
                margin-bottom: 30px;
            }

            &>input {
                width: 100%;
                height: 40px;
                padding: 10px 20px;
                border-radius: 5px;
                outline-width: 0px none invert;
                border: 1px solid $br-black;
                text-shadow: none;
                -webkit-appearance: none;
                -webkit-user-select: text;
                outline-color: transparent;
                letter-spacing: 4px;
            }
        }


    }
}

.newelement {
    .title {
        margin-bottom: 20px;

        li:nth-child(2) {
            margin: 0px;
        }
    }

    textarea {
        width: 100%;
        height: 90px;
        resize: none;
        border: 1px solid $black;
        border-radius: 10px;
        margin-bottom: 40px;

        @media screen and (max-width:768px) {
            height: 150px;
        }
    }

    .Experience_status {
        .Note {
            padding: 35px 0px 25px;
            width: 100%;
            font-size: $fs-18;
            font-weight: $fw-600;

            @media screen and (max-width:768px) {
                padding: 0px 0px 25px;
            }

            span {
                &:nth-child(1) {
                    position: relative;
                    padding-right: 15px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        width: 2px;
                        height: 20px;
                        background-color: $black;
                    }
                }

                &:nth-child(2) {
                    padding-left: 15px;
                }
            }
        }

        .block {
            border-radius: 15px;
            border: 1px solid $black;
            padding: 40px 50px 0px;
            margin-bottom: 30px;

            @media screen and (max-width:768px) {
                margin-bottom: 40px;
                padding: 15px;
            }

            .name {
                font-size: $fs-18;
                letter-spacing: 2px;
                padding-bottom: 30px;

                @media screen and (max-width:768px) {
                    padding-bottom: 18px;
                }

                &>div {
                    // min-width: 150px;
                    letter-spacing: 4px;
                    padding: 0px 0px 0px 20px;
                    position: relative;
                    line-height: 24px;
                    font-weight: 900;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 8px;
                        height: 17px;
                        transform: translate(0%, 5px);
                        background-color: $bc-brown;
                    }
                }

                .two {
                    display: flex;
                    flex-direction: column;
                }
            }

            .form_input {

                margin-bottom: 40px;

                @media (max-width:992px) {
                    margin-bottom: 30px;
                }

                &>input {
                    width: 100%;
                    height: 40px;
                    padding: 10px 20px;
                    border-radius: 5px;
                    outline-width: 0px none invert;
                    border: 1px solid $br-black;
                    text-shadow: none;
                    -webkit-appearance: none;
                    -webkit-user-select: text;
                    outline-color: transparent;
                    letter-spacing: 4px;
                }

                &.data {
                    display: flex;
                    flex-wrap: nowrap;

                    @media screen and (max-width:768px) {
                        flex-wrap: wrap;

                        &>input {
                            width: 75%;
                            margin-bottom: 15px;
                        }
                    }

                    span {
                        font-size: $fs-18;
                        font-weight: $fw-600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 56px;

                        @media screen and (max-width:768px) {
                            margin-bottom: 15px;
                        }
                    }

                }
            }
        }

        .add {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 58px;

            @media screen and (max-width:768px) {
                justify-content: center;
            }

            input {
                @include text_style($fs-16, $fw-700, center, 3px);
                @include font_hover($bc-brown, $fc-white);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                width: 200px;
                height: 40px;
                border: 1px solid $black;
                border-radius: 50px;
                transition: 0.3s;


                &:hover {
                    background-color: $bc-brown;
                }
            }
        }
    }


}

.block {
    @media screen and (max-width:1400px) {
        max-width: 100%;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @media screen and (max-width:1400px) {
        max-width: 100%;
        flex-direction: row;
    }

    input {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: unset;
        font-size: $fs-24;
        margin: 15px 0px;

        @media screen and (max-width:1400px) {
            margin: 0px 15px;
        }
    }
}