// 字型 (Noto Serif TC)
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');

$main-color:#665252;
$main-color-dark:#231815;


$white:#FFFFFF;
$light-brown:#665252;
$light-brown-Transparent:rgba(102, 82, 82, 0.929);
$black-Transparent:rgba(128, 128, 128, 0.376);
$brown-hover:#6a4945;
$brown:#231815;
$black:#000000;
$pure-gray:#4D4D4D;
$low-brown:#8A8075;
$red:#C5362D;

// font color
$fc-black:#000000;
$fc-gray:#808080;
$fc-pure-gray:#4D4D4D;
$fc-red:#C5362D;
$fc-hover:#978475;
$fc-card-hover:#5E5652;
$fc-white:#FFFFFF;
$fc-gray-white:#FEFEFE;
$fc-666666-gray:#666666;
$fc-brown:#231815;
//border
$br-black:#000000;
$br-brown:#544747;
$br-gray:#808080;
$br-white:#FFFFFF;
$br-brown-hover:#6a4945;
$br-shadow:#000000;

// font size
$fs-76:76px;
$fs-68:68px;
$fs-67:67px;
$fs-62:62px;
$fs-48:48px;
$fs-45:45px;
$fs-40:40px;
$fs-36:36px;
$fs-33:33px;
$fs-32:32px;
$fs-30:30px;
$fs-27:27px;
$fs-24:24px;
$fs-22:22px;
$fs-20:20px;
$fs-18:18px;
$fs-16:16px;
$fs-15:15px;
$fs-13:13px;
$fs-14:14px;
$fs-12:12px;
$fs-10:10px;
$fs-07:7px;

// font weight
$fw-bold:bold;
$fw-900:900;
$fw-800:800;
$fw-700:700;
$fw-600:600;
$fw-500:500;
$fw-400:400;

// background color
$bc-black:#000000;
$bc-brown:#231815;
$bc-news-brown: #938075;
$bc-brown-hover:#665252;
$bc-light-brown:#E4E4E4;
$bc-white:#FFFFFF;
$bc-dark-brown-hover:#352E2C;
$bc-number-black:#333333;
$bc-Transparent:transparent;
$bc-graw:#e5e5e5;
$bc-dark-graw:#a0a0a0;
// background color Transparent
$bc-brown-Transparent:rgba(35, 24, 21, 0.443);
$bc-light-brown-Transparent:rgba(102, 82, 82, 0.929);

//hover color
$hc-brown:#886D6A;

//mask
$mc-brown:rgba(35, 24, 21, 0.396);
$mc-brown-hover:rgba(35, 24, 21, 0.565);