// 字型 (Noto Serif TC)
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');

$main-color:#665252;
$main-color-dark:#231815;


// font color
$fc-black:#000000;
$fc-gray:#808080;
$fc-pure-gray:#4D4D4D;
$fc-red:#C5362D;
$fc-hover:#978475;
$fc-card-hover:#5E5652;
$fc-white:#FFFFFF;

// font size
$fs-76:76px;
$fs-62:62px;
$fs-48:48px;
$fs-32:32px;
$fs-27:27px;
$fs-24:24px;
$fs-22:22px;
$fs-20:20px;
$fs-18:18px;
$fs-16:16px;
$fs-14:14px;
$fs-12:12px;

// font weight
$fw-bold:bold;  

// background color
$bc-brown:#231815;
$bc-brown-hover:#665252;
$bc-light-brown:#E4E4E4;
$bc-white:#FFFFFF;
$bc-dark-brown-hover:#352E2C;

// background color Transparent
$bc-brown-Transparent:#23181571;



