// 字型 (Noto Serif TC)
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');

$main-color:#665252;
$main-color-dark:#231815;


// font color
$fc-black:#000000;
$fc-gray:#808080;
$fc-pure-gray:#4D4D4D;
$fc-red:#C5362D;
$fc-hover:#978475;

// font size
$fs-32:32px;
$fs-22:22px;
$fs-18:18px;
$fs-16:16px;
$fs-14:14px;

// font weight
$fw-bold:bold;

