@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.title li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-bottom: 45px;
}

.title li .icon {
  height: 8px;
  width: 50px;
  background-color: #000000;
}

@media screen and (max-width: 768px) {
  .title li:nth-child(1) {
    margin-bottom: 30px;
  }
}

.title li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
  .title li:nth-child(2) {
    margin-bottom: 15px;
  }
}

.text {
  margin-bottom: 15px;
}

.text p {
  font-size: 14px;
  font-weight: 600;
  text-align: justify;
  letter-spacing: 3px;
  padding-bottom: 35px;
}

.message_area {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-align: unset;
  letter-spacing: 4px;
  margin-bottom: 60px;
}

.message_area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5px 0px;
}

@media screen and (max-width: 768px) {
  .message_area > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.message_area > div > div {
  width: 75px;
  padding-right: 20px;
  white-space: nowrap;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.message_area > div > div::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #231815;
}

.message_area::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 80%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #231815;
}

@media screen and (max-width: 768px) {
  .message_area::before {
    height: 95%;
  }
}

.message_area .firtst_data > div > p {
  letter-spacing: 5px;
}

.message_area .firtst_data > p {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .message_area .firtst_data > p {
    margin-top: 10px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .message_area .firtst_data {
    margin-bottom: 10px;
  }
}

.message_area .new_data > div > p {
  letter-spacing: 5px;
}

.message_area .new_data > p {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .message_area .new_data > p {
    margin-top: 10px;
    padding-left: 0px;
  }
}

.Privacy {
  padding: 45px 55px;
  border-radius: 9px;
  border: 1px solid #000000;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .Privacy {
    padding: 10px 15px;
    border-radius: 15px;
  }
}

.Privacy .Privacy_title {
  font-size: 14px;
  font-weight: 600;
  color: #8A8075;
  letter-spacing: 3px;
}

.Privacy .Privacy_title.pc {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .Privacy .Privacy_title.pc {
    display: none;
  }
}

.Privacy .Privacy_title.mob {
  display: none;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .Privacy .Privacy_title.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Privacy .Privacy_title.mob span:nth-child(1) {
    margin-bottom: 3px;
  }
}

.Privacy .Privacy_title.mob .icon {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Privacy .Privacy_title.mob .icon .fa-play {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #231815;
}

.Privacy p {
  font-size: 14px;
  font-weight: 600;
  color: #8A8075;
  text-align: justify;
  letter-spacing: 3px;
  -webkit-transform: 0.3s;
          transform: 0.3s;
}

@media screen and (max-width: 768px) {
  .Privacy p.text_pc {
    display: none;
  }
}

.Privacy p.text_mob {
  margin-top: 25px;
}

.form_btn {
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .form_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .form_btn {
    padding: 0px 15px;
  }
}

.form_btn button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: #231815;
  width: 220px;
  padding: 10px 0px;
  background-color: transparent;
  margin-left: 20px;
  border: 1px solid #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form_btn button:hover {
  color: #FFFFFF;
}

.form_btn button:hover {
  background-color: #231815;
}

.form_btn button:nth-child(1) {
  margin-right: 0px;
}

@media screen and (max-width: 1200px) {
  .form_btn button:nth-child(1) {
    width: calc(50% - 15px);
    margin: 0px 15px 0px 0px;
  }
  .form_btn button:nth-child(2) {
    width: calc(50% - 15px);
    margin: 0px 0px 0px 15px;
  }
}
/*# sourceMappingURL=Content-InsidePage.css.map */