@import "./_variables.scss";
@import "./_function.scss";


.area_video {
    padding-bottom: 30px;

    @media screen and (max-width:992px) {
        padding-bottom: 25px;
    }

    &>div {
        margin: 0px;
    }

    .text {
        width: 100%;
        margin-bottom: 45px;
        @include text_style($fs-14,$fw-600, justify,4px);

        p {
            margin-bottom: 35px;
        }

        .text_link {
            line-height: 30px;

            @media screen and (max-width:992px) {
                letter-spacing: 3px;
                text-align: unset;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 2; //行數
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
    }

    .video_block {
        background-color: $bc-brown;
        border-radius: 50px;
        margin-bottom: 40px;
        position: relative;
        @media screen and (max-width:768px) {
            border-radius: 20px;

        }
        video {
            width: 100%;
        }

        .start {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .icon {
                display: inline-block;
                padding: 25px 50px;
                border: 2px solid $fc-white;
                border-radius: 15px;

                i {
                    font-size: $fs-24;
                    color: $fc-white;
                }
            }
        }
    }

    .message_area {
        position: relative;
        padding-left: 30px;
        @include text_style($fs-14,$fw-600,unset,4px);
        margin-bottom: 60px;

        &>div {
            display: flex;
            padding: 2.5px 0px;

            &>div {
                width: 110px;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 15px;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 75px;
            transform: translateY(-50%);
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }
}