@import "./_variables.scss";
@import "./_function.scss";


.area_picture {
    padding-bottom: 30px;

    @media screen and (max-width:992px) {
        padding-bottom: 25px;
    }

    &>div {
        margin: 0px;
    }

    .text {
        width: 100%;

        p {
            margin-bottom: 35px;
            line-height: 30px;
            width: 100%;
            // flex-wrap: wrap;
            // &>a {
            //     overflow : hidden;
            //     text-overflow : ellipsis;
            //     white-space : nowrap;
            //     width : 100%;
            // }

            @media screen and (max-width:992px) {
                letter-spacing: 5px;
                text-align: justify;
            }
        }

        .text_link {
            margin-bottom: 35px;
            line-height: 30px;

            @media screen and (max-width:992px) {
                letter-spacing: 3px;
                text-align: unset;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 2; //行數
                -webkit-box-orient: vertical;
                white-space: normal;
            }
        }
    }

    .picture_block {
        position: relative;

        &>div>div {
            margin-bottom: 20px;
        }

        .img {
            width: 100%;
            height: 100px;
            min-height: 100px;
            max-height: 100px;
            background-color: green;
        }

        .modal {
            padding: 0;
            padding-right: 0px !important;

            .modal-dialog {
                max-width: 1200px;
                padding: 0px 30px;

                .modal-content {
                    max-width: 1000px;
                    margin: 0 auto;

                    .modal-header {
                        .modal-title {
                            color: $fc-white;
                        }
                    }

                    .modal-body {
                        height: 700px;
                    }
                }

            }

        }


        .btnnn {

            .arrow_button-prev {
                position: absolute;
                padding: 20px 0px;
                top: 50%;
                left: -40px;
                transform: translate(-100%, -50%);

                .arrow_button {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        left: -1px;
                        transform: rotate(-45deg);
                        transform-origin: left;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button-next {
                position: absolute;
                right: -40px;
                top: 50%;
                padding: 20px 0px;
                transform: translate(100%, -50%);

                .arrow_button {
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        right: -1px;
                        transform: rotate(45deg);
                        transform-origin: right;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button {
                position: relative;
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;

                @media screen and (max-width:1200px) {
                    margin: auto;
                }


            }
        }

    }

    .message_area {
        position: relative;
        padding-left: 30px;
        font-size: $fs-16;
        margin-bottom: 60px;

        &>div {
            display: flex;

            padding: 2.5px 0px;



            &>div {
                width: 110px;
                // overflow: hidden;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }
}


.customization-swiper-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    .customization-swiper-content {
        width: 100%;
        max-width: 1000px;
        height: 800px;

        .close-swiper-page {
            cursor: pointer;
            width: 100px;
            height: 100px;
            position: fixed;
            top: 70px;
            right: 300px;

            div {
                width: 60px;
                height: 1.5px;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                z-index: 3;

                &::after {
                    content: '';
                    width: 60px;
                    height: 1.5px;
                    position: absolute;
                    transform: rotate(-90deg);
                    background-color: white;
                    top: 0;
                    left: 0;
                }
            }
        }

        .swiper_title {
            // position: relative;
            display: flex;
            margin-bottom: 50px;

            // justify-content: start;
            .name {
                font-size: $fs-32;
                color: $fc-white;
            }

            .swiper-pagination-fraction {
                transform: translateY(-7px);
                margin-left: 20px;
                margin-bottom: -5px;
                position: relative;
                bottom: unset;
                left: unset;
                width: unset;
                min-width: 150px;
                justify-content: center;
                display: flex;
                align-items: center;
                letter-spacing: 3px;
                font-size: $fs-32;

                span {
                    padding: 0px 10px;
                }

                // padding: 0px 20px;
                &::before {
                    content: '(';
                    position: absolute;
                    left: 0px;

                }

                &::after {
                    content: ')';
                    position: absolute;
                    right: 0px;
                }
            }
        }

        .swiper-pagination-fraction {
            color: white;
        }

        .swiper-content {
            height: 85%;

            .block {
                height: 80%;
                position: relative;

                .arrow_button-prev {
                    position: absolute;
                    padding: 20px 0px;
                    top: 50%;
                    left: -40px;
                    transform: translate(-100%, -50%);

                    .arrow_button {
                        &::before {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 10px;
                            left: -1px;
                            transform: rotate(-45deg);
                            transform-origin: left;
                            background-color: $fc-white;
                        }
                    }
                }

                .arrow_button-next {
                    position: absolute;
                    right: -40px;
                    top: 50%;
                    padding: 20px 0px;
                    transform: translate(100%, -50%);

                    .arrow_button {
                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 10px;
                            right: -1px;
                            transform: rotate(45deg);
                            transform-origin: right;
                            background-color: $fc-white;
                        }
                    }
                }

                .arrow_button {
                    position: relative;
                    width: 70px;
                    height: 2px;
                    background-color: blanchedalmond;
                    border-bottom: 2px solid $fc-white;

                    @media screen and (max-width:1200px) {
                        margin: auto;
                    }


                }
            }

            .gallery-top {}

            .block_swiper {
                height: 20%;

                .gallery-thumbs {
                    height: 100%;
                }
            }

        }

    }
}