@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
header {
  position: absolute;
  top: 0;
  z-index: -1;
}

main {
  margin-top: 200px;
}

.one .content {
  margin-left: auto;
  margin-right: unset !important;
  padding: 0px 125px;
}

.one .content .picture {
  width: 100%;
  height: 40vh;
  background-color: #665252;
}

.one .content .text_area .text_block {
  font-size: 14px;
  text-indent: 40px;
  letter-spacing: 4px;
  text-align: justify;
  padding: 50px 0px;
}

.one .content .text_area .text_block p {
  margin-bottom: 20px;
}

.one .content table.table_area {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.one .content table.table_area tr {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
}

.one .content table.table_area tr th {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  background-color: #231815;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.one .content table.table_area tr td {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  letter-spacing: 3px;
}

.one .content .picture_area .text_title {
  padding: 50px 0px;
}

.one .content .picture_area .picture_block {
  position: relative;
}

.one .content .picture_area .picture_block .pic {
  width: 100%;
  height: 150px;
  background-color: black;
}

.one .content .picture_area .picture_block .arrow_button-prev {
  position: absolute;
  padding: 20px 0px;
  top: 50%;
  left: -40px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.one .content .picture_area .picture_block .arrow_button-prev .arrow_button::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  left: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #000000;
}

.one .content .picture_area .picture_block .arrow_button-next {
  position: absolute;
  right: -40px;
  top: 50%;
  padding: 20px 0px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.one .content .picture_area .picture_block .arrow_button-next .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #000000;
}

.one .content .picture_area .picture_block .arrow_button {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  .one .content .picture_area .picture_block .arrow_button {
    margin: auto;
  }
}

.one .content .area_annex {
  margin-bottom: 50px;
}

.one .content .area_annex .text_title {
  padding: 50px 0px;
}

.one .content .area_annex .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.one .content .area_annex .text_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: green;
  z-index: -1;
}

.one .content .area_annex .text_block p {
  padding: 25px;
  background-color: #FFFFFF;
}

.one .content .area_annex .text_block .text_btn {
  padding: 25px;
  background-color: #FFFFFF;
}

.one .content .area_annex .text_block .text_btn .btn {
  min-width: 60px;
  max-width: 60px;
  letter-spacing: 2px;
  border: 1px solid #808080;
}

.one .content .area_link {
  margin-bottom: 50px;
}

.one .content .area_link .text_title {
  padding: 50px 0px;
}

.one .content .area_link .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.one .content .area_link .text_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: green;
  z-index: -1;
}

.one .content .area_link .text_block p {
  padding: 25px;
  background-color: #FFFFFF;
}

.one .content .area_link .text_block .text_btn {
  padding: 25px;
  background-color: #FFFFFF;
}

.one .content .area_link .text_block .text_btn .btn {
  min-width: 60px;
  max-width: 60px;
  letter-spacing: 2px;
  border: 1px solid #808080;
}

.one .content .message_area {
  position: relative;
  padding-left: 30px;
  margin: 110px 0px 110px;
  font-size: 16px;
}

.one .content .message_area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5px 0px;
}

.one .content .message_area > div > div {
  width: 110px;
  padding-right: 20px;
  white-space: nowrap;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.one .content .message_area > div > div::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #231815;
}

.one .content .message_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #231815;
}

.one .content .message_area .firtst_data > div > p {
  letter-spacing: 15px;
}

.one .content .message_area .firtst_data > p {
  padding-left: 20px;
}

.one .content .message_area .new_data > div > p {
  letter-spacing: 2.7px;
}

.one .content .message_area .new_data > p {
  padding-left: 20px;
}

.one .content .message_area .click_point > div > p {
  letter-spacing: 2.7px;
}

.one .content .message_area .click_point > p {
  padding-left: 20px;
}

.two .content {
  margin-left: auto;
  margin-right: unset !important;
  padding: 0px 125px;
}

.two .content .text_area .picture {
  width: 100%;
  height: 40vh;
  background-color: #665252;
}

.two .content .text_area .text_block {
  font-size: 14px;
  text-indent: 40px;
  letter-spacing: 4px;
  text-align: justify;
  padding: 50px 0px;
}

.two .content .text_area .text_block p {
  margin-bottom: 20px;
}

.two .content table.table_area {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.two .content table.table_area tr {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
}

.two .content table.table_area tr th {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  background-color: #231815;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.two .content table.table_area tr td {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  letter-spacing: 3px;
}

.two .content .picture_area .text_title {
  padding: 50px 0px;
}

.two .content .picture_area .picture_block {
  position: relative;
}

.two .content .picture_area .picture_block .pic {
  width: 100%;
  height: 150px;
  background-color: black;
}

.two .content .picture_area .picture_block .arrow_button-prev {
  position: absolute;
  padding: 20px 0px;
  top: 50%;
  left: -40px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.two .content .picture_area .picture_block .arrow_button-prev .arrow_button::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  left: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #000000;
}

.two .content .picture_area .picture_block .arrow_button-next {
  position: absolute;
  right: -40px;
  top: 50%;
  padding: 20px 0px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.two .content .picture_area .picture_block .arrow_button-next .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #000000;
}

.two .content .picture_area .picture_block .arrow_button {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  .two .content .picture_area .picture_block .arrow_button {
    margin: auto;
  }
}

.two .content .area_annex {
  margin-bottom: 50px;
}

.two .content .area_annex .text_title {
  padding: 50px 0px;
}

.two .content .area_annex .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.two .content .area_annex .text_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: green;
  z-index: -1;
}

.two .content .area_annex .text_block p {
  padding: 25px;
  background-color: #FFFFFF;
}

.two .content .area_annex .text_block .text_btn {
  padding: 25px;
  background-color: #FFFFFF;
}

.two .content .area_annex .text_block .text_btn .btn {
  min-width: 60px;
  max-width: 60px;
  letter-spacing: 2px;
  border: 1px solid #808080;
}

.two .content .area_link {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.two .content .area_link .text_title {
  padding: 50px 0px;
  width: 100%;
}

.two .content .area_link .link_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.two .content .area_link .link_area a {
  margin-right: 15px;
}

.two .content .area_link .link_area .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.two .content .area_link .link_area .text_block p {
  width: 100%;
  padding: 25px;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 5px;
  white-space: nowrap;
}

.two .content .message_area {
  position: relative;
  padding-left: 30px;
  margin: 110px 0px 110px;
  font-size: 16px;
}

.two .content .message_area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5px 0px;
}

.two .content .message_area > div > div {
  width: 110px;
  padding-right: 20px;
  white-space: nowrap;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.two .content .message_area > div > div::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #231815;
}

.two .content .message_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #231815;
}

.two .content .message_area .firtst_data > div > p {
  letter-spacing: 15px;
}

.two .content .message_area .firtst_data > p {
  padding-left: 20px;
}

.two .content .message_area .new_data > div > p {
  letter-spacing: 2.7px;
}

.two .content .message_area .new_data > p {
  padding-left: 20px;
}

.two .content .message_area .click_point > div > p {
  letter-spacing: 2.7px;
}

.two .content .message_area .click_point > p {
  padding-left: 20px;
}

.three .content {
  margin-left: auto;
  margin-right: unset !important;
  padding: 0px 125px;
}

.three .content .text_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three .content .text_area .picture {
  width: 100%;
  height: 40vh;
  background-color: #665252;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 50px;
}

.three .content .text_area .text_block {
  font-size: 14px;
  text-indent: 40px;
  letter-spacing: 4px;
  text-align: justify;
  padding: 50px 0px;
}

.three .content .text_area .text_block p {
  margin-bottom: 20px;
}

.three .content table.table_area {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.three .content table.table_area tr {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
}

.three .content table.table_area tr th {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  background-color: #231815;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.three .content table.table_area tr td {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  letter-spacing: 3px;
}

.three .content .picture_area .text_title {
  padding: 50px 0px;
}

.three .content .picture_area .picture_block {
  position: relative;
}

.three .content .picture_area .picture_block .pic {
  width: 100%;
  height: 150px;
  background-color: black;
}

.three .content .picture_area .picture_block .arrow_button-prev {
  position: absolute;
  padding: 20px 0px;
  top: 50%;
  left: -40px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.three .content .picture_area .picture_block .arrow_button-prev .arrow_button::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  left: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #000000;
}

.three .content .picture_area .picture_block .arrow_button-next {
  position: absolute;
  right: -40px;
  top: 50%;
  padding: 20px 0px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.three .content .picture_area .picture_block .arrow_button-next .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #000000;
}

.three .content .picture_area .picture_block .arrow_button {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  .three .content .picture_area .picture_block .arrow_button {
    margin: auto;
  }
}

.three .content .area_annex {
  margin-bottom: 50px;
}

.three .content .area_annex .text_title {
  padding: 50px 0px;
}

.three .content .area_annex .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.three .content .area_annex .text_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: green;
  z-index: -1;
}

.three .content .area_annex .text_block p {
  padding: 25px;
  background-color: #FFFFFF;
}

.three .content .area_annex .text_block .text_btn {
  padding: 25px;
  background-color: #FFFFFF;
}

.three .content .area_annex .text_block .text_btn .btn {
  min-width: 60px;
  max-width: 60px;
  letter-spacing: 2px;
  border: 1px solid #808080;
}

.three .content .area_link {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three .content .area_link .text_title {
  padding: 50px 0px;
  width: 100%;
}

.three .content .area_link .link_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.three .content .area_link .link_area a {
  margin-right: 15px;
}

.three .content .area_link .link_area .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.three .content .area_link .link_area .text_block p {
  width: 100%;
  padding: 25px;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 5px;
  white-space: nowrap;
}

.three .content .message_area {
  position: relative;
  padding-left: 30px;
  margin: 110px 0px 110px;
  font-size: 16px;
}

.three .content .message_area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5px 0px;
}

.three .content .message_area > div > div {
  width: 110px;
  padding-right: 20px;
  white-space: nowrap;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.three .content .message_area > div > div::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #231815;
}

.three .content .message_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #231815;
}

.three .content .message_area .firtst_data > div > p {
  letter-spacing: 15px;
}

.three .content .message_area .firtst_data > p {
  padding-left: 20px;
}

.three .content .message_area .new_data > div > p {
  letter-spacing: 2.7px;
}

.three .content .message_area .new_data > p {
  padding-left: 20px;
}

.three .content .message_area .click_point > div > p {
  letter-spacing: 2.7px;
}

.three .content .message_area .click_point > p {
  padding-left: 20px;
}

.four .content {
  margin-left: auto;
  margin-right: unset !important;
  padding: 0px 125px;
}

.four .content .text_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
}

.four .content .text_area .picture {
  width: 40%;
  background-color: #665252;
}

.four .content .text_area .text_block {
  width: 60%;
  font-size: 14px;
  text-indent: 40px;
  letter-spacing: 4px;
  text-align: justify;
  padding: 0px 10px;
}

.four .content .text_area .text_block p {
  margin-bottom: 20px;
}

.four .content .text_area .text_block p:nth-last-child(1) {
  margin: 0;
}

.four .content table.table_area {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.four .content table.table_area tr {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
}

.four .content table.table_area tr th {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  background-color: #231815;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.four .content table.table_area tr td {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  letter-spacing: 3px;
}

.four .content .picture_area .text_title {
  padding: 50px 0px;
}

.four .content .picture_area .picture_block {
  position: relative;
}

.four .content .picture_area .picture_block .pic {
  width: 100%;
  height: 150px;
  background-color: black;
}

.four .content .picture_area .picture_block .arrow_button-prev {
  position: absolute;
  padding: 20px 0px;
  top: 50%;
  left: -40px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.four .content .picture_area .picture_block .arrow_button-prev .arrow_button::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  left: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #000000;
}

.four .content .picture_area .picture_block .arrow_button-next {
  position: absolute;
  right: -40px;
  top: 50%;
  padding: 20px 0px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.four .content .picture_area .picture_block .arrow_button-next .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #000000;
}

.four .content .picture_area .picture_block .arrow_button {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  .four .content .picture_area .picture_block .arrow_button {
    margin: auto;
  }
}

.four .content .area_annex {
  margin-bottom: 50px;
}

.four .content .area_annex .text_title {
  padding: 50px 0px;
}

.four .content .area_annex .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.four .content .area_annex .text_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: green;
  z-index: -1;
}

.four .content .area_annex .text_block p {
  padding: 25px;
  background-color: #FFFFFF;
}

.four .content .area_annex .text_block .text_btn {
  padding: 25px;
  background-color: #FFFFFF;
}

.four .content .area_annex .text_block .text_btn .btn {
  min-width: 60px;
  max-width: 60px;
  letter-spacing: 2px;
  border: 1px solid #808080;
}

.four .content .area_link {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.four .content .area_link .text_title {
  padding: 50px 0px;
  width: 100%;
}

.four .content .area_link .link_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four .content .area_link .link_area a {
  margin-right: 15px;
}

.four .content .area_link .link_area .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.four .content .area_link .link_area .text_block p {
  width: 100%;
  padding: 25px;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 5px;
  white-space: nowrap;
}

.four .content .message_area {
  position: relative;
  padding-left: 30px;
  margin: 110px 0px 110px;
  font-size: 16px;
}

.four .content .message_area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5px 0px;
}

.four .content .message_area > div > div {
  width: 110px;
  padding-right: 20px;
  white-space: nowrap;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.four .content .message_area > div > div::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #231815;
}

.four .content .message_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #231815;
}

.four .content .message_area .firtst_data > div > p {
  letter-spacing: 15px;
}

.four .content .message_area .firtst_data > p {
  padding-left: 20px;
}

.four .content .message_area .new_data > div > p {
  letter-spacing: 2.7px;
}

.four .content .message_area .new_data > p {
  padding-left: 20px;
}

.four .content .message_area .click_point > div > p {
  letter-spacing: 2.7px;
}

.four .content .message_area .click_point > p {
  padding-left: 20px;
}

.five .content {
  margin-left: auto;
  margin-right: unset !important;
  padding: 0px 125px;
}

.five .content .text_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.five .content .text_area .picture {
  width: 40%;
  background-color: #665252;
}

.five .content .text_area .text_block {
  width: 60%;
  font-size: 14px;
  text-indent: 40px;
  letter-spacing: 4px;
  text-align: justify;
  padding: 0px 10px;
}

.five .content .text_area .text_block p {
  margin-bottom: 20px;
}

.five .content .text_area .text_block p:nth-last-child(1) {
  margin: 0;
}

.five .content table.table_area {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.five .content table.table_area tr {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
}

.five .content table.table_area tr th {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  background-color: #231815;
  color: #FFFFFF;
  letter-spacing: 3px;
}

.five .content table.table_area tr td {
  border: 1px solid #4D4D4D;
  border-collapse: collapse;
  width: 25%;
  padding: 10px 20px;
  letter-spacing: 3px;
}

.five .content .picture_area .text_title {
  padding: 50px 0px;
}

.five .content .picture_area .picture_block {
  position: relative;
}

.five .content .picture_area .picture_block .pic {
  width: 100%;
  height: 150px;
  background-color: black;
}

.five .content .picture_area .picture_block .arrow_button-prev {
  position: absolute;
  padding: 20px 0px;
  top: 50%;
  left: -40px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.five .content .picture_area .picture_block .arrow_button-prev .arrow_button::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  left: -1px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #000000;
}

.five .content .picture_area .picture_block .arrow_button-next {
  position: absolute;
  right: -40px;
  top: 50%;
  padding: 20px 0px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.five .content .picture_area .picture_block .arrow_button-next .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #000000;
}

.five .content .picture_area .picture_block .arrow_button {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  .five .content .picture_area .picture_block .arrow_button {
    margin: auto;
  }
}

.five .content .area_annex {
  margin-bottom: 50px;
}

.five .content .area_annex .text_title {
  padding: 50px 0px;
}

.five .content .area_annex .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.five .content .area_annex .text_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: green;
  z-index: -1;
}

.five .content .area_annex .text_block p {
  padding: 25px;
  background-color: #FFFFFF;
}

.five .content .area_annex .text_block .text_btn {
  padding: 25px;
  background-color: #FFFFFF;
}

.five .content .area_annex .text_block .text_btn .btn {
  min-width: 60px;
  max-width: 60px;
  letter-spacing: 2px;
  border: 1px solid #808080;
}

.five .content .area_link {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.five .content .area_link .text_title {
  padding: 50px 0px;
  width: 100%;
}

.five .content .area_link .link_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.five .content .area_link .link_area a {
  margin-right: 15px;
}

.five .content .area_link .link_area .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000000;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.five .content .area_link .link_area .text_block p {
  width: 100%;
  padding: 25px;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 5px;
  white-space: nowrap;
}

.five .content .message_area {
  position: relative;
  padding-left: 30px;
  margin: 110px 0px 110px;
  font-size: 16px;
}

.five .content .message_area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5px 0px;
}

.five .content .message_area > div > div {
  width: 110px;
  padding-right: 20px;
  white-space: nowrap;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  position: relative;
}

.five .content .message_area > div > div::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #231815;
}

.five .content .message_area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #231815;
}

.five .content .message_area .firtst_data > div > p {
  letter-spacing: 15px;
}

.five .content .message_area .firtst_data > p {
  padding-left: 20px;
}

.five .content .message_area .new_data > div > p {
  letter-spacing: 2.7px;
}

.five .content .message_area .new_data > p {
  padding-left: 20px;
}

.five .content .message_area .click_point > div > p {
  letter-spacing: 2.7px;
}

.five .content .message_area .click_point > p {
  padding-left: 20px;
}
/*# sourceMappingURL=CPtext-Pagetemplate.css.map */