@import "./_variables.scss";
@import "./_function.scss";


.one {

    .picture {
        width: 100%;
        height: 40vh;
        background-color: $bc-brown-hover;
    }

    .text_area {
        .text_block {
            font-size: $fs-14;
            text-indent: 40px;
            letter-spacing: 4px;
            text-align: justify;
            padding: 50px 0px;

            p {
                margin-bottom: 20px;
            }
        }

    }

    table.table_area {
        border: 1px solid $fc-pure-gray;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        tr {
            border: 1px solid $fc-pure-gray;
            border-collapse: collapse;

            th {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                background-color: $bc-brown;
                color: $fc-white;
                letter-spacing: 3px;
            }

            td {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                letter-spacing: 3px;
            }
        }
    }

    .picture_area {
        .text_title {
            padding: 50px 0px;
        }

        .picture_block {
            position: relative;

            .pic {
                width: 100%;
                height: 150px;
                background-color: black;
            }

            .arrow_button-prev {
                position: absolute;
                padding: 20px 0px;
                top: 50%;
                left: -40px;
                transform: translate(-100%, -50%);

                .arrow_button {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        left: -1px;
                        transform: rotate(-45deg);
                        transform-origin: left;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button-next {
                position: absolute;
                right: -40px;
                top: 50%;
                padding: 20px 0px;
                transform: translate(100%, -50%);

                .arrow_button {
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        right: -1px;
                        transform: rotate(45deg);
                        transform-origin: right;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button {
                position: relative;
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;

                @media screen and (max-width:1200px) {
                    margin: auto;
                }


            }
        }
    }

    .area_annex {
        margin-bottom: 50px;

        .text_title {
            padding: 50px 0px;
        }

        .text_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $fc-black;
            font-size: $fs-22;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: green;
                z-index: -1;
            }

            p {
                padding: 25px;
                background-color: $bc-white;
            }

            .text_btn {
                padding: 25px;
                background-color: $bc-white;

                .btn {
                    min-width: 60px;
                    max-width: 60px;
                    letter-spacing: 2px;
                    @include text_btn(1px, $fc-gray);
                }
            }

        }
    }

    .area_link {
        margin-bottom: 50px;

        .text_title {
            padding: 50px 0px;
        }

        .text_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $fc-black;
            font-size: $fs-22;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: green;
                z-index: -1;
            }

            p {
                padding: 25px;
                background-color: $bc-white;
            }

            .text_btn {
                padding: 25px;
                background-color: $bc-white;

                .btn {
                    min-width: 60px;
                    max-width: 60px;
                    letter-spacing: 2px;
                    @include text_btn(1px, $fc-gray);
                }
            }

        }
    }

    .message_area {
        position: relative;
        padding-left: 30px;
        margin: 110px 0px 110px;
        font-size: $fs-16;

        &>div {
            display: flex;

            padding: 2.5px 0px;



            &>div {
                width: 110px;
                // overflow: hidden;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }

}

.two {
    .text_area {
        .picture {
            width: 100%;
            height: 40vh;
            background-color: $bc-brown-hover;
        }

        .text_block {
            font-size: $fs-14;
            text-indent: 40px;
            letter-spacing: 4px;
            text-align: justify;
            padding: 50px 0px;

            p {
                margin-bottom: 20px;
            }
        }

    }

    table.table_area {
        border: 1px solid $fc-pure-gray;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        tr {
            border: 1px solid $fc-pure-gray;
            border-collapse: collapse;

            th {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                background-color: $bc-brown;
                color: $fc-white;
                letter-spacing: 3px;
            }

            td {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                letter-spacing: 3px;
            }
        }
    }

    .picture_area {
        .text_title {
            padding: 50px 0px;
        }

        .picture_block {
            position: relative;

            .pic {
                width: 100%;
                height: 150px;
                background-color: black;
            }

            .arrow_button-prev {
                position: absolute;
                padding: 20px 0px;
                top: 50%;
                left: -40px;
                transform: translate(-100%, -50%);

                .arrow_button {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        left: -1px;
                        transform: rotate(-45deg);
                        transform-origin: left;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button-next {
                position: absolute;
                right: -40px;
                top: 50%;
                padding: 20px 0px;
                transform: translate(100%, -50%);

                .arrow_button {
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        right: -1px;
                        transform: rotate(45deg);
                        transform-origin: right;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button {
                position: relative;
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;

                @media screen and (max-width:1200px) {
                    margin: auto;
                }


            }
        }
    }

    .area_annex {
        margin-bottom: 50px;

        .text_title {
            padding: 50px 0px;
        }

        .text_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $fc-black;
            font-size: $fs-22;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: green;
                z-index: -1;
            }

            p {
                padding: 25px;
                background-color: $bc-white;
            }

            .text_btn {
                padding: 25px;
                background-color: $bc-white;

                .btn {
                    min-width: 60px;
                    max-width: 60px;
                    letter-spacing: 2px;
                    @include text_btn(1px, $fc-gray);
                }
            }

        }
    }

    .area_link {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        .text_title {
            padding: 50px 0px;
            width: 100%;
        }

        .link_area {
            display: flex;

            & a {
                margin-right: 15px;
            }

            .text_block {
                // width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 15px;
                border: 1px solid $fc-black;
                font-size: $fs-22;
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;

                p {
                    width: 100%;
                    padding: 25px;
                    background-color: $bc-white;
                    text-align: center;
                    letter-spacing: 5px;
                    white-space: nowrap;
                }

            }
        }

    }

    .message_area {
        position: relative;
        padding-left: 30px;
        margin: 110px 0px 110px;
        font-size: $fs-16;

        &>div {
            display: flex;

            padding: 2.5px 0px;



            &>div {
                width: 110px;
                // overflow: hidden;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }

}

.three {

    .text_area {
        display: flex;
        flex-direction: column;

        .picture {
            width: 100%;
            height: 40vh;
            background-color: $bc-brown-hover;
            order: 1;
            margin-bottom: 50px;
        }

        .text_block {
            font-size: $fs-14;
            text-indent: 40px;
            letter-spacing: 4px;
            text-align: justify;
            padding: 50px 0px;



            p {
                margin-bottom: 20px;
            }
        }

    }

    table.table_area {
        border: 1px solid $fc-pure-gray;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        tr {
            border: 1px solid $fc-pure-gray;
            border-collapse: collapse;

            th {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                background-color: $bc-brown;
                color: $fc-white;
                letter-spacing: 3px;
            }

            td {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                letter-spacing: 3px;
            }
        }
    }

    .picture_area {
        .text_title {
            padding: 50px 0px;
        }

        .picture_block {
            position: relative;

            .pic {
                width: 100%;
                height: 150px;
                background-color: black;
            }

            .arrow_button-prev {
                position: absolute;
                padding: 20px 0px;
                top: 50%;
                left: -40px;
                transform: translate(-100%, -50%);

                .arrow_button {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        left: -1px;
                        transform: rotate(-45deg);
                        transform-origin: left;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button-next {
                position: absolute;
                right: -40px;
                top: 50%;
                padding: 20px 0px;
                transform: translate(100%, -50%);

                .arrow_button {
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        right: -1px;
                        transform: rotate(45deg);
                        transform-origin: right;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button {
                position: relative;
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;

                @media screen and (max-width:1200px) {
                    margin: auto;
                }


            }
        }
    }

    .area_annex {
        margin-bottom: 50px;

        .text_title {
            padding: 50px 0px;
        }

        .text_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $fc-black;
            font-size: $fs-22;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: green;
                z-index: -1;
            }

            p {
                padding: 25px;
                background-color: $bc-white;
            }

            .text_btn {
                padding: 25px;
                background-color: $bc-white;

                .btn {
                    min-width: 60px;
                    max-width: 60px;
                    letter-spacing: 2px;
                    @include text_btn(1px, $fc-gray);
                }
            }

        }
    }

    .area_link {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        .text_title {
            padding: 50px 0px;
            width: 100%;
        }

        .link_area {
            display: flex;

            & a {
                margin-right: 15px;
            }

            .text_block {
                // width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 15px;
                border: 1px solid $fc-black;
                font-size: $fs-22;
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;

                p {
                    width: 100%;
                    padding: 25px;
                    background-color: $bc-white;
                    text-align: center;
                    letter-spacing: 5px;
                    white-space: nowrap;
                }

            }
        }

    }

    .message_area {
        position: relative;
        padding-left: 30px;
        margin: 110px 0px 110px;
        font-size: $fs-16;

        &>div {
            display: flex;

            padding: 2.5px 0px;



            &>div {
                width: 110px;
                // overflow: hidden;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }

}

.four {

    .text_area {
        display: flex;
        padding: 50px 0px;

        .picture {
            width: 40%;
            background-color: $bc-brown-hover;
        }

        .text_block {
            width: 60%;
            font-size: $fs-14;
            text-indent: 40px;
            letter-spacing: 4px;
            text-align: justify;
            padding: 0px 10px;



            p {
                margin-bottom: 20px;

                &:nth-last-child(1) {
                    margin: 0;
                }
            }
        }

    }

    table.table_area {
        border: 1px solid $fc-pure-gray;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        tr {
            border: 1px solid $fc-pure-gray;
            border-collapse: collapse;

            th {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                background-color: $bc-brown;
                color: $fc-white;
                letter-spacing: 3px;
            }

            td {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                letter-spacing: 3px;
            }
        }
    }

    .picture_area {
        .text_title {
            padding: 50px 0px;
        }

        .picture_block {
            position: relative;

            .pic {
                width: 100%;
                height: 150px;
                background-color: black;
            }

            .arrow_button-prev {
                position: absolute;
                padding: 20px 0px;
                top: 50%;
                left: -40px;
                transform: translate(-100%, -50%);

                .arrow_button {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        left: -1px;
                        transform: rotate(-45deg);
                        transform-origin: left;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button-next {
                position: absolute;
                right: -40px;
                top: 50%;
                padding: 20px 0px;
                transform: translate(100%, -50%);

                .arrow_button {
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        right: -1px;
                        transform: rotate(45deg);
                        transform-origin: right;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button {
                position: relative;
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;

                @media screen and (max-width:1200px) {
                    margin: auto;
                }


            }
        }
    }

    .area_annex {
        margin-bottom: 50px;

        .text_title {
            padding: 50px 0px;
        }

        .text_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $fc-black;
            font-size: $fs-22;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: green;
                z-index: -1;
            }

            p {
                padding: 25px;
                background-color: $bc-white;
            }

            .text_btn {
                padding: 25px;
                background-color: $bc-white;

                .btn {
                    min-width: 60px;
                    max-width: 60px;
                    letter-spacing: 2px;
                    @include text_btn(1px, $fc-gray);
                }
            }

        }
    }

    .area_link {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        .text_title {
            padding: 50px 0px;
            width: 100%;
        }

        .link_area {
            display: flex;

            & a {
                margin-right: 15px;
            }

            .text_block {
                // width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 15px;
                border: 1px solid $fc-black;
                font-size: $fs-22;
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;

                p {
                    width: 100%;
                    padding: 25px;
                    background-color: $bc-white;
                    text-align: center;
                    letter-spacing: 5px;
                    white-space: nowrap;
                }

            }
        }

    }

    .message_area {
        position: relative;
        padding-left: 30px;
        margin: 110px 0px 110px;
        font-size: $fs-16;

        &>div {
            display: flex;

            padding: 2.5px 0px;



            &>div {
                width: 110px;
                // overflow: hidden;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }

}

.five {

    .text_area {
        display: flex;
        padding: 50px 0px;
        flex-direction: row-reverse;

        .picture {
            width: 40%;
            background-color: $bc-brown-hover;
        }

        .text_block {
            width: 60%;
            font-size: $fs-14;
            text-indent: 40px;
            letter-spacing: 4px;
            text-align: justify;
            padding: 0px 10px;



            p {
                margin-bottom: 20px;

                &:nth-last-child(1) {
                    margin: 0;
                }
            }
        }

    }

    table.table_area {
        border: 1px solid $fc-pure-gray;
        border-collapse: collapse;
        width: 100%;
        text-align: center;

        tr {
            border: 1px solid $fc-pure-gray;
            border-collapse: collapse;

            th {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                background-color: $bc-brown;
                color: $fc-white;
                letter-spacing: 3px;
            }

            td {
                border: 1px solid $fc-pure-gray;
                border-collapse: collapse;
                width: 25%;
                padding: 10px 20px;
                letter-spacing: 3px;
            }
        }
    }

    .picture_area {
        .text_title {
            padding: 50px 0px;
        }

        .picture_block {
            position: relative;

            .pic {
                width: 100%;
                height: 150px;
                background-color: black;
            }

            .arrow_button-prev {
                position: absolute;
                padding: 20px 0px;
                top: 50%;
                left: -40px;
                transform: translate(-100%, -50%);

                .arrow_button {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        left: -1px;
                        transform: rotate(-45deg);
                        transform-origin: left;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button-next {
                position: absolute;
                right: -40px;
                top: 50%;
                padding: 20px 0px;
                transform: translate(100%, -50%);

                .arrow_button {
                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        right: -1px;
                        transform: rotate(45deg);
                        transform-origin: right;
                        background-color: $fc-black;
                    }
                }
            }

            .arrow_button {
                position: relative;
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;

                @media screen and (max-width:1200px) {
                    margin: auto;
                }


            }
        }
    }

    .area_annex {
        margin-bottom: 50px;

        .text_title {
            padding: 50px 0px;
        }

        .text_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $fc-black;
            font-size: $fs-22;
            position: relative;
            overflow: hidden;
            margin-bottom: 15px;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: green;
                z-index: -1;
            }

            p {
                padding: 25px;
                background-color: $bc-white;
            }

            .text_btn {
                padding: 25px;
                background-color: $bc-white;

                .btn {
                    min-width: 60px;
                    max-width: 60px;
                    letter-spacing: 2px;
                    @include text_btn(1px, $fc-gray);
                }
            }

        }
    }

    .area_link {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        .text_title {
            padding: 50px 0px;
            width: 100%;
        }

        .link_area {
            display: flex;

            & a {
                margin-right: 15px;
            }

            .text_block {
                // width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 15px;
                border: 1px solid $fc-black;
                font-size: $fs-22;
                position: relative;
                overflow: hidden;
                margin-bottom: 15px;

                p {
                    width: 100%;
                    padding: 25px;
                    background-color: $bc-white;
                    text-align: center;
                    letter-spacing: 5px;
                    white-space: nowrap;
                }

            }
        }

    }

    .message_area {
        position: relative;
        padding-left: 30px;
        margin: 110px 0px 110px;
        font-size: $fs-16;

        &>div {
            display: flex;

            padding: 2.5px 0px;



            &>div {
                width: 110px;
                // overflow: hidden;
                padding-right: 20px;
                white-space: nowrap;
                box-sizing: unset;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    right: 0;
                    background-color: $bc-brown;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 5px;
            height: 100%;
            background-color: $bc-brown;
        }

        .firtst_data {
            &>div {
                &>p {
                    letter-spacing: 15px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .new_data {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }

        .click_point {
            &>div {
                &>p {
                    letter-spacing: 2.7px;
                }
            }

            &>p {
                padding-left: 20px;
            }
        }
    }

}

