@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
.from .text {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 40px 0px 50px;
}

.from .activity .nameGroup {
  border: 2px solid #000000;
  padding: 15px 0;
  letter-spacing: 4px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #231815;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .from .activity .nameGroup {
    display: none;
  }
}

.from .activity .nameGroup .dateName {
  min-width: 130px;
  text-align: center;
}

.from .activity .nameGroup .className {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1200px) {
  .from .activity .nameGroup .className {
    min-width: 100px;
  }
}

.from .activity .nameGroup .activityName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.from .activity .nameGroup .takingName {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1200px) {
  .from .activity .nameGroup .takingName {
    min-width: 100px;
  }
}

.from .activity .nameGroup .IngName {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1200px) {
  .from .activity .nameGroup .IngName {
    min-width: 100px;
  }
}

.from .activity .news_list {
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .from .activity .news_list {
    width: calc(100% + 40px);
    margin: 0px -20px;
  }
}

@media (max-width: 1024px) {
  .from .activity .news_list > :nth-child(1) {
    border-top: 2px solid #808080;
  }
}

.from .activity .news_list > :nth-child(2n) {
  background-color: #23181510;
}

.from .activity .news_list .news {
  width: 100%;
  min-height: 90px;
  border-bottom: 2px solid #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 20px;
  }
}

.from .activity .news_list .news .area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.from .activity .news_list .news .area span:nth-child(1) {
  display: none;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area span:nth-child(1) {
    display: block;
    padding-right: 15px;
    position: relative;
  }
  .from .activity .news_list .news .area span:nth-child(1)::after {
    content: '';
    height: 20px;
    border: 1px solid #808080;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area span:nth-child(2) {
    padding-left: 15px;
  }
}

.from .activity .news_list .news .area.activityarea {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.activityarea {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .from .activity .news_list .news .area.activityarea span:nth-child(1) {
    display: none;
  }
  .from .activity .news_list .news .area.activityarea span:nth-child(2) {
    padding-left: 0px;
  }
}

.from .activity .news_list .news .area.datearea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
}

.from .activity .news_list .news .area.datearea::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.datearea::after {
    content: '';
    height: 0px;
    border: 0px solid #808080;
  }
}

.from .activity .news_list .news .area.datearea .start-date {
  font-size: 12px;
}

.from .activity .news_list .news .area.datearea .start-date::after {
  content: '起';
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.datearea .start-date {
    margin-right: 15px;
  }
}

.from .activity .news_list .news .area.datearea .end-date {
  font-size: 12px;
}

.from .activity .news_list .news .area.datearea .end-date::after {
  content: '止';
}

.from .activity .news_list .news .area.datearea span:nth-child(2), .from .activity .news_list .news .area.datearea span:nth-child(3) {
  color: #808080;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.datearea {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 10px;
    color: #666666;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
}

.from .activity .news_list .news .area.classarea::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.classarea {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
  .from .activity .news_list .news .area.classarea span:nth-child(2) {
    padding: 0px 20px;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
  }
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.classarea span:nth-child(1) {
    display: none;
  }
}

.from .activity .news_list .news .area.activityarea {
  padding: 0px 10px;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.activityarea {
    padding: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .from .activity .news_list .news .area.takingarea {
    min-width: 100px;
  }
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.takingarea {
    color: #666666;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .from .activity .news_list .news .area.Ingarea {
    min-width: 100px;
  }
}

.from .activity .news_list .news .area.Ingarea span:nth-child(2) {
  color: #938075;
}

.from .activity .news_list .news .area.Ingarea span:nth-child(2)::after {
  content: '';
  height: 0px;
  border: 0px solid #808080;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.Ingarea {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 10px;
  }
  .from .activity .news_list .news .area.Ingarea span {
    display: none;
  }
}

.from .activity .news_list .news .area.Ingarea .btn-mob {
  display: none;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  color: #231815;
  border: 1px solid #231815;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.from .activity .news_list .news .area.Ingarea .btn-mob:hover {
  background-color: #231815;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .from .activity .news_list .news .area.Ingarea .btn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .from .nav-pills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.from .nav-pills .nav-item {
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}

.from .nav-pills .nav-item .active {
  color: #FFFFFF;
  background-color: #231815;
}

.from .nav-pills .nav-item .nav-link {
  border-radius: 0px;
  border: 1px solid #000000;
  -webkit-transition: .3s;
  transition: .3s;
}

.from .nav-pills .nav-item .nav-link:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.from .login .quantity {
  margin-bottom: 30px;
}

.from .login .quantity a {
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #231815;
  color: #231815;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .3s;
  transition: .3s;
  margin-left: auto;
}

.from .login .quantity a:hover {
  color: #FFFFFF;
  background-color: #231815;
}

.from .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .from .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
}

.from .title li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.from .title li .icon {
  height: 8px;
  width: 50px;
  background-color: #000000;
}

@media (max-width: 768px) {
  .from .title li:nth-child(1) {
    margin-bottom: 30px;
  }
}

.from .title li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .from .title li:nth-child(2) {
    margin-bottom: 15px;
  }
}

.Description .text {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.Description .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Description .title li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.Description .title li .icon {
  height: 8px;
  width: 50px;
  background-color: #000000;
}

.Description .title li:nth-child(1) {
  margin-bottom: 30px;
}

.Description .title li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.Description .title li:nth-child(2) select {
  border: 2px solid #000000;
  font-size: 14px;
  width: 162px;
  height: 32px;
  margin-left: 20px;
  text-align: center;
  text-align-last: center;
  border-right: 0.5px solid #000000;
}

.Description .title li:nth-child(2) button {
  border: 2px solid #000000;
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: 32px;
  background-color: transparent;
  border-left: 0.5px solid #000000;
}

@media (max-width: 768px) {
  .Description .title li:nth-child(2) button {
    display: none;
  }
}

.Description .title li button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Description .title li button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.Description .stage .nameGroup {
  border: 2px solid #000000;
  padding: 15px 0;
  letter-spacing: 4px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #231815;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .Description .stage .nameGroup {
    display: none;
  }
}

.Description .stage .nameGroup .dateName {
  min-width: 200px;
  text-align: center;
}

.Description .stage .nameGroup .activityName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.Description .stage .nameGroup .IngName {
  min-width: 200px;
  text-align: center;
}

.Description .stage .news_list {
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .Description .stage .news_list > :nth-child(1) {
    border-top: 2px solid #808080;
  }
}

.Description .stage .news_list > :nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.376);
}

.Description .stage .news_list > :nth-last-child(1) {
  margin-bottom: 40px;
}

@media (max-width: 1024 px) {
  .Description .stage .news_list > :nth-last-child(1) {
    margin-bottom: 45px;
  }
}

.Description .stage .news_list .news {
  width: 100%;
  min-height: 90px;
  border-bottom: 2px solid #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px;
  }
}

.Description .stage .news_list .news .area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  text-align: center;
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.Description .stage .news_list .news .area span:nth-child(1) {
  display: none;
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area span:nth-child(1) {
    display: block;
    padding-right: 15px;
    position: relative;
  }
  .Description .stage .news_list .news .area span:nth-child(1)::after {
    content: '';
    height: 20px;
    border: 1px solid #808080;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.Description .stage .news_list .news .area span:nth-child(2)::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area span:nth-child(2) {
    padding-left: 15px;
  }
  .Description .stage .news_list .news .area span:nth-child(2)::after {
    content: '';
    height: 0px;
    border: 0px solid #808080;
  }
}

.Description .stage .news_list .news .area.activityarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area.activityarea {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.Description .stage .news_list .news .area.datearea span:nth-child(2) {
  color: #808080;
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area.datearea {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 10px;
  }
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area.activityarea {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10px;
  }
}

.Description .stage .news_list .news .area.Ingarea span:nth-child(2)::after {
  content: '';
  height: 0px;
  border: 0px solid #808080;
}

@media (max-width: 1024px) {
  .Description .stage .news_list .news .area.Ingarea {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

.Description .stage .news_list .news .area.Ingarea button {
  background-color: #231815;
  color: #FFFFFF;
  border: 0px solid #FFFFFF;
  letter-spacing: 3px;
  width: 100px;
  height: 30px;
}

.Reply .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .Reply .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }
}

.Reply .title li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.Reply .title li .icon {
  height: 8px;
  width: 50px;
  background-color: #000000;
}

@media (max-width: 768px) {
  .Reply .title li:nth-child(1) {
    margin-bottom: 30px;
  }
}

.Reply .title li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .Reply .title li:nth-child(2) {
    margin-bottom: 15px;
  }
}

.Reply .activity .nameGroup {
  border: 2px solid #000000;
  padding: 15px 0;
  letter-spacing: 4px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #231815;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .Reply .activity .nameGroup {
    display: none;
  }
}

.Reply .activity .nameGroup .dateName {
  min-width: 130px;
  text-align: center;
}

.Reply .activity .nameGroup .className {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1200px) {
  .Reply .activity .nameGroup .className {
    min-width: 100px;
  }
}

.Reply .activity .nameGroup .activityName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.Reply .activity .nameGroup .takingName {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1200px) {
  .Reply .activity .nameGroup .takingName {
    min-width: 100px;
  }
}

.Reply .activity .nameGroup .IngName {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1200px) {
  .Reply .activity .nameGroup .IngName {
    min-width: 100px;
  }
}

.Reply .activity .news_list {
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list > :nth-child(1) {
    border-top: 2px solid #808080;
  }
}

.Reply .activity .news_list > :nth-child(2n) {
  background-color: #23181510;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list {
    width: calc(100% + 35px);
    margin: 0px -20px;
  }
}

.Reply .activity .news_list .news {
  width: 100%;
  min-height: 90px;
  border-bottom: 2px solid #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px 20px;
  }
}

.Reply .activity .news_list .news .area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.Reply .activity .news_list .news .area span:nth-child(1) {
  display: none;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area span:nth-child(1) {
    display: block;
    padding-right: 15px;
    position: relative;
  }
  .Reply .activity .news_list .news .area span:nth-child(1)::after {
    content: '';
    height: 20px;
    border: 1px solid #808080;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area span:nth-child(2) {
    padding-left: 15px;
  }
}

.Reply .activity .news_list .news .area.activityarea {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.activityarea {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Reply .activity .news_list .news .area.activityarea span:nth-child(1) {
    display: none;
  }
  .Reply .activity .news_list .news .area.activityarea span:nth-child(2) {
    padding-left: 0px;
  }
}

.Reply .activity .news_list .news .area.datearea {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0;
}

.Reply .activity .news_list .news .area.datearea::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.datearea::after {
    content: '';
    height: 0px;
    border: 0px solid #808080;
  }
}

.Reply .activity .news_list .news .area.datearea .start-date {
  font-size: 12px;
}

.Reply .activity .news_list .news .area.datearea .start-date::after {
  content: '起';
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.datearea .start-date {
    margin-right: 15px;
  }
}

.Reply .activity .news_list .news .area.datearea .end-date {
  font-size: 12px;
}

.Reply .activity .news_list .news .area.datearea .end-date::after {
  content: '止';
}

.Reply .activity .news_list .news .area.datearea span:nth-child(2), .Reply .activity .news_list .news .area.datearea span:nth-child(3) {
  color: #808080;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.datearea {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 10px;
    color: #666666;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
}

.Reply .activity .news_list .news .area.classarea::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.classarea {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 15px;
  }
  .Reply .activity .news_list .news .area.classarea span:nth-child(2) {
    padding: 0px 20px;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
  }
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.classarea span:nth-child(1) {
    display: none;
  }
}

.Reply .activity .news_list .news .area.activityarea {
  padding: 0px 10px;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.activityarea {
    padding: 0px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .Reply .activity .news_list .news .area.takingarea {
    min-width: 100px;
  }
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.takingarea {
    color: #666666;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .Reply .activity .news_list .news .area.Ingarea {
    min-width: 100px;
  }
}

.Reply .activity .news_list .news .area.Ingarea span:nth-child(2) {
  color: #938075;
}

.Reply .activity .news_list .news .area.Ingarea span:nth-child(2)::after {
  content: '';
  height: 0px;
  border: 0px solid #808080;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.Ingarea {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 10px;
  }
  .Reply .activity .news_list .news .area.Ingarea span {
    display: none;
  }
}

.Reply .activity .news_list .news .area.Ingarea .btn-mob {
  display: none;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  color: #231815;
  border: 1px solid #231815;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Reply .activity .news_list .news .area.Ingarea .btn-mob:hover {
  background-color: #231815;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .Reply .activity .news_list .news .area.Ingarea .btn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Sign_form {
  padding: 0px;
  margin-bottom: 5px;
}

.Sign_form ol {
  max-width: 830px;
}

.Sign_form .text {
  margin-bottom: 30px;
  text-align: justify;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

.Sign_form .text P {
  padding: 15px 0px;
}

.Sign_form .form_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Sign_form .form_btn button {
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 3px;
  max-width: 220px;
  max-height: unset;
  padding: 10px 25px;
  border-radius: unset;
  background-color: transparent;
  border: 1px solid unset;
  -webkit-transition: .3s;
  transition: .3s;
  color: #231815;
  width: 220px;
  margin-left: 20px;
  border: 1px solid #231815;
}

.Sign_form .form_btn button:hover {
  background-color: #231815;
}

.Sign_form .form_btn button:hover {
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .Sign_form .form_btn button {
    width: 50%;
    margin-left: 10px;
  }
  .Sign_form .form_btn button:nth-last-child(1) {
    margin-left: 10px;
    margin-right: 0px;
  }
}
/*# sourceMappingURL=Form-InsidePage.css.map */