@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  font-family: 'Noto Serif TC', serif;
}

header nav {
  position: relative;
  z-index: 2;
}

header .banner {
  z-index: 2;
}

header .aside-bg {
  z-index: 1;
}

main {
  position: relative;
}

main .bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  max-width: 1800px;
  width: 100%;
  height: 300px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E4E4E4;
}

@media screen and (max-width: 1600px) {
  main .bg {
    width: calc(100% - 60px);
    padding: 0px 30px;
  }
}

#Statistics {
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;
  padding: 50px 0 70px 0;
}

@media screen and (max-width: 1600px) {
  #Statistics {
    padding: 50px 25px 70px;
  }
}

@media screen and (max-width: 1200px) {
  #Statistics {
    padding: 50px 60px 70px;
  }
}

#Statistics .statistics_area .title_region {
  position: relative;
  margin: 0 auto;
  padding: 0px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

@media screen and (max-width: 1400px) {
  #Statistics .statistics_area .title_region {
    padding: 0px 20px 25px;
  }
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .title_region {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#Statistics .statistics_area .title_region h2 {
  font-size: 76px;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .title_region h2 {
    position: relative;
    padding-bottom: 20px;
    font-size: 48px;
    letter-spacing: 3px;
  }
}

#Statistics .statistics_area .title_region h2::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #231815;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .title_region h2::after {
    width: 200px;
  }
}

#Statistics .statistics_area .title_region p.small {
  font-size: 33px;
  margin: auto 0px 0px;
  padding-left: 10px;
  letter-spacing: 13px;
}

#Statistics .statistics_area .title_region .icon {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .title_region .icon {
    padding: 20px 0px;
    margin-left: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#Statistics .statistics_area .title_region .icon > a {
  display: contents;
}

#Statistics .statistics_area .title_region .icon a:nth-child(1) .year_books {
  border-right: 1px solid #FFFFFF;
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .title_region .icon a:nth-child(1) .year_books {
    border: 1px solid #231815;
  }
}

#Statistics .statistics_area .title_region .icon .year_books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 75px;
  margin-top: auto;
  background-color: #FFFFFF;
  color: #231815;
  border: 1px solid #231815;
  letter-spacing: 5px;
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .title_region .icon .year_books {
    margin-bottom: 10px;
  }
}

#Statistics .statistics_area .title_region .icon .year_books:hover {
  background-color: #231815;
  color: #FFFFFF;
}

#Statistics .statistics_area .title_region .icon .year_books:hover:nth-child(1) {
  border-right: 1px solid #231815;
}

#Statistics .statistics_area .content {
  padding: 70px 0px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 576px) {
  #Statistics .statistics_area .content > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

#Statistics .statistics_area .content .business_block {
  margin: 0px 30px;
}

#Statistics .statistics_area .content .business_block .business_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 500px;
  border: 10px solid #665252;
  padding: 70px 0px;
  width: 320px;
  height: 320px;
  margin: 0px 0px 25px;
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .content .business_block .business_text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 260px;
    height: 260px;
    margin: 0 auto 25px;
  }
}

@media screen and (max-width: 576px) {
  #Statistics .statistics_area .content .business_block .business_text {
    width: 320px;
    height: 320px;
  }
}

#Statistics .statistics_area .content .business_block .business_text span:nth-child(1) {
  font-size: 76px;
  font-weight: bold;
  padding-bottom: 20px;
  position: relative;
  letter-spacing: 15px;
}

#Statistics .statistics_area .content .business_block .business_text span:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #231815;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Statistics .statistics_area .content .business_block .business_text span:nth-child(1)::after {
  content: '個';
  position: absolute;
  padding-bottom: 20px;
  font-size: 24px;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(90%, -10%);
          transform: translate(90%, -10%);
}

#Statistics .statistics_area .content .business_block .business_text :nth-child(2) {
  padding-top: 20px;
  font-size: 24px;
  letter-spacing: 3px;
}

#Statistics .statistics_area .content .business_block .btn {
  width: 220px;
  padding: 10px 0px;
  background-color: #231815;
  color: #FFFFFF;
  margin-bottom: 55px;
  letter-spacing: 3px;
}

@media screen and (max-width: 1200px) {
  #Statistics .statistics_area .content .business_block .btn {
    width: 150px;
  }
}

#Statistics .Statistics_bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 1800px;
  width: 100%;
  height: 200%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
  #Statistics .Statistics_bg {
    padding: 0px 30px;
  }
}

@media (max-width: 576px) {
  #Statistics .Statistics_bg {
    padding: 0;
  }
}

#Statistics .Statistics_bg .slash {
  position: absolute;
  width: 100%;
  height: 120%;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
  background-color: #E4E4E4;
  z-index: 1;
  bottom: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
  #Statistics .Statistics_bg .slash {
    width: calc(100% - 60px);
    padding: 0px 30px;
  }
}

@media (max-width: 576px) {
  #Statistics .Statistics_bg .slash {
    width: 100%;
    left: 0;
  }
}

#Plan {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 5px 8px -5px #231815;
          box-shadow: 0 5px 8px -5px #231815;
}

#Plan .container_1140 .title_region {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px 25px;
}

#Plan .container_1140 .title_region h2 {
  position: relative;
  font-size: 76px;
  padding-bottom: 25px;
  margin: 0;
}

#Plan .container_1140 .title_region h2::after {
  content: '';
  width: 120%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Plan .container_1140 .title_region p {
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  padding-left: 10px;
  letter-spacing: 13px;
}

#Plan .container .pd {
  padding-bottom: 100px;
}

#Plan .container .content :nth-child(1) .card {
  background-image: url(../img/index/plan_01.png);
}

#Plan .container .content :nth-child(2) .card {
  background-image: url(../img/index/plan_02.png);
}

#Plan .container .content :nth-child(3) .card {
  background-image: url(../img/index/plan_03.png);
}

#Plan .container .content :nth-child(4) .card {
  background-image: url(../img/index/plan_04.png);
}

#Plan .container .content :nth-child(5) .card {
  background-image: url(../img/index/plan_05.JPG);
}

#Plan .container .content :nth-child(6) .card {
  background-image: url(../img/index/plan_06.png);
}

#Plan .container .content .card {
  margin-bottom: 30px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Plan .container .content .card:hover .text_hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  #Plan .container .content .card:hover .text_hover {
    display: none;
  }
}

#Plan .container .content .card img {
  width: 100%;
  opacity: 0;
}

@media screen and (max-width: 576px) {
  #Plan .container .content .card img {
    height: 100px;
  }
}

#Plan .container .content .card .text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #23181571;
}

#Plan .container .content .card .text p {
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 7px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 576px) {
  #Plan .container .content .card .text p {
    font-size: 18px;
  }
}

#Plan .container .content .card .text p::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 210px;
  height: 3px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  #Plan .container .content .card .text p::after {
    bottom: -10px;
  }
}

#Plan .container .content .card .text_hover {
  display: none;
  height: 100%;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5E5652;
}

#Plan .container .content .card .text_hover h2 {
  font-size: 27px;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

#Plan .container .content .card .text_hover p {
  color: #FFFFFF;
  display: -webkit-box;
  font-size: 18px;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: normal;
  padding: 0px 65px;
  letter-spacing: 2px;
  overflow: hidden;
  margin-bottom: 35px;
}

#Plan .container .content .card .text_hover .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 230px;
  margin: 0 auto;
}

#Plan .container .content .card .text_hover .button span {
  max-width: 230px;
  padding: 10px 70px;
  border: 1px solid #FFFFFF;
  letter-spacing: 5px;
  font-weight: 600;
  position: relative;
}

#Plan .container .content .card .text_hover .button span .arrow_button {
  width: 25px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #FFFFFF;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#Plan .container .content .card .text_hover .button span .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 5px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #FFFFFF;
}

#Plan1 {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 5px 8px -5px #231815;
          box-shadow: 0 5px 8px -5px #231815;
}

#Plan1 .title_region {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 25px;
}

#Plan1 .title_region h2 {
  position: relative;
  font-size: 76px;
  padding-bottom: 25px;
  margin: 0;
}

#Plan1 .title_region h2::after {
  content: '';
  width: 120%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Plan1 .title_region p {
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  padding-left: 10px;
  letter-spacing: 13px;
}

#Plan1 .content {
  padding: 0px 0px 145px;
}

#Plan1 .content .card:nth-child(1) {
  background-image: url("../img/index/plan_02.png");
}

#Plan1 .content .card:nth-child(2) {
  background-image: url("../img/index/plan_03.png");
}

#Plan1 .content .card:nth-child(3) {
  background-image: url("../img/index/plan_04.png");
}

#Plan1 .content .card:nth-child(4) {
  background-image: url("../img/index/plan_06.png");
}

@media screen and (max-width: 1600px) {
  #Plan1 .content {
    padding: 0px 75px 140px;
  }
}

@media screen and (max-width: 1199px) {
  #Plan1 .content {
    padding: 0px 85px 140px;
  }
}

@media screen and (max-width: 576px) {
  #Plan1 .content {
    padding: 0px 20px 135px;
  }
}

#Plan1 .content .card {
  margin-bottom: 15px;
  background-size: 100%;
  background-position: center;
}

#Plan1 .content .card .text {
  position: relative;
  z-index: 3;
  padding: 30px 0px;
  text-align: center;
}

#Plan1 .content .card .text h2 {
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 7px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  #Plan1 .content .card .text h2 {
    font-size: 18px;
  }
}

#Plan1 .content .card .text h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120px;
  height: 3px;
  background-color: #FFFFFF;
}

#Plan1 .content .card .text p {
  padding: 10px 0px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 5px;
}

#Plan1 .content .card .Plan_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #23181571;
}

#Video {
  background-color: #E4E4E4;
  padding: 100px 0px;
}

#Video .title_region {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 25px;
}

#Video .title_region h2 {
  position: relative;
  font-size: 76px;
  padding-bottom: 25px;
  margin: 0;
}

#Video .title_region h2::after {
  content: '';
  width: 120%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Video .title_region p {
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  padding-left: 10px;
  letter-spacing: 13px;
}

#Video .player {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}

#Video .player.content {
  padding: 0px;
}

@media screen and (max-width: 1600px) {
  #Video .player.content {
    padding: 0px 75px 140px;
  }
}

@media screen and (max-width: 1199px) {
  #Video .player.content {
    padding: 0px 85px 140px;
  }
}

@media screen and (max-width: 576px) {
  #Video .player.content {
    padding: 0px 20px 135px;
  }
}

@media screen and (max-width: 992px) {
  #Video .player {
    margin-bottom: unset;
  }
}

#Video .player .play_img {
  width: 100%;
  padding: 300px 0px;
  border-radius: 50px;
  position: relative;
  background-image: url("../img/index/video.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#Video .player .play_img .icon {
  display: none;
}

@media screen and (max-width: 992px) {
  #Video .player .play_img {
    padding: 0px;
  }
  #Video .player .play_img > a {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #Video .player .play_img .icon {
    display: inline-block;
    padding: 25px 50px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
  }
  #Video .player .play_img .icon i {
    font-size: 24px;
    color: #FFFFFF;
  }
}

#Video .player .play_img .player_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23181571;
  z-index: 2;
}

#Video .player .play_img img {
  opacity: 0;
  width: 100%;
  display: none;
}

@media screen and (max-width: 992px) {
  #Video .player .play_img img {
    display: block;
  }
}

#Video .player .player_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 0px;
  position: absolute;
  top: 0;
  z-index: 3;
}

@media screen and (max-width: 992px) {
  #Video .player .player_content {
    position: relative;
    padding: 40px 0px;
  }
}

#Video .player .player_content .text p {
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 7px;
  padding: 0px 0px 30px;
  display: inline-block;
  margin: 0 auto 30px;
  position: relative;
}

@media screen and (max-width: 992px) {
  #Video .player .player_content .text p {
    color: #000000;
    padding: 0;
    margin: 0 auto 20px;
  }
}

#Video .player .player_content .text p::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 992px) {
  #Video .player .player_content .text p::after {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #Video .player .player_content > a {
    display: none;
  }
}

#Video .player .player_content .icon {
  padding: 25px 50px;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
  margin-bottom: 55px;
}

#Video .player .player_content .icon i {
  font-size: 24px;
  color: #FFFFFF;
}

#Video .player .player_content .content p {
  color: #FFFFFF;
  letter-spacing: 2.5px;
  text-align: justify;
  line-height: 35px;
}

@media screen and (max-width: 992px) {
  #Video .player .player_content .content p {
    color: #000000;
  }
}

#Video .button {
  width: 250px;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  cursor: pointer;
}

#Video .button span {
  letter-spacing: 5px;
  font-size: 15px;
  color: white;
}

#Video .button .arrow_button {
  width: 25px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #FFFFFF;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#Video .button .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 5px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #FFFFFF;
}

#News {
  background-color: #FFFFFF;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 1600px) {
  #News {
    padding: 0px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

#News .container_1600 {
  max-width: 1600px;
  padding: 120px 135px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1600px) {
  #News .container_1600 {
    padding: 120px 100px 50px;
  }
}

@media screen and (max-width: 1140px) {
  #News .container_1600 {
    padding: 120px 75px 50px;
  }
}

@media screen and (max-width: 720px) {
  #News .container_1600 {
    padding: 120px 50px 50px;
  }
}

@media screen and (max-width: 576px) {
  #News .container_1600 {
    padding: 120px 15px 50px;
  }
}

#News .container_1600 .row {
  width: 100%;
}

#News .container_1600 .row .title_area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media screen and (max-width: 1600px) {
  #News .container_1600 .row .title_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

#News .container_1600 .row .title_area .title_region {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 1600px) and (min-width: 577px) {
  #News .container_1600 .row .title_area .title_region {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

#News .container_1600 .row .title_area .title_region h2 {
  position: relative;
  width: 250px;
  font-size: 76px;
  padding-bottom: 35px;
  margin: 0;
}

#News .container_1600 .row .title_area .title_region h2 :nth-child(1) {
  letter-spacing: 4px;
}

#News .container_1600 .row .title_area .title_region h2 :nth-child(2) {
  letter-spacing: 0px;
}

#News .container_1600 .row .title_area .title_region h2::after {
  content: '';
  width: 85%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1600px) and (min-width: 576px) {
  #News .container_1600 .row .title_area .title_region h2::after {
    display: none;
  }
}

@media screen and (max-width: 1600px) and (min-width: 577px) {
  #News .container_1600 .row .title_area .title_region .title_block {
    padding-bottom: 35px;
    margin-left: -15px;
  }
}

#News .container_1600 .row .title_area .title_region .title_block p {
  min-width: 235px;
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 27px 0px 0px;
  letter-spacing: 25px;
  text-align: left;
}

#News .container_1600 .row .content_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px;
  margin-top: 25px;
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666666%;
          flex: 0 0 66.666666%;
  max-width: 66.666666%;
}

@media screen and (max-width: 1600px) {
  #News .container_1600 .row .content_text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

#News .container_1600 .row .content_text .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  #News .container_1600 .row .content_text .block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#News .container_1600 .row .content_text .block:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  top: 0;
}

#News .container_1600 .row .content_text .block::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 0;
}

#News .container_1600 .row .content_text .block p {
  margin: 0px;
  font-size: 18px;
}

#News .container_1600 .row .content_text .block p.time {
  padding: 0px 50px;
  position: relative;
}

@media screen and (max-width: 1100px) {
  #News .container_1600 .row .content_text .block p.time {
    padding: 0px 50px 0px 0px;
  }
}

@media screen and (max-width: 576px) {
  #News .container_1600 .row .content_text .block p.time {
    padding: 0px 10px 0px 0px;
  }
}

#News .container_1600 .row .content_text .block p.time::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: red;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1100px) {
  #News .container_1600 .row .content_text .block p.time::before {
    position: unset;
  }
}

#News .container_1600 .row .content_text .block p.sort {
  width: 36px;
  padding: 0px 45px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

@media screen and (max-width: 576px) {
  #News .container_1600 .row .content_text .block p.sort {
    padding: 0px 15px;
  }
}

#News .container_1600 .row .content_text .block p.text {
  padding-left: 35px;
}

@media screen and (max-width: 1100px) {
  #News .container_1600 .row .content_text .block p.text {
    margin-top: 15px;
    width: 100%;
    padding-left: unset;
  }
}

@media screen and (max-width: 576px) {
  #News .container_1600 .row .content_text .block p.text {
    line-height: 30px;
  }
}

#News .container_1600 .row .content_text .button {
  padding: 35px 0px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#News .container_1600 .row .content_text .button span {
  padding: 20px 80px;
  border: 1px solid #000000;
  margin-left: auto;
  letter-spacing: 5px;
  font-weight: 600;
}

#News .adornment {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#News .adornment .block {
  position: absolute;
  width: 100%;
  height: 120%;
  -webkit-transform: skewY(1deg);
          transform: skewY(1deg);
  background-color: #FFFFFF;
  -webkit-transform-origin: center;
          transform-origin: center;
  bottom: 13px;
  -webkit-box-shadow: 0 -10px 20px -5px #888888, 0 10px 20px -5px #888888, 10px 0 20px -5px #888888;
          box-shadow: 0 -10px 20px -5px #888888, 0 10px 20px -5px #888888, 10px 0 20px -5px #888888;
}

#News .news_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
}

#News .news_bg .slash {
  position: absolute;
  width: 100%;
  height: 120%;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  background-color: #E4E4E4;
  -webkit-box-shadow: 0 0 5px 10px #E4E4E4;
          box-shadow: 0 0 5px 10px #E4E4E4;
}

#Vendor {
  padding: 0px 0px 110px;
  overflow: hidden;
}

#Vendor .content {
  position: relative;
}

#Vendor .content.container_1140 {
  padding-right: 70px;
}

@media screen and (max-width: 1200px) {
  #Vendor .content.container_1140 {
    padding-right: 15px;
  }
}

@media screen and (max-width: 1200px) {
  #Vendor .content > div {
    text-align: center;
  }
}

#Vendor .content img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  #Vendor .content img {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  #Vendor .content img {
    width: 100%;
  }
}

#Vendor .content .arrow {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(80%, -50%);
          transform: translate(80%, -50%);
}

@media screen and (max-width: 1200px) {
  #Vendor .content .arrow {
    padding: 30px 0px;
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

#Vendor .content .arrow .arrow_button {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
  border-bottom: 2px solid #000000;
}

@media screen and (max-width: 1200px) {
  #Vendor .content .arrow .arrow_button {
    margin: auto;
  }
}

#Vendor .content .arrow .arrow_button::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 10px;
  right: -1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #000000;
}
/*# sourceMappingURL=index.css.map */