@import "./_variables.scss";
@import "./_function.scss";


* {
    font-family: 'Noto Serif TC', serif;
}

#Statistics {
    background-color: $bc-white;

    .title_region {
        position: relative;
        margin: 0 auto;
        padding: 0px 0px 25px;
        display: flex;

        @media screen and (max-width:1200px) {
            flex-direction: column;
            align-items: center;
        }

        h2 {

            font-size: $fs-76;
            margin: 0;

            @media screen and (max-width:1200px) {
                position: relative;
                padding-bottom: 20px;
                font-size: $fs-48;
                letter-spacing: 3px;
            }

            &::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $bc-brown;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);

                @media screen and (max-width:1200px) {
                    width: 200px;
                }
            }
        }

        p.small {
            font-size: 33px;
            // width: 100%;
            margin: auto 0px 0px;
            padding-left: 10px;
            letter-spacing: 13px;

            @media screen and (max-width:1200px) {}
        }

        .icon {
            margin-left: auto;
            display: flex;

            @media screen and (max-width:1200px) {
                padding: 20px 0px;
                margin-left: unset;
                flex-direction: column;
                align-items: center;
            }

            & .year_books:nth-child(1) {
                border-right: 1px solid $bc-white;

                @media screen and (max-width:1200px) {
                    border: 1px solid $bc-brown;
                }
            }

            .year_books {
                display: flex;
                padding: 10px 75px;
                margin-top: auto;
                background-color: $bc-white;
                color: $bc-brown;
                border: 1px solid $bc-brown;
                letter-spacing: 5px;

                @media screen and (max-width:1200px) {
                    margin-bottom: 10px;
                }

                &:hover {
                    background-color: $bc-brown;
                    color: $bc-white;

                    &:nth-child(1) {
                        border-right: 1px solid $bc-brown;
                    }
                }

                p {
                    // margin: auto 0px 0px;
                }
            }
        }
    }

    .content {
        padding: 70px 0px;
        @media screen and (max-width:1600px) and(min-width:){}
            
        
        .business_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 500px;
            border: 10px solid $bc-brown-hover;
            padding: 70px 0px;
            width: 340px;
            height: 340px;
            margin: 0px 0px 25px;

            @media screen and (max-width:1200px) {
                justify-content: center;
                width: 300px;
                height: 300px;
                margin: 0 auto 25px;
            }

            & span:nth-child(1) {
                font-size: $fs-76;
                font-weight: $fw-bold;
                padding-bottom: 20px;
                position: relative;
                letter-spacing: 15px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 2px;
                    background-color: $bc-brown;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &::after {
                    content: '個';
                    position: absolute;
                    // width: 20px;
                    // height: 2px;
                    padding-bottom: 20px;
                    font-size: $fs-24;
                    // background-color: $bc-brown;
                    bottom: 0;
                    right: 0;
                    transform: translate(90% , -10%);
                }


            }

            & :nth-child(2) {
                padding-top: 20px;
                font-size: $fs-24;
                letter-spacing: 3px;
            }
        }
        .btn{
            width: 220px;
            padding: 10px 0px;
            background-color:$bc-brown;
            color: $fc-white;
            margin-bottom: 55px;
            letter-spacing: 3px;
            @media screen and (max-width:1200px) {
                width: 150px;
            }
        }
    }

    .Statistics_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        transform: translateY(-95%);

        .slash {
            position: absolute;
            width: 100%;
            height: 120%;
            transform: skewY(3deg);
            background-color: $bc-light-brown;
            // box-shadow: 0 0 5px 10px $bc-light-brown;
        }
    }
}

#Plan {
    position: relative;
    z-index: 3;
    box-shadow: 0 10px 20px -5px $bc-brown;

    .container_1140 {
        .title_region {
            width: 250px;
            margin: 0 auto;
            text-align: center;
            padding: 0px 0px 25px;

            h2 {
                position: relative;
                font-size: 76px;
                padding-bottom: 25px;
                margin: 0;

                &::after {
                    content: '';
                    width: 120%;
                    height: 2px;
                    background-color: #000000;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            p {
                font-size: 33px;
                width: 100%;
                margin: 0;
                padding: 20px 0px;
                padding-left: 10px;
                letter-spacing: 13px;
            }
        }

    }

    .container {

        padding-bottom: 100px;

        .content {
            & :nth-child(1) .card {
                background-image: url(../img/index/plan_01.png);
            }

            & :nth-child(2) .card {
                background-image: url(../img/index/plan_02.png);
            }

            & :nth-child(3) .card {
                background-image: url(../img/index/plan_03.png);
            }

            & :nth-child(4) .card {
                background-image: url(../img/index/plan_04.png);
            }

            & :nth-child(5) .card {
                background-image: url(../img/index/plan_05.JPG);
            }

            & :nth-child(6) .card {
                background-image: url(../img/index/plan_06.png);
            }

            .card {
                margin-bottom: 30px;
                position: relative;
                align-items: center;
                justify-content: center;
                background-repeat: no-repeat;
                background-size: cover;

                &:hover .text_hover {
                    display: flex;

                    @media screen and (max-width:576px) {
                        display: none;
                    }
                }

                img {
                    @media screen and (max-width:576px) {
                        & {
                            height: 100px;
                        }
                    }


                    width: 100%;
                    opacity: 0;
                }

                .text {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: $bc-brown-Transparent;

                    p {
                        font-size: $fs-32;
                        color: $fc-white;
                        text-align: center;
                        letter-spacing: 7px;
                        display: inline-block;
                        margin: 0 auto;
                        position: relative;

                        @media screen and (max-width:576px) {
                            font-size: $fs-18;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 210px;
                            height: 3px;
                            background-color: $fc-white;

                            @media screen and (max-width:576px) {
                                bottom: -10px;
                            }
                        }
                    }
                }

                .text_hover {
                    display: none;
                    height: 100%;
                    position: absolute;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $fc-card-hover;

                    h2 {
                        font-size: $fs-27;
                        color: $fc-white;
                        margin-bottom: 20px;
                        text-align: center;
                    }

                    p {
                        color: $fc-white;
                        display: -webkit-box;
                        font-size: $fs-18;
                        -webkit-line-clamp: 3;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        padding: 0px 65px;
                        letter-spacing: 2px;
                        overflow: hidden;
                        margin-bottom: 35px;
                    }

                    .button {
                        display: flex;
                        max-width: 230px;
                        margin: 0 auto;

                        span {
                            max-width: 230px;
                            padding: 10px 70px;
                            border: 1px solid $fc-white;
                            letter-spacing: 5px;
                            font-weight: 600;
                            position: relative;

                            .arrow_button {
                                width: 25px;
                                height: 2px;
                                background-color: blanchedalmond;
                                border-bottom: 2px solid $fc-white;
                                position: absolute;
                                top: 50%;
                                right: 20px;
                                transform: translateY(-50%);

                                &::after {
                                    content: '';
                                    position: absolute;
                                    height: 2px;
                                    width: 5px;
                                    right: -1px;
                                    transform: rotate(45deg);
                                    transform-origin: right;
                                    background-color: $fc-white;
                                }
                            }
                        }

                    }
                }

            }
        }
    }
}

#Plan1 {
    position: relative;
    z-index: 3;
    box-shadow: 0 10px 20px -5px $bc-brown;

    .title_region {
        width: 250px;
        margin: 0 auto;
        text-align: center;
        padding: 0px 0px 25px;

        h2 {
            position: relative;
            font-size: 76px;
            padding-bottom: 25px;
            margin: 0;

            &::after {
                content: '';
                width: 120%;
                height: 2px;
                background-color: #000000;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p {
            font-size: 33px;
            width: 100%;
            margin: 0;
            padding: 20px 0px;
            padding-left: 10px;
            letter-spacing: 13px;
        }
    }

    .content {
        padding: 0px 0px 45px;

        & .card:nth-child(1) {
            background-image: url('../img/index/plan_02.png');
        }

        & .card:nth-child(2) {
            background-image: url('../img/index/plan_03.png');
        }

        & .card:nth-child(3) {
            background-image: url('../img/index/plan_04.png');
        }

        & .card:nth-child(4) {
            background-image: url('../img/index/plan_06.png');
        }

        @media screen and (max-width:576px) {
            padding: 0px 20px;
        }

        .card {
            margin-bottom: 15px;
            background-size: 100%;
            background-position: center;

            .text {
                position: relative;
                z-index: 3;
                padding: 30px 0px;
                text-align: center;

                h2 {
                    font-size: $fs-22;
                    color: $fc-white;
                    text-align: center;
                    letter-spacing: 7px;
                    display: inline-block;
                    margin: 0 auto;
                    position: relative;
                    padding: 10px;

                    @media screen and (max-width:576px) {
                        font-size: $fs-18;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 120px;
                        height: 3px;
                        background-color: $fc-white;
                    }
                }

                p {
                    padding: 10px 0px;
                    font-size: $fs-16;
                    color: $fc-white;
                    letter-spacing: 5px;
                }
            }

            .Plan_bg {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $bc-brown-Transparent;
            }
        }
    }

}

#Video {
    background-color: $bc-light-brown;
    padding: 100px 0px;

    .title_region {
        width: 250px;
        margin: 0 auto;
        text-align: center;
        padding: 0px 0px 25px;

        h2 {
            position: relative;
            font-size: 76px;
            padding-bottom: 25px;
            margin: 0;

            &::after {
                content: '';
                width: 120%;
                height: 2px;
                background-color: #000000;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p {
            font-size: 33px;
            width: 100%;
            margin: 0;
            padding: 20px 0px;
            padding-left: 10px;
            letter-spacing: 13px;
        }
    }

    .player {
        background-image: url('../img/index/video.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 80px;
        border-radius: 50px;
        overflow: hidden;
        position: relative;

        .player_hover {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $bc-brown-Transparent;
            z-index: 2;
        }

        .player_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 110px 0px;
            position: relative;
            z-index: 3;

            .text {
                p {
                    font-size: $fs-32;
                    color: $fc-white;
                    text-align: center;
                    letter-spacing: 7px;
                    padding: 0px 0px 30px;
                    display: inline-block;
                    margin: 0 auto 30px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100px;
                        height: 2px;
                        background-color: $fc-white;
                    }
                }
            }

            .icon {
                padding: 25px 50px;
                border: 2px solid $fc-white;
                border-radius: 15px;

                i {
                    font-size: $fs-24;
                    color: $fc-white;
                }

                margin-bottom: 55px;
            }

            .content {
                p {
                    color: $fc-white;
                    letter-spacing: 2.5px;
                    text-align: justify;
                    line-height: 35px;
                }
            }
        }
    }

    .button {
        width: 250px;
        margin: 0 auto;
        background-color: black;
        text-align: center;
        padding: 10px 25px;
        position: relative;
        cursor: pointer;

        span {
            letter-spacing: 5px;
            font-size: 15px;
            color: white;
        }

        .arrow_button {
            width: 25px;
            height: 2px;
            background-color: blanchedalmond;
            border-bottom: 2px solid $fc-white;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);

            &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 5px;
                right: -1px;
                transform: rotate(45deg);
                transform-origin: right;
                background-color: $fc-white;
            }
        }
    }



}

#News {
    background-color: $bc-white;
    overflow: hidden;
    justify-content: center;
    position: relative;

    @media screen and (max-width:1600px) {
        padding: 0px 30px;
        box-sizing: border-box;
    }

    .container_1600 {
        max-width: 1600px;
        padding: 120px 135px 50px;
        box-sizing: border-box;
        margin: 0 auto 100px;
        display: flex;
        position: relative;

        @media screen and (max-width:1600px) {
            padding: 120px 100px 50px;
        }

        @media screen and (max-width:1140px) {
            padding: 120px 75px 50px;
        }

        @media screen and (max-width:720px) {
            padding: 120px 50px 50px;
        }

        @media screen and (max-width:576px) {
            padding: 120px 15px 50px;
        }

        .row {
            width: 100%;

            .title_region {
                width: 250px;
                position: relative;
                z-index: 3;

                h2 {
                    position: relative;
                    font-size: 76px;
                    padding-bottom: 35px;
                    margin: 0;

                    & :nth-child(1) {
                        letter-spacing: 4px;
                    }

                    & :nth-child(2) {
                        letter-spacing: 0px;
                    }

                    &::after {
                        content: '';
                        width: 85%;
                        height: 2px;
                        background-color: #000000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }

                p {
                    font-size: 33px;
                    width: 100%;
                    margin: 0;
                    padding: 27px 0px 0px;
                    // padding-left: 10px;
                    letter-spacing: 25px;
                    text-align: left;
                }


            }

            .content_text {
                width: 100%;
                display: flex;
                flex-direction: column;
                // padding: 0px;
                margin-top: 25px;
                position: relative;
                z-index: 3;

                .block {
                    display: flex;
                    padding: 30px 0px;
                    position: relative;
                    // justify-content: space-around;
                    align-items: center;

                    @media screen and (max-width:1100px) {
                        flex-direction: row;
                        padding: 20px 0px;
                        flex-wrap: wrap;
                    }

                    &:nth-child(1) {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background-color: black;
                            top: 0;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: black;
                        bottom: 0;
                    }

                    p {
                        margin: 0px;
                        font-size: 18px;

                        &.time {
                            padding: 0px 50px;
                            position: relative;

                            @media screen and (max-width:1100px) {
                                padding: 0px 50px 0px 0px;
                            }

                            @media screen and (max-width:576px) {
                                padding: 0px 10px 0px 0px;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                width: 25px;
                                height: 5px;
                                background-color: red;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);

                                @media screen and (max-width:1100px) {
                                    position: unset;
                                }
                            }
                        }

                        &.sort {
                            width: 36px;
                            padding: 0px 45px;
                            box-sizing: unset;
                            border-left: 1px solid $fc-black;
                            border-right: 1px solid $fc-black;

                            @media screen and (max-width:576px) {
                                padding: 0px 15px;
                            }
                        }

                        &.text {
                            padding-left: 35px;

                            @media screen and (max-width:1100px) {
                                margin-top: 15px;
                                width: 100%;
                                padding-left: unset;
                            }

                            @media screen and (max-width:576px) {
                                line-height: 30px;
                            }
                        }
                    }
                }

                .button {
                    padding: 35px 0px 65px;
                    display: flex;

                    span {
                        padding: 20px 80px;
                        border: 1px solid $fc-black;
                        margin-left: auto;
                        letter-spacing: 5px;
                        font-weight: 600;
                    }
                }
            }
        }

    }

    .adornment {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        .block {
            position: absolute;
            width: 100%;
            height: 120%;
            transform: skewY(1deg);
            background-color: $fc-white;
            transform-origin: center;
            bottom: 13px;
            box-shadow: 0 -10px 20px -5px #888888, 0 10px 20px -5px #888888, 10px 0 20px -5px #888888;
        }

    }

    .news_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        transform: translateY(-95%);

        .slash {
            position: absolute;
            width: 100%;
            height: 120%;
            transform: skewY(-6deg);
            background-color: $bc-light-brown;
            box-shadow: 0 0 5px 10px $bc-light-brown;
        }
    }
}

#Vendor {
    display: none;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 0px 0px;
            border-right: 1px solid $fc-black;

            &:nth-last-child(2) {
                padding: 0px 25px;
                border-right: none;
            }

            .arrow_button {
                width: 70px;
                height: 2px;
                background-color: blanchedalmond;
                border-bottom: 2px solid $fc-black;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 10px;
                    right: -1px;
                    transform: rotate(45deg);
                    transform-origin: right;
                    background-color: $fc-black;
                    // transform: translateY(-50%);
                }
            }
        }
    }
}