@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  font-family: 'Noto Serif TC', serif;
}

ul {
  list-style-type: none;
}

#Video {
  background-color: #E4E4E4;
  padding: 100px 0px;
}

#Video .title_region {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 25px;
}

#Video .title_region h2 {
  position: relative;
  font-size: 76px;
  padding-bottom: 25px;
  margin: 0;
}

#Video .title_region h2::after {
  content: '';
  width: 120%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Video .title_region p {
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  padding-left: 10px;
  letter-spacing: 13px;
}

#Video .player {
  padding: 50px 0px;
  background-color: blue;
  width: 100%;
  height: 550px;
  margin-bottom: 80px;
  border-radius: 50px;
}

#Video .button {
  width: 250px;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  padding: 10px 25px;
  position: relative;
  cursor: pointer;
}

#Video .button span {
  letter-spacing: 5px;
  font-size: 15px;
  color: white;
}

#Video .button .arrow::before {
  content: url(../img/icon/arrow.png);
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#News {
  background-color: palevioletred;
}

#News .container_1600 {
  max-width: 1600px;
  padding: 120px 135px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

#News .container_1600 .title_region {
  width: 250px;
  background-color: blue;
}

#News .container_1600 .title_region h2 {
  position: relative;
  font-size: 76px;
  padding-bottom: 35px;
  margin: 0;
}

#News .container_1600 .title_region h2 :nth-child(1) {
  letter-spacing: 4px;
}

#News .container_1600 .title_region h2 :nth-child(2) {
  letter-spacing: 0px;
}

#News .container_1600 .title_region h2::after {
  content: '';
  width: 85%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}

#News .container_1600 .title_region p {
  font-size: 33px;
  width: 100%;
  margin: 0;
  padding: 27px 0px 0px;
  letter-spacing: 25px;
  text-align: left;
}

#News .container_1600 .content_text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 95px;
  margin-top: 25px;
}

#News .container_1600 .content_text .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#News .container_1600 .content_text .block:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  top: 0;
}

#News .container_1600 .content_text .block::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 0;
}

#News .container_1600 .content_text .block p {
  margin: 0px;
  font-size: 18px;
}

#News .container_1600 .content_text .block p.time {
  padding: 0px 50px;
  position: relative;
}

#News .container_1600 .content_text .block p.time::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: red;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#News .container_1600 .content_text .block p.sort {
  padding: 0px 45px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

#News .container_1600 .content_text .block p.text {
  padding-left: 35px;
}

#News .container_1600 .content_text .button {
  padding: 35px 0px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#News .container_1600 .content_text .button span {
  padding: 20px 80px;
  border: 1px solid #000000;
  margin-left: auto;
  letter-spacing: 5px;
  font-weight: 600;
}

#News .adornment {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 40px;
  overflow: hidden;
}

#News .adornment .block {
  border-left: 1600px solid;
  border-bottom: 0px solid;
  border-top: 40px solid;
  border-color: #FFFFFF #FFFFFF transparent transparent;
  position: absolute;
  z-index: 61213906;
  -webkit-box-shadow: 5px 5px 10px #888888;
          box-shadow: 5px 5px 10px #888888;
}

#Vendor ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Vendor ul li {
  padding: 0px 0px;
  border-right: 1px solid #000000;
}

#Vendor ul li:nth-last-child(2) {
  padding: 0px 25px;
  border-right: none;
}

#Vendor ul li .button {
  max-width: 70px;
  width: 70px;
  height: 2px;
  background-color: blanchedalmond;
}
/*# sourceMappingURL=index.css.map */