@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .container {
    width: 100% !important;
    padding: 0 !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

header {
  height: unset;
}

.imgSize {
  width: 81px;
  min-width: 80px;
  margin-bottom: 100px;
}

.pageContent {
  padding-top: 120px;
}

@media (max-width: 1200px) {
  .pageContent {
    padding-top: 0;
  }
}

.insidePageTitle {
  margin-top: 87px;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .insidePageTitle {
    margin-top: unset;
  }
}

.insidePageTitle .breadcrumbArea {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-weight: bold;
  margin: 0 auto;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .insidePageTitle .breadcrumbArea {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
  }
}

.insidePageTitle .breadcrumbArea nav {
  padding: 0;
}

.insidePageTitle .breadcrumbArea nav .breadcrumb {
  background: unset;
  color: #000000;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 18px;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .insidePageTitle .breadcrumbArea nav .breadcrumb {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
  }
}

.insidePageTitle .breadcrumbArea nav .breadcrumb a {
  text-decoration: unset;
  color: #000000;
}

.insidePageTitle .breadcrumbArea nav .breadcrumb-item.active {
  color: #000000;
}

.insidePageTitle .breadcrumbArea nav .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding-right: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

.insidePageTitle .breadcrumbArea nav .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.insidePageTitle .breadcrumbArea .title {
  font-size: 32px;
  letter-spacing: 10px;
  position: relative;
  right: -15px;
}

.insidePageTitle .breadcrumbArea .title::before {
  content: '';
  height: 300%;
  max-height: 301%;
  border-left: 1px solid black;
  position: absolute;
  top: -200%;
  left: -5px;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .insidePageTitle .breadcrumbArea .title::before {
    display: none;
  }
}

.insidePageTitle .btnArea {
  font-weight: bold;
  margin-top: 25px;
}

.insidePageTitle .btnArea a {
  color: #000000;
}

.insidePageTitle .btnArea a:hover {
  color: #FFFFFF;
}

.insidePageTitle .btnArea a .back, .insidePageTitle .btnArea a .print {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  padding: 20px 20px;
  margin: 5px auto;
}

.insidePageTitle .btnArea a .back:hover, .insidePageTitle .btnArea a .print:hover {
  background-color: #000000;
}

.insidePageTitle .iconGroup {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insidePageTitle .iconGroup a {
  color: #000000;
}

.insidePageTitle .iconGroup a i {
  margin: 0 5px;
}

.phoneStyle {
  width: 100%;
  background: unset;
  font-size: 14px;
  text-decoration: unset;
  padding: 0 15px;
  margin: 20px 0 40px 0;
}

.phoneStyle a {
  text-decoration: unset;
  color: #000000;
}

.phoneStyle .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.phoneStyleTitle {
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 30px;
}

header {
  padding: 40px 0px 60px 0;
}

@media (max-width: 992px) {
  header {
    padding: 20px 0px 20px 0;
  }
}

@media (max-width: 1200px) {
  header #topline nav ul.modal-menu-toggle {
    right: 0;
  }
}

@media (max-width: 992px) {
  header #topline nav ul.modal-menu-toggle {
    top: 5px;
  }
}

@media (max-width: 576px) {
  header #topline nav ul.modal-menu-toggle {
    right: 15px;
  }
}

@media (max-width: 992px) {
  header .container {
    max-width: 720px !important;
  }
}

@media (max-width: 768px) {
  header .container {
    max-width: 540px !important;
  }
}
/*# sourceMappingURL=InsidePagetemplate.css.map */