@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
}

a:hover {
  color: #886D6A;
  text-decoration: none;
}

a:active {
  color: #000000;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

header {
  height: unset;
}

@media (max-width: 576px) {
  header {
    padding: 0;
    height: 70px;
    -webkit-box-shadow: 2px 10px 15px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 10px 15px 2px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header #topline {
  position: relative;
  padding: 60px 0px 60px 0;
}

@media (max-width: 576px) {
  header #topline {
    padding: 35px 0px;
  }
}

@media (max-width: 992px) {
  header #topline.container {
    max-width: 720px !important;
  }
}

@media (max-width: 768px) {
  header #topline.container {
    max-width: 540px !important;
  }
}

header #topline.container .logo {
  max-width: 0px;
  min-width: 0px;
}

@media (max-width: 992px) {
  header #topline.container .logo {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  header #topline.container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header #topline.container .logo img {
  display: none;
  width: 0px;
}

@media (max-width: 576px) {
  header #topline.container .logo img {
    display: block;
    width: 130px;
  }
}

@media (max-width: 993px) {
  header ul.modal-menu-toggle {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    right: 45px;
  }
}

@media (max-width: 576px) {
  header ul.modal-menu-toggle {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

main {
  padding-top: 65px;
  margin-top: -150px;
  padding-bottom: 115px;
}

@media screen and (max-width: 576px) {
  main {
    margin-top: unset;
    padding: 20px 15px 115px;
  }
}

.imgSize {
  width: 81px;
  min-width: 80px;
  margin: 0px 35px;
}

@media screen and (max-width: 1200px) {
  .imgSize {
    margin: 0px 15px;
  }
}

@media screen and (max-width: 576px) {
  .imgSize {
    display: none;
  }
}

.pageContent {
  padding-top: 140px;
}

@media (max-width: 1200px) {
  .pageContent {
    margin-left: 8%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
            flex: 0 0 67%;
    max-width: 67%;
    padding-top: 0px;
  }
}

@media (max-width: 576px) {
  .pageContent {
    margin-left: 0%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.breadcrumbblock {
  position: relative;
}

@media screen and (max-width: 768px) {
  .breadcrumbblock .block {
    position: unset;
  }
}

@media screen and (max-width: 576px) {
  .breadcrumbblock .block {
    display: none;
  }
}

.breadcrumbblock .insidePageTitle {
  padding-top: 75px;
}

@media screen and (max-width: 768px) {
  .breadcrumbblock .insidePageTitle {
    display: none;
  }
}

.breadcrumbblock .insidePageTitle .breadcrumbArea {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-weight: bold;
  margin: 0 auto 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb {
  background: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000000;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 18px;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0px 20px;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item:nth-last-child(1) {
  position: relative;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item:nth-last-child(1)::after {
  content: '';
  height: 300%;
  border-left: 1px solid black;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb a {
  text-decoration: unset;
  color: #000000;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item.active {
  color: #000000;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding-right: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 32px;
  letter-spacing: 10px;
  padding: 0px 15px;
}

.breadcrumbblock .btnArea {
  font-weight: bold;
  margin-top: 25px;
}

.breadcrumbblock .btnArea .block {
  width: 94px;
  height: 94px;
  margin: 0 auto 10px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.breadcrumbblock .btnArea .size {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbblock .btnArea a {
  color: #000000;
}

.breadcrumbblock .btnArea a:hover {
  color: #FFFFFF;
}

.breadcrumbblock .iconGroup {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumbblock .iconGroup .icon {
  padding: 0px 5px;
}

.breadcrumbblock .iconGroup a {
  color: #000000;
}

.breadcrumbblock .iconGroup a i {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.pageContent .flat {
  display: none;
}

@media screen and (max-width: 768px) {
  .pageContent .flat {
    display: block;
  }
}

.phoneStyle {
  width: 100%;
  background: unset;
  font-size: 14px;
  text-decoration: unset;
  padding: 0px;
  margin: 20px 0 40px 0;
  font-weight: 900;
}

.phoneStyle a {
  text-decoration: unset;
  color: #000000;
}

.phoneStyle .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #000000;
}

.phoneStyle .breadcrumb-item.active {
  padding-left: 5px;
  letter-spacing: 2px;
  color: #000000;
}

.phoneStyle .breadcrumb-item.active::before {
  padding-right: 5px;
}

.phoneStyleTitle {
  font-weight: bold;
  padding: 0px;
  margin-bottom: 40px;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 900;
}

.Page-BG {
  position: fixed;
  top: 58%;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 40vh;
  background-image: url("../img/page-bg-1.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.Page-BG div {
  position: fixed;
  top: 30.5%;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 25vh;
  background-image: url("../img/page-bg-2.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=InsidePagetemplate.css.map */