@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";

header{
    height: unset;
}

.imgSize{
    width: 81px;

    margin-bottom: 100px;
}


.insidePageTitle{   

    margin-top:87px;

    .breadcrumbArea{

        writing-mode: vertical-lr ;

        font-weight: bold;

        margin: 0 auto;

        
        nav{

            padding: 0;

            .breadcrumb{
                background: unset;
                color: $fc-black;
            
                writing-mode: vertical-lr ;
                font-size: $fs-18;
                letter-spacing: 2.5px;
    
                margin: 0;
                padding: 0;
            
                a{
                    text-decoration: unset;
                    color: $fc-black;
                }
            }
            
            .breadcrumb-item.active {
                color: $fc-black;
                
            }
            
            .breadcrumb-item + .breadcrumb-item::before {
                content: ">";
            
                padding-right:0;
            
                writing-mode: horizontal-tb;
            
            }
            .breadcrumb-item+.breadcrumb-item {
                padding-left: 0;
            }
        }

        .title{
            font-size: $fs-32;
            letter-spacing: 10px;

            position: relative;
            right: -15px;



            &::before{
                content: '';

                height: 300%;

                border-left: 1px solid black;

                position: absolute;
                top: -200%;
                left: -5px;
                
            }
        }
    }

    .btnArea{

        font-weight: bold;

        margin-top: 25px;

        a{  
            color: $fc-black;

            &:hover{
                color: $fc-white;
            }

            .back, .print{
                width: 90px;
                height: 90px;
    
                border: 1px solid black;
                border-radius: 50%;
    
                text-align: center;
    
                padding: 20px 20px;
                margin: 5px auto;

                &:hover{
                    background-color: $fc-black;
                }
    
            }
        }
    }

    .iconGroup{

        margin-top: 25px;

        display: flex;
        justify-content: center;

        a{

            color: $fc-black;

            i{
                margin: 0 5px;
            }
        }
    }
}
