@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";

header {
    position: relative;
    z-index: 2;

    @media (max-width:576px) {
        padding: 0;
        height: 70px;
        box-shadow: 2px 10px 15px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
    }

    #topline {
        position: relative;
        overflow: hidden;
        padding: 60px 0px;

        @media (max-width:576px) {
            padding: 35px 0px;
        }

        &.container {
            @media (max-width:992px) {
                max-width: 720px !important;
            }

            @media (max-width:768px) {
                max-width: 540px !important;
            }

            .logo {
                width: 0px;

                @media (max-width:576px) {
                    width: 100%;
                    max-width: 200px;
                    min-width: unset;
                    display: flex;
                    justify-content: center;
                    margin: auto;
                }

                img {
                    display: none;
                    width: 0px;

                    @media (max-width:576px) {
                        display: block;
                        width: 100%;
                        height: 30px;
                    }
                }
            }
        }


        .col-3 {
            @media screen and (max-width:576px) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        nav {
            padding: 0px 8.333333333%;
            position: relative;
            flex: 0 0 75%;
            max-width: 75%;

            @media screen and (max-width:1400px) {
                max-width: calc(75% - 11px);
            }

            @media screen and (max-width:576px) {
                position: absolute;
                right: 15px;
                flex: 0 0 25%;
                max-width: 25%;
                padding: 0px;
                top: 50%;
                transform: translateY(-50%);
            }

            ul {
                height: 30px;
                justify-content: space-between;

                // display: inline-block;
                @media(max-width:1200px) {
                    display: none;
                }

                @media(max-width:576px) {
                    height: 20px;
                }

                li {
                    @extend %letter-spacing;
                    text-align: center;
                    display: inline-block;

                    @include border-two-side(1px, 0, $fc-gray, solid);
                    width: 100%;

                    &:nth-child(-n + 7) {
                        @media(max-width:1400px) {
                            display: none;
                        }

                        // padding: 2px 0px 2px 30px;

                        // @media(min-width:1200px) {
                        //     padding: 2px 17px;
                        // }

                        // @media(min-width:1600px) {
                        //     padding: 2px 35px;
                        // }
                    }

                    &:nth-child(5) {
                        @media(max-width:1400px) {
                            @include border-two-side(1px, 1px, $fc-gray, solid);
                        }
                    }

                    &.menu-btn-pc {
                        display: none;
                        @include border-two-side(0px, 0px, $fc-gray, solid);

                        @media(max-width:1400px) {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }
                    }

                    &.nav-icon {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        a {
                            margin-left: 20px;
                        }
                    }

                    &.menu-btn-mob {
                        display: none;
                    }

                    a {
                        color: $fc-black;
                        font-size: $fs-16;
                        font-weight: $fw-bold;
                        transition: .3s;
                        transition-timing-function: ease;

                        @media(min-width:1200px) {
                            font-size: $fs-14;
                        }

                        @media(min-width:1600px) {
                            font-size: $fs-16;
                        }

                        &:hover {
                            color: $fc-hover;
                            text-decoration: none;
                        }

                        .cicle {
                            margin-top: 2px;
                            position: relative;
                            width: 20px;
                            height: 20px;
                            border: 1.4px black solid;
                            border-radius: 25px;

                            &:hover {
                                border: 1.4px $fc-hover solid;
                            }

                            .fa-info {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-40%, -50%);
                            }
                        }
                    }

                    &.nav-icon {
                        @media (max-width:1400px) {
                            display: none;
                        }
                    }
                }
            }

            ul.modal-menu-toggle {
                z-index: 3;
                justify-content: center;

                @media(max-width:1200px) {
                    right: 0px;
                }

                li {
                    border: none;
                    padding: 0;
                }
            }
        }

        .menu-icon {
            width: 8.333333333%;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;

            @media (max-width:1200px) {
                justify-content: flex-end;
            }

            @media (max-width:576px) {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }

            ul.modal-menu-toggle {
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}

main {
    padding-top: 65px;
    margin-top: -150px;
    padding-bottom: 115px;

    @media screen and (max-width:576px) {
        margin-top: unset;
        padding: 20px 15px 115px;
    }
}

.imgSize {
    width: 81px;
    min-width: 80px;
    margin: 0px 35px;

    @media screen and (max-width:1200px) {
        margin: 0px 15px;
    }

    @media screen and (max-width:576px) {
        display: none;
    }
}

.pageContent {
    margin: 0;
    padding: 140px 8.333333333% 0px;

    @media (max-width:1200px) {
        flex: 0 0 75%;
        max-width: 75%;
    }

    @media (max-width:768px) {
        padding-top: 0px;
    }

    @media (max-width:576px) {
        padding: 0px 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .flat {
        display: none;

        @media screen and (max-width:768px) {
            display: block;
        }
    }
}

.breadcrumbblock {
    position: relative;
    align-items: flex-start;

    .block {
        display: flex;
        justify-content: center;

        @media screen and (max-width:768px) {
            position: unset;
        }

        @media (max-width: 576px) {
            display: none !important;
        }
    }

    .insidePageTitle {
        padding-top: 75px;

        @media screen and (max-width:768px) {
            display: none;
        }

        .breadcrumbArea {
            writing-mode: vertical-lr;
            font-weight: bold;
            margin: 0 auto 20px;
            position: relative;
            display: flex;
            flex-direction: column;

            .breadcrumb {
                background: unset;
                display: inline-flex;
                color: $fc-black;
                writing-mode: vertical-lr;
                font-size: $fs-18;
                letter-spacing: 2.5px;
                margin: 0;
                padding: 0px 20px;

                & .breadcrumb-item:nth-last-child(1) {
                    position: relative;

                    &::after {
                        content: '';
                        height: 300%;
                        border-left: 1px solid black;
                        position: absolute;
                        bottom: 0;
                        right: -20px;
                    }
                }

                a {
                    text-decoration: unset;
                    color: $fc-black;
                }

                .breadcrumb-item.active {
                    color: $fc-black;
                }

                .breadcrumb-item+.breadcrumb-item::before {
                    content: ">";
                    padding-right: 0;
                    writing-mode: horizontal-tb;
                }

                .breadcrumb-item+.breadcrumb-item {
                    padding-left: 0;
                }
            }

            .title {
                display: inline-flex;
                font-size: $fs-32;
                letter-spacing: 10px;
                padding: 0px 15px;

            }
        }

        .btnArea {
            font-weight: bold;
            margin-top: 25px;

            .block {
                width: 94px;
                height: 94px;
                margin: 0 auto 10px;
                border: 1px solid black;
                border-radius: 50%;
                overflow: hidden;

                &:hover {
                    background-color: $fc-black;
                }
            }

            .size {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            a {
                color: $fc-black;

                &:hover {
                    color: $fc-white;
                }
            }
        }
    }



    .iconGroup {
        padding: 20px 0px;
        display: flex;
        justify-content: center;

        .icon {
            padding: 0px 5px;
        }

        a {
            color: $fc-black;


            i {
                font-size: $fs-20;
                width: 20px;
                height: 20px;
            }
        }
    }
}

.phoneStyle {
    width: 100%;
    background: unset;
    font-size: $fs-14;
    text-decoration: unset;
    padding: 0px;
    margin: 20px 0 40px 0;
    font-weight: 900;

    a {
        text-decoration: unset;
        color: $fc-black;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        content: ">";
        color: $fc-black;
    }

    .breadcrumb-item.active {
        padding-left: 5px;
        letter-spacing: 2px;
        color: $fc-black;

        &::before {
            padding-right: 5px;
        }
    }
}

.phoneStyleTitle {
    font-weight: bold;
    padding: 0px;
    margin-bottom: 40px;
    font-size: $fs-24;
    letter-spacing: 4px;
    font-weight: 900;
}

.Page-BG {
    position: fixed;
    top: 58%;
    right: 0;
    z-index: -10;
    width: 100%;
    height: 40vh;
    background-image: url('../img/page-bg-1.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;

    div {
        position: fixed;
        top: 30.5%;
        right: 0;
        z-index: -10;
        width: 100%;
        height: 25vh;
        background-image: url('../img/page-bg-2.png');
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
    }
}