@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
}

a:hover {
  color: #886D6A;
  text-decoration: none;
}

a:active {
  color: #000000;
}

header #topline nav ul li {
  letter-spacing: 2px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

header {
  position: relative;
  z-index: 2;
}

@media (max-width: 576px) {
  header {
    padding: 0;
    height: 70px;
    -webkit-box-shadow: 2px 10px 15px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 10px 15px 2px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header #topline {
  position: relative;
  padding: 60px 15px;
}

@media (max-width: 576px) {
  header #topline {
    padding: 35px 0px;
  }
}

@media (max-width: 992px) {
  header #topline.container {
    max-width: 720px !important;
  }
}

@media (max-width: 768px) {
  header #topline.container {
    max-width: 540px !important;
  }
}

header #topline.container .logo {
  width: 0px;
}

@media (max-width: 576px) {
  header #topline.container .logo {
    width: 100%;
    max-width: 200px;
    min-width: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header #topline.container .logo img {
  display: none;
  width: 0px;
}

@media (max-width: 576px) {
  header #topline.container .logo img {
    display: block;
    width: 130px;
  }
}

header #topline nav {
  padding: 0;
}

@media (max-width: 1200px) {
  header #topline nav {
    display: none;
  }
}

header #topline nav ul {
  height: 30px;
}

@media (max-width: 576px) {
  header #topline nav ul {
    height: 20px;
  }
}

header #topline nav ul li {
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
}

header #topline nav ul li:nth-child(-n+5) {
  padding: 2px 1.3rem;
}

@media (min-width: 1200px) {
  header #topline nav ul li:nth-child(-n+5) {
    padding: 2px 17px;
  }
}

@media (min-width: 1600px) {
  header #topline nav ul li:nth-child(-n+5) {
    padding: 2px 35px;
  }
}

header #topline nav ul li:nth-child(-n+4) {
  border-left: 1px #808080 solid;
  border-right: 0 #808080 solid;
}

header #topline nav ul li:nth-child(5) {
  border-left: 1px #808080 solid;
  border-right: 1px #808080 solid;
}

header #topline nav ul li:nth-last-child(1) {
  display: none;
}

header #topline nav ul li a {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

@media (min-width: 1200px) {
  header #topline nav ul li a {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  header #topline nav ul li a {
    font-size: 16px;
  }
}

header #topline nav ul li a:hover {
  color: #978475;
  text-decoration: none;
}

header #topline nav ul li a .cicle {
  margin-top: 2px;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1.4px black solid;
  border-radius: 25px;
}

header #topline nav ul li a .cicle:hover {
  border: 1.4px #978475 solid;
}

header #topline nav ul li a .cicle .fa-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

@media (max-width: 1400px) {
  header #topline nav ul li.nav-icon {
    display: none;
  }
}

header #topline nav ul.modal-menu-toggle {
  z-index: 3;
}

@media (max-width: 1200px) {
  header #topline nav ul.modal-menu-toggle {
    right: 0px;
  }
}

header #topline nav ul.modal-menu-toggle li {
  border: none;
  padding: 0;
}

header #topline .menu-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  header #topline .menu-icon {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  header #topline .menu-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

header #topline .menu-icon ul.modal-menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  padding-top: 65px;
  margin-top: -150px;
  padding-bottom: 115px;
}

@media screen and (max-width: 576px) {
  main {
    margin-top: unset;
    padding: 20px 15px 115px;
  }
}

.imgSize {
  width: 81px;
  min-width: 80px;
  margin: 0px 35px;
}

@media screen and (max-width: 1200px) {
  .imgSize {
    margin: 0px 15px;
  }
}

@media screen and (max-width: 576px) {
  .imgSize {
    display: none;
  }
}

.pageContent {
  padding-top: 140px;
}

@media (max-width: 1200px) {
  .pageContent {
    margin-left: 8%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
            flex: 0 0 67%;
    max-width: 67%;
  }
}

@media (max-width: 768px) {
  .pageContent {
    padding-top: 0px;
    margin-left: 0%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (max-width: 576px) {
  .pageContent {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.pageContent .flat {
  display: none;
}

@media screen and (max-width: 768px) {
  .pageContent .flat {
    display: block;
  }
}

.breadcrumbblock {
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .breadcrumbblock .block {
    position: unset;
  }
}

@media screen and (max-width: 576px) {
  .breadcrumbblock .block {
    display: none;
  }
}

.breadcrumbblock .insidePageTitle {
  padding-top: 75px;
}

@media screen and (max-width: 768px) {
  .breadcrumbblock .insidePageTitle {
    display: none;
  }
}

.breadcrumbblock .insidePageTitle .breadcrumbArea {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-weight: bold;
  margin: 0 auto 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb {
  background: unset;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #000000;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 18px;
  letter-spacing: 2.5px;
  margin: 0;
  padding: 0px 20px;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item:nth-last-child(1) {
  position: relative;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item:nth-last-child(1)::after {
  content: '';
  height: 300%;
  border-left: 1px solid black;
  position: absolute;
  bottom: 0;
  right: -20px;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb a {
  text-decoration: unset;
  color: #000000;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item.active {
  color: #000000;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding-right: 0;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.breadcrumbblock .insidePageTitle .breadcrumbArea .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 32px;
  letter-spacing: 10px;
  padding: 0px 15px;
}

.breadcrumbblock .btnArea {
  font-weight: bold;
  margin-top: 25px;
}

.breadcrumbblock .btnArea .block {
  width: 94px;
  height: 94px;
  margin: 0 auto 10px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.breadcrumbblock .btnArea .size {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbblock .btnArea a {
  color: #000000;
}

.breadcrumbblock .btnArea a:hover {
  color: #FFFFFF;
}

.breadcrumbblock .iconGroup {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumbblock .iconGroup .icon {
  padding: 0px 5px;
}

.breadcrumbblock .iconGroup a {
  color: #000000;
}

.breadcrumbblock .iconGroup a i {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.phoneStyle {
  width: 100%;
  background: unset;
  font-size: 14px;
  text-decoration: unset;
  padding: 0px;
  margin: 20px 0 40px 0;
  font-weight: 900;
}

.phoneStyle a {
  text-decoration: unset;
  color: #000000;
}

.phoneStyle .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #000000;
}

.phoneStyle .breadcrumb-item.active {
  padding-left: 5px;
  letter-spacing: 2px;
  color: #000000;
}

.phoneStyle .breadcrumb-item.active::before {
  padding-right: 5px;
}

.phoneStyleTitle {
  font-weight: bold;
  padding: 0px;
  margin-bottom: 40px;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 900;
}

.Page-BG {
  position: fixed;
  top: 58%;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 40vh;
  background-image: url("../img/page-bg-1.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.Page-BG div {
  position: fixed;
  top: 30.5%;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 25vh;
  background-image: url("../img/page-bg-2.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=InsidePagetemplate.css.map */