@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 992px) {
  .container {
    max-width: unset !important;
    width: 100% !important;
    padding: 0 !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardBox {
  width: calc(33.33333% - 30px);
  margin: 0 30px 50px 0;
}

@media (max-width: 577px) {
  .cardBox {
    width: 100%;
    margin: 0 0 50px 0;
  }
}

.cardBox .photo {
  width: 100%;
  height: 160px;
  background-color: black;
  background-size: cover;
  background-position: center center;
}

.pageContent {
  margin-bottom: 200px;
  position: relative;
}

.pageNumber {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .nextBTN, .pageNumber ul .lastBTN {
  border: 1px solid #333333;
  padding: 10px 20px;
}

.pageNumber ul .nextBTN a, .pageNumber ul .lastBTN a {
  color: #000000;
}

.pageNumber ul .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  border: 1px solid #333333;
  padding: 10px 50px;
}
/*# sourceMappingURL=LP-08.css.map */