@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btnGroup .btnArea {
  border: 2px solid #000000;
  border-radius: 7px;
  letter-spacing: 2px;
  padding: 5px 30px;
  margin-right: 20px;
}

.btnGroup .btnArea:hover {
  background-color: #352E2C;
  color: #FFFFFF;
}

.nameGroup {
  border: 2px solid #000000;
  padding: 15px 0;
  margin: 30px 0;
}

.nameGroup .dateName {
  width: 130px;
  text-align: center;
}

.nameGroup .themeName {
  width: 430px;
  text-align: center;
}

.nameGroup .placeName {
  width: 175px;
  text-align: center;
}

.nameGroup .loadingPointName {
  width: 140px;
  text-align: center;
}

.news_list {
  width: 100%;
  font-weight: bold;
}

.news_list .news {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_list .news .date {
  width: 130px;
  line-height: 90px;
}

.news_list .news .theme {
  width: 440px;
  text-align: center;
  position: relative;
  line-height: 90px;
}

.news_list .news .theme::before {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .theme::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .place {
  width: 175px;
  line-height: 90px;
  text-align: center;
  position: relative;
}

.news_list .news .place::after {
  content: '';
  height: 20px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.news_list .news .btnGroup {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 30px;
  padding: 16px 0;
}

.news_list .news .btnGroup .loadingPoint {
  width: 39px;
  height: 27px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #808080;
  margin: 0 5px 3px 0;
}

.news_list .news .btnGroup .loadingPoint:hover {
  border: 1px solid #FFFFFF;
  background-color: #000000;
}

.news_list .news .btnGroup .loadingPoint:hover a {
  color: #FFFFFF;
}

.news_list .news .btnGroup .loadingPoint a {
  text-decoration: none;
  color: #000000;
}

.pageContent {
  margin-bottom: 200px;
  position: relative;
}

.pageNumber {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .nextBTN, .pageNumber ul .lastBTN {
  border: 1px solid #333333;
  padding: 10px 20px;
}

.pageNumber ul .nextBTN a, .pageNumber ul .lastBTN a {
  color: #000000;
}

.pageNumber ul .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  border: 1px solid #333333;
  padding: 10px 50px;
}
/*# sourceMappingURL=LP-07.css.map */