@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.breadcrumbArea .title::before {
  content: '';
  height: 500px !important;
  max-height: 301%;
  border-left: 1px solid black;
  position: absolute;
  top: -200%;
  left: -5px;
}

.btnGroup {
  position: relative;
}

.btnGroup::before {
  content: '';
  width: 100%;
  border: 1px solid #4D4D4D;
  position: absolute;
  bottom: -30px;
}

.btnGroup a {
  color: #4D4D4D;
}

.btnGroup a .btnArea {
  border: 2px solid #000000;
  border-radius: 7px;
  letter-spacing: 2px;
  padding: 5px 30px;
  margin-right: 20px;
}

.btnGroup a .btnArea:hover {
  background-color: #352E2C;
  color: #FFFFFF;
}

.QA {
  margin-top: 60px;
  position: relative;
}

.QA:hover .fa-chevron-up {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.QA:hover .answer {
  opacity: 1;
  height: unset;
}

.QA::before {
  content: '';
  width: 100%;
  border: 1px solid #4D4D4D;
  position: absolute;
  bottom: -30px;
}

.QA .query {
  font-weight: bold;
  font-size: 18px;
}

.QA .answer {
  height: 0;
  opacity: 0;
}

.pageContent {
  margin-bottom: 200px;
  position: relative;
}

.pageNumber {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pageNumber ul .number:first-child a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .nextBTN, .pageNumber ul .lastBTN {
  border: 1px solid #333333;
  padding: 10px 20px;
}

.pageNumber ul .nextBTN a, .pageNumber ul .lastBTN a {
  color: #000000;
}

.pageNumber ul .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  border: 1px solid #333333;
  padding: 10px 50px;
}
/*# sourceMappingURL=LP-06.css.map */