@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


* {
    box-sizing: border-box;
}

.phoneStyleTitle {
    @media (max-width:768px) {
        margin-bottom: 30px;
    }
}

.btnGroup {
    display: flex;
    flex-wrap: wrap;

    a {
        margin: 0px 20px 17px 0px;
        font-weight: $fw-700;

        &:nth-last-child(1) {
            margin-bottom: 30px;
        }

        @media (max-width:768px) {
            margin: 0px 10px 10px 0px;

            &:nth-last-child(1) {
                margin-bottom: 20px;
            }
        }

        .btnArea {
            @include text_style($fs-16, unset, center, 2px);
            padding: 10px 30px;
            border-radius: 8px;
            border: 1px solid $black;
            color: $fc-pure-gray;

            @media (max-width:768px) {
                padding: 5px 10px;
            }

            &:hover {
                background-color: $bc-dark-brown-hover;
                color: $fc-white;

            }

            &.active {
                font-weight: $fw-700;
                background-color: $black;
                color: $white;
            }
        }
    }
}

.nameGroup {
    border: 2px solid $bc-news-brown;
    background-color: $bc-news-brown;
    color: $fc-gray-white;
    padding: 15px 0;
    letter-spacing: 4px;
    font-weight: bold;
    display: flex;
   
    @media (max-width:1024px) {
        display: none;
    }
    div{
        border-right: 1px solid $fc-gray-white;   
        &:last-child{
            border-right: 0px;   
        }
    }
    .dateName {
        min-width: 130px;
        width: 14%;
        text-align: center;
    }

    .themeName {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
    }

    .placeName {
        min-width: 175px;
        text-align: center;
        width: 18%;
        @media (max-width:1400px) {
            min-width: 100px;
        }
    }

    .loadingPointName {
        min-width: 165px;
        width: 18%;
        text-align: center;
    }
}

.news_list {
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;

    &>:nth-child(1) {
        @media (max-width:1024px) {
            border-top: 2px solid $fc-gray;
        }
    }

    .news {
        width: 100%;
        // 06/17修正
        min-height: 180px;
        // 06/17修正
        border-bottom: 2px solid $fc-gray;
        display: flex;

        @media (max-width:1024px) {
            display: block;
            padding: 25px 0px;
        }

        a {
            width: 100%;
            display: flex;

            @media (max-width:1024px) {
                display: block;
                width: auto;
            }

            .date_area {
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 2px;
                color: $fc-gray;


                @media (max-width:1024px) {
                    width: unset;
                    color: $fc-666666-gray;
                    font-size: $fs-16;
                    font-weight: bold;
                    padding: 0px 0px 15px;
                    justify-content: flex-start;
                }

                @media (max-width:768px) {
                    font-size: $fs-14;
                }

                .date {
                    min-width: 130px;
                    width: 14%;
                    
                    @media (max-width:1024px) {
                        padding-right: 00px;
                    }
                }

                .title {
                    font-size: $fs-12;
                    color: $fc-666666-gray;
                    font-weight: bold;
                    letter-spacing: 4px;

                    border-left: 1px solid $fc-666666-gray;
                    border-right: 1px solid $fc-666666-gray;

                    padding: 0 15px;
                    margin-left: 15px;
                    display: none;

                    @media (max-width:1024px) {
                        font-size: $fs-16;
                        margin-left: 18px;
                        display: block;
                    }

                    @media (max-width:768px) {
                        font-size: $fs-14;

                    }
                }
            }

            .theme {
                width: 100%;
                padding: 0px 15px;
                display: flex;

                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;

                &::before {
                    content: '';
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    border: 1px solid $fc-gray;
                }

                &::after {
                    content: '';
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    border: 1px solid $fc-gray;
                }

                @media (max-width: 1024px) {
                    font-size: $fs-16;
                    padding-bottom: 15px;
                    text-align: left;
                    padding: 0;
                    display: block;
                    letter-spacing: 2px;
                    margin-bottom: 15px;

                    &::before,
                    &::after {
                        border: none;
                    }
                }

                @media (max-width:768px) {
                    font-size: $fs-14;
                }
            }

            .place {
                min-width: 175px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;

                &::after {
                    content: '';
                    height: 20px;
                    border: 1px solid $fc-gray;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                @media (max-width:1400px) {
                    min-width: 100px;
                    color: #666666;
                }

                @media (max-width:1024px) {
                    min-width: unset;
                    height: 22px;
                    text-align: left;
                    justify-content: flex-start;
                    margin-bottom: 15px;
                    font-size: $fs-12;
                    color: $fc-666666-gray;

                    &::before {
                        content: '地點';
                        height: 100%;
                        width: 40px;
                        font-size: $fs-12;
                        line-height: 22px;
                        color: $fc-666666-gray;
                        font-weight: bold;
                        letter-spacing: 4px;
                        border-right: solid 2px $fc-666666-gray;
                        margin-right: 10px;
                    }

                    &::after {
                        content: '';
                        height: 20px;
                        border: none;
                    }
                }
            }
        }

        .loadingarea {
            max-width: 220px;
            min-width: 175px;
            display: flex;
            justify-content: center;
            align-self: center;
            flex-wrap: wrap;
            padding: 16px 0px 16px 25px;
            margin: 0px -5.5px 0px 0px;

            span {
                display: none;
                color: $fc-666666-gray;
                font-size: $fs-15;
                letter-spacing: 1px;
                padding-right: 9px;
                align-items: center;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    background-color: $fc-666666-gray;
                    width: 2px;
                    height: 80%;

                }

                @media (max-width:1024px) {
                    display: flex;
                }

                @media (max-width:768px) {
                    margin-bottom: 10px;
                }
            }

            @media (max-width:1024px) {
                // 0520 修正開始
                max-width: 100%;
                // 0520 修正結束
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin-left: 0;
                border-bottom: none;
                padding: 0;
                margin: 0px;
            }

            @media (max-width:768px) {
                flex-wrap: wrap;
            }

            >div {
                display: flex;
                justify-content: center;
                align-self: center;
                flex-wrap: wrap;

                @media (max-width:768px) {
                    width: 100%;
                    justify-content: flex-start;

                    & :nth-child(1) {
                        margin-left: 0px;
                    }
                }
            }

            .loadingPoint {
                @include text_style($fs-12, unset, center, 0);
                margin: 0px 5px 5px;

                // 0520 修正開始
                //移除 @media (max-width:1024px) 
                // 0520 修正開始
                a {
                    width: 40px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $fc-black;
                    border: 1px solid $fc-gray;

                    @media (max-width:1024px) {
                        min-height: 20px;
                        font-size: $fs-12;
                        color: $fc-666666-gray;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: $fc-black;
                        color: $white;
                    }
                }
            }
        }
    }
}