@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@media (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.ui-datepicker {
  width: 20em;
  height: 22em;
  background-color: white;
  z-index: 99 !important;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 3em;
}

.ui-datepicker .ui-datepicker-header {
  background: #ffffff;
  border: 0px solid #ffffff;
  padding: 0.5em 0;
}

.ui-datepicker .ui-datepicker-header .fas {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-left: 0px;
  top: 0%;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-focus {
  border: 0px solid #ffffff;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover.ui-datepicker-prev-hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover.ui-datepicker-next-hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border: 0px solid #ffffff;
  background: #ffffff;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active {
  border: 1px solid #000000;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
}

.ui-datepicker .ui-datepicker-next {
  right: 10px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 0.5em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .phoneStyleTitle {
    margin-bottom: 30px;
  }
}

.btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btnGroup a {
  margin: 0px 20px 17px 0px;
  font-weight: 700;
}

.btnGroup a:nth-last-child(1) {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .btnGroup a {
    margin: 0px 10px 10px 0px;
  }
  .btnGroup a:nth-last-child(1) {
    margin-bottom: 20px;
  }
}

.btnGroup a .btnArea {
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 1px solid #000000;
  color: #4D4D4D;
}

@media (max-width: 768px) {
  .btnGroup a .btnArea {
    padding: 5px 10px;
  }
}

.btnGroup a .btnArea:hover {
  background-color: #352E2C;
  color: #FFFFFF;
}

.btnGroup a .btnArea.active {
  font-weight: 700;
  background-color: #352E2C;
  color: #FFFFFF;
}

.table_row {
  padding: 15px 0;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #808080;
  position: relative;
}

@media (max-width: 1199px) {
  .table_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #938075;
    padding: 0;
    margin-bottom: 30px;
  }
  .table_row:last-child::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .table_row {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .table_row {
    font-size: 12px;
  }
}

.table_row .table_herf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.table_row .table_column {
  padding: 0 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  .table_row .table_column {
    padding: 0px;
    min-width: 0px !important;
    width: 100% !important;
    height: auto;
    display: table;
    text-align: center;
    border: 0px;
    min-height: 45px;
  }
}

.table_row .table_column::before {
  content: "";
  height: 80%;
  width: 1px;
  background-color: #938075;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .table_row .table_column::before {
    display: none;
  }
}

.table_row .table_column:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
}

.table_row .table_column:last-child {
  position: relative;
  z-index: 99;
}

.table_row .table_column:last-child::before {
  display: none;
}

@media (max-width: 1199px) {
  .table_row .table_column:last-child .title {
    border-bottom: 0px solid #FFF;
  }
}

@media print and (max-width: 1199px) {
  .table_row .table_column:last-child .title {
    border-bottom: 0px solid #938075;
  }
}

@media (max-width: 1199px) {
  .table_row .table_column:last-child .content {
    border-bottom: 0px solid #FFF;
  }
}

@media print and (max-width: 1199px) {
  .table_row .table_column:last-child .content {
    border-bottom: 0px solid #938075;
  }
}

.table_row .table_column .title {
  display: none;
}

@media (max-width: 1199px) {
  .table_row .table_column .title {
    display: table-cell;
    min-width: 93px;
    width: 20%;
    background-color: #938075;
    color: #FEFEFE;
    border-bottom: 1px solid #FFF;
    vertical-align: middle;
  }
}

@media print and (max-width: 1199px) {
  .table_row .table_column .title {
    border-bottom: 1px solid #938075;
  }
}

.table_row .table_column .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .table_row .table_column .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid #938075;
    padding: 16px 25px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
}

.table_row .table_column .content .start-date {
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 0;
}

.table_row .table_column .content .start-date::after {
  content: '起';
}

@media (max-width: 1199px) {
  .table_row .table_column .content .start-date {
    margin-right: 12px;
  }
}

@media (max-width: 540px) {
  .table_row .table_column .content .start-date {
    font-size: 12px;
  }
}

.table_row .table_column .content .end-date {
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 0;
}

.table_row .table_column .content .end-date::after {
  content: '止';
}

@media (max-width: 540px) {
  .table_row .table_column .content .end-date {
    font-size: 12px;
  }
}

.table_row .table_column .content .download_btns {
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .table_row .table_column .content .download_btns {
    width: 150px;
  }
}

.table_row .table_column .content .download_btns .loadingPoint {
  font-size: 12px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 0;
  margin: 0px 5px 5px;
}

@media (max-width: 1199px) {
  .table_row .table_column .content .download_btns .loadingPoint {
    margin: 5px;
  }
}

.table_row .table_column .content .download_btns .loadingPoint a {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  border: 1px solid #808080;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1199px) {
  .table_row .table_column .content .download_btns .loadingPoint a {
    min-height: 20px;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
  }
}

.table_row .table_column .content .download_btns .loadingPoint a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #000000;
  color: #FFFFFF;
}

.table_row .news_date {
  min-width: 130px;
  width: 14%;
}

.table_row .news_theme {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.table_row .news_place {
  min-width: 175px;
  width: 20%;
}

.table_row .news_download {
  min-width: 165px;
  width: 18%;
}

.table_row .width_10 {
  min-width: 70px !important;
  width: 10% !important;
}

@media (max-width: 1199px) {
  .table_row .width_10 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_15 {
  min-width: 105px !important;
  width: 15% !important;
}

@media (max-width: 1199px) {
  .table_row .width_15 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_20 {
  min-width: 140px !important;
  width: 20% !important;
}

@media (max-width: 1199px) {
  .table_row .width_20 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_25 {
  min-width: 175px !important;
  width: 25% !important;
}

@media (max-width: 1199px) {
  .table_row .width_25 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_30 {
  min-width: 210px !important;
  width: 30% !important;
}

@media (max-width: 1199px) {
  .table_row .width_30 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_35 {
  min-width: 245px !important;
  width: 35% !important;
}

@media (max-width: 1199px) {
  .table_row .width_35 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_40 {
  min-width: 280px !important;
  width: 40% !important;
}

@media (max-width: 1199px) {
  .table_row .width_40 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_45 {
  min-width: 315px !important;
  width: 45% !important;
}

@media (max-width: 1199px) {
  .table_row .width_45 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_50 {
  min-width: 350px !important;
  width: 50% !important;
}

@media (max-width: 1199px) {
  .table_row .width_50 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_55 {
  min-width: 385px !important;
  width: 55% !important;
}

@media (max-width: 1199px) {
  .table_row .width_55 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_60 {
  min-width: 420px !important;
  width: 60% !important;
}

@media (max-width: 1199px) {
  .table_row .width_60 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_65 {
  min-width: 455px !important;
  width: 65% !important;
}

@media (max-width: 1199px) {
  .table_row .width_65 {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.table_row .width_auto {
  width: auto !important;
  min-width: 0px !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

@media (max-width: 1199px) {
  .table_row .width_auto {
    min-width: 0px !important;
    width: 100% !important;
  }
}

.first_row {
  border: 2px solid #938075;
  background-color: #938075;
  color: #FEFEFE;
}

@media (max-width: 1199px) {
  .first_row {
    display: none;
  }
}

.first_row .table_column {
  border-right: 1px solid #FEFEFE;
}

.first_row .table_column:first-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first_row .table_column:last-child {
  border-right: 0px;
}

.first_row .table_column::before {
  display: none;
}
/*# sourceMappingURL=LP-News.css.map */