@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


* {
    box-sizing: border-box;
}


.cardBox {
    width: calc(33.33333% - 20px);
    margin: 0 0 35px;

    @media (max-width:1400px) {
        width: calc(50% - 15px);
    }

    @media (max-width:991px) {
        width: 100%;
    }

    .photo {
        width: 100%;
        height: 160px;
        background-color: black;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        img{
            width: 100%;
        }
    }

    .date {
        font-weight: $fw-700;
        color: $pure-gray;
        margin: 8px 0 5px;
        letter-spacing: 4px;
    }

    .title {
        height: 50px;
        font-weight: $fw-700;
        color: $black;
        letter-spacing: 4px;
        margin-bottom: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 2; //行數
        -webkit-box-orient: vertical;
        white-space: normal;
    }
}
