@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@media (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.ui-datepicker {
  width: 20em;
  height: 22em;
  background-color: white;
  z-index: 99 !important;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 3em;
}

.ui-datepicker .ui-datepicker-header {
  background: #ffffff;
  border: 0px solid #ffffff;
  padding: 0.5em 0;
}

.ui-datepicker .ui-datepicker-header .fas {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-left: 0px;
  top: 0%;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-focus {
  border: 0px solid #ffffff;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover.ui-datepicker-prev-hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover.ui-datepicker-next-hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border: 0px solid #ffffff;
  background: #ffffff;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active {
  border: 1px solid #000000;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
}

.ui-datepicker .ui-datepicker-next {
  right: 10px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 0.5em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cardBox {
  width: calc(33.33333% - 20px);
  margin: 0 0 35px;
}

@media (max-width: 1400px) {
  .cardBox {
    width: calc(50% - 15px);
  }
}

@media (max-width: 991px) {
  .cardBox {
    width: 100%;
  }
}

.cardBox .photo {
  width: 100%;
  height: 200px;
  background-color: black;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.cardBox .photo .mask {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cardBox .photo .mask:hover .fa-youtube {
  color: red;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}

.cardBox .photo .mask .fa-youtube {
  font-size: 80px;
  opacity: .7;
  position: relative;
}

.cardBox .photo .mask .fa-youtube::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.cardBox .title {
  margin: 15px 0;
  font-weight: 700;
  letter-spacing: 4px;
}
/*# sourceMappingURL=LP-Video.css.map */