@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


* {
    box-sizing: border-box;
}


.cardBox {
    width: calc(33.33333% - 20px);
    margin: 0 0 35px;

    @media (max-width:1400px) {
        width: calc(50% - 15px);
    }

    @media (max-width:991px) {
        width: 100%;
    }

    .photo {
        width: 100%;
        height: 200px;
        background-color: black;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        .mask {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(top, rgba(0,0,0,0.5), transparent);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            &:hover .fa-youtube {
                color: red;
                transition: .5s;
                opacity: 1;
            }

            .fa-youtube {

                font-size: 80px;
                opacity: .7;
                position: relative;

                &::after {
                    content: '';
                    width: 50px;
                    height: 50px;
                    background-color: $fc-white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }
            }
        }
    }

    .title {
        margin: 15px 0;
        font-weight: $fw-700;
        letter-spacing: 4px;
        // height: 50px;
    }
}
