@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

header nav ul li {
  letter-spacing: 2px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: unset;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.padding-none {
  padding: 0;
}

* {
  font-family: 'Noto Serif TC', serif;
}

header {
  height: 840px;
}

@media (max-width: 576px) {
  header {
    height: unset;
  }
  header.container {
    padding: 0;
  }
}

header nav {
  padding: 60px 0 0 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 576px) {
  header nav {
    padding: 25px 0;
    background-color: #FFFFFF;
  }
}

header nav ul {
  height: 30px;
  display: inline-block;
}

header nav ul li {
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
}

header nav ul li:nth-child(-n+5) {
  padding: 2px 1.3rem;
}

header nav ul li:nth-child(-n+4) {
  border-left: 1px #808080 solid;
  border-right: 0 #808080 solid;
}

header nav ul li:nth-child(5) {
  border-left: 1px #808080 solid;
  border-right: 1px #808080 solid;
}

header nav ul li a {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header nav ul li a:hover {
  color: #978475;
  text-decoration: none;
}

header nav ul li a .cicle {
  margin-top: 2px;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1.4px black solid;
  border-radius: 25px;
}

header nav ul li a .cicle:hover {
  border: 1.4px #978475 solid;
}

header nav ul li a .cicle .fa-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

@media (max-width: 576px) {
  header nav aside {
    height: 22px;
  }
}

header nav aside .logo {
  width: 300px;
  margin-bottom: 65px;
}

@media (max-width: 576px) {
  header nav aside .logo {
    width: 130px;
    margin: auto;
  }
}

header nav aside .swiper-pagination {
  width: 250px;
  position: unset;
  margin-bottom: 65px;
}

header nav aside .swiper-pagination-bullet {
  margin-right: 15px;
  border: 1.5px solid white;
  background: transparent;
  opacity: .8;
  -webkit-transition: .8s;
  transition: .8s;
}

header nav aside .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

header nav aside i {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  header nav aside .aside-btn-group {
    background-color: #857D7D;
    padding: 25px 0 15px 0;
  }
}

@media (max-width: 576px) {
  header nav aside .aside-btn-group a {
    width: 100%;
  }
}

header nav aside .aside-btn-group a .aside-btn {
  position: relative;
  border-left: 1px #FFFFFF solid;
  border-right: 0 #FFFFFF solid;
  letter-spacing: 8px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  padding: 350px 15px 5px 15px;
  overflow: hidden;
}

@media (max-width: 576px) {
  header nav aside .aside-btn-group a .aside-btn {
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    border-left: 0px #FFFFFF solid;
    border-right: 0 #FFFFFF solid;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: unset;
  }
  header nav aside .aside-btn-group a .aside-btn::after {
    content: ' ';
    width: 210px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

header nav aside .aside-btn-group a .aside-btn .gradient-mask {
  padding-top: 15px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  line-height: 61px;
  font-size: 16px;
  overflow: hidden;
}

@media (max-width: 576px) {
  header nav aside .aside-btn-group a .aside-btn .gradient-mask {
    display: none;
  }
}

header nav aside .aside-btn-group a .aside-btn .gradient-mask .aside-sub-btn-group {
  opacity: 0;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav aside .aside-btn-group a .aside-btn .gradient-mask .aside-sub-btn-group .aside-sub-btn {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.5;
}

header nav aside .aside-btn-group a .aside-btn .gradient-mask .aside-sub-btn-group .aside-sub-btn:hover {
  opacity: 1;
}

header nav aside .aside-btn-group a .aside-btn:hover .gradient-mask {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 1;
  top: 0;
}

header nav aside .aside-btn-group a .aside-btn:hover .gradient-mask .aside-sub-btn-group {
  opacity: 1;
}

header .banner {
  position: relative;
  right: 0;
  top: -675px;
}

@media (max-width: 576px) {
  header .banner {
    position: unset;
  }
}

header .banner .col-12 {
  position: absolute;
}

@media (max-width: 576px) {
  header .banner .col-12 {
    position: unset;
  }
}

header .aside-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 38%;
  height: 840px;
  background-color: #665252;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 24, 21, 0.9);
}

.menu.active {
  display: block;
  -webkit-animation-name: menu-fadeIn;
          animation-name: menu-fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.menu.fadeout {
  -webkit-animation-name: menu-fadeOut;
          animation-name: menu-fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.menu .menu-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 180px 100px 0 100px;
}

@media (max-width: 576px) {
  .menu .menu-container {
    max-width: 320px;
    padding: 20px 50px;
  }
}

.menu .menu-container ul, .menu .menu-container li {
  letter-spacing: 2px;
}

.menu .menu-container .menu-title {
  margin: 0 33px 20px 33px;
}

.menu .menu-container .menu-title a {
  color: #FFFFFF;
  font-size: 22px;
  margin-right: 30px;
}

.menu .menu-container .menu-title a div {
  width: 180px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 15px;
}

.menu .menu-container .menu-title ul {
  margin-top: -15px;
}

.menu .menu-container .menu-title ul .menu-content {
  margin-bottom: 10px;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  position: relative;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content::after, .menu .menu-container .menu-title ul .menu-content.collapse-content::before {
  content: ' ';
  position: absolute;
  right: -20px;
  top: 10px;
  width: 8px;
  height: 1.2px;
  background-color: #FFFFFF;
  opacity: 0.6;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content.collapsed {
  opacity: 0.6;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content.collapsed::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu .menu-container .menu-title ul .menu-content.collapse-content:hover {
  opacity: 1;
}

.menu .menu-container .menu-title ul .menu-content a {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.6;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.menu .menu-container .menu-title ul .menu-content a:hover {
  opacity: 1;
}

.menu .menu-container .menu-title .drop-down .collapse-body {
  padding: 10px 0 15px 0;
}

.menu .menu-container .menu-title .drop-down li a {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-bottom: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu .menu-container .menu-title .drop-down li a:hover {
  opacity: 1;
}

.menu .menu-container .menu-title:last-child {
  position: absolute;
  right: 100px;
  top: 330px;
}

.menu .menu-btn {
  right: 15px;
  top: 75px;
}

@media (max-width: 576px) {
  .menu .menu-btn {
    right: 30px;
    top: 20px;
  }
}

.menu .logo {
  width: 130px;
  margin: auto;
  text-align: center;
}

.menu .logo::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 230px;
  height: 1px;
  background-color: #FFFFFF;
}

.modal {
  background-color: rgba(35, 24, 21, 0.9);
}

.modal .modal-content {
  background-color: transparent;
  border: none;
}

.modal .modal-content .modal-top {
  height: 61px;
}

.modal .modal-content .modal-top .logo {
  padding: 10px 0;
  width: 130px;
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal .modal-content .modal-top .logo::after {
  content: '';
  width: 280px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal .modal-content .modal-collapse-group {
  padding: 25px 40px 0 40px;
}

.modal .modal-content .modal-collapse-group .accordion {
  margin-bottom: 20px;
}

.modal .modal-content .modal-collapse-group .accordion .menu-title a {
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 3px;
}

.modal .modal-content .modal-collapse-group .accordion .menu-sub-title {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.3;
  margin-top: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal .modal-content .modal-collapse-group .accordion .menu-sub-title:hover {
  opacity: 0.8;
}

.modal .modal-content .modal-collapse-group .accordion .menu-sub-title .collapse-deco::after, .modal .modal-content .modal-collapse-group .accordion .menu-sub-title .collapse-deco::before {
  top: 11px;
  width: 10px;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco::after, .modal .modal-content .modal-collapse-group .accordion .collapse-deco::before {
  content: ' ';
  position: absolute;
  right: -20px;
  top: 14px;
  width: 12px;
  height: 1.5px;
  background-color: #FFFFFF;
  opacity: 0.6;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco.collapsed::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-btn {
  position: absolute;
  top: 0;
  right: -75px;
}

@media (max-width: 576px) {
  .menu-btn {
    right: 45px;
  }
}

.menu-btn a div {
  position: relative;
  top: 5px;
  width: 60px;
  height: 20px;
  border-top: 2px solid #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 576px) {
  .menu-btn a div {
    width: 30px;
  }
}

.menu-btn a div::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 12px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 576px) {
  .menu-btn a div::after {
    width: 30px;
    top: 8px;
  }
}

.menu-btn.active div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid #FFFFFF;
}

.menu-btn.active div::after {
  background-color: #FFFFFF;
  top: -1px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobile-aside {
  background-color: #857D7D;
  padding: 15px 0 10px 0;
}

.mobile-aside .accordion {
  width: 100%;
  margin-bottom: 15px;
}

.mobile-aside .accordion .aside-btn-group .aside-btn-title div {
  color: #FFFFFF;
  letter-spacing: 2px;
  position: relative;
}

.mobile-aside .accordion .aside-btn-group .aside-btn-title div::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 1px;
  background-color: #FFFFFF;
  top: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile-aside .accordion .aside-btn-group .aside-sub-btn {
  margin-top: 8px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
}

footer {
  width: 100%;
  padding: 50px 0;
  background-color: #231815;
}

@media (max-width: 576px) {
  footer {
    height: 414px;
  }
}

@media (min-width: 1200px) {
  footer .container {
    max-width: 1140px !important;
  }
}

footer .container .footer-info {
  padding: 0 30px 0 40px;
  border-left: 1px #FFFFFF solid;
  border-right: 1px #FFFFFF solid;
}

@media (max-width: 576px) {
  footer .container .footer-info {
    text-align: center;
    font-size: 12px;
    border-left: 0px #FFFFFF solid;
    border-right: 0px #FFFFFF solid;
    position: relative;
    margin-bottom: 45px;
  }
  footer .container .footer-info::after {
    content: ' ';
    width: 112px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 120%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

footer .container .logo {
  max-width: 270px;
}

@media (max-width: 576px) {
  footer .container .logo {
    margin: 0 auto 30px auto;
    max-width: 130px;
  }
}

footer .container p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  footer .container p {
    text-align: center;
  }
}

footer .container .icon-bg {
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-right: 20px;
  position: relative;
}

@media (max-width: 576px) {
  footer .container .icon-bg {
    margin-right: 0;
    margin: 10px 10px 0 10px;
  }
}

footer .container .icon-bg i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
  color: #231815;
}

@-webkit-keyframes menu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes menu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */