@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";


* {
    font-family: 'Noto Serif TC', serif;
}

header {
    padding: 70px 0px 30px;
    position: relative;
    z-index: 2;
    // height: 70vh;

    @media(max-width:992px) {
        // height: unset;
        padding: 30px 0px 0px;
    }

    // @media (min-width:1200px) {
    //     height: 85vh;
    // }

    .container {
        @media(max-width:992px) {
            max-width: unset !important;
        }
    }

    #topline {
        @media(min-width:992px) {
            margin-bottom: 40px;
        }

        @media(min-width:1200px) {
            margin-bottom: 60px;
        }

        nav {

            @media(min-width:1200px) {
                position: absolute;
                right: 60px;
            }

            ul {
                height: 30px;
                display: inline-block;

                li {
                    @extend %letter-spacing;
                    text-align: center;
                    display: inline-block;
                    padding: 2px 10px;

                    &:nth-child(-n+5) {
                        padding: 2px 1.3rem;

                        @media(min-width:1200px) {
                            padding: 2px 17px;
                        }

                        @media(min-width:1600px) {
                            padding: 2px 1.3rem;
                        }
                    }

                    &:nth-child(-n+4) {
                        @include border-two-side(1px, 0, $fc-gray, solid)
                    }

                    &:nth-child(5) {
                        @include border-two-side(1px, 1px, $fc-gray, solid)
                    }

                    a {
                        color: $fc-black;
                        font-size: $fs-16;
                        font-weight: $fw-bold;
                        transition: .3s;
                        transition-timing-function: ease;

                        @media(min-width:1200px) {
                            font-size: $fs-14;
                        }

                        @media(min-width:1600px) {
                            font-size: $fs-16;
                        }

                        &:hover {
                            color: $fc-hover;
                            text-decoration: none;
                        }

                        .cicle {
                            margin-top: 2px;
                            position: relative;
                            width: 20px;
                            height: 20px;
                            border: 1.4px black solid;
                            border-radius: 25px;

                            &:hover {
                                border: 1.4px $fc-hover solid;
                            }

                            .fa-info {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-40%, -50%);
                            }
                        }
                    }

                    &.nav-icon {
                        @media (max-width:1400px) {
                            display: none;
                        }
                    }
                }
            }

            ul.modal-menu-toggle {
                z-index: 3;

                @media(max-width:992px) {
                    top: -60px;
                    right: 30px;
                }

                @media(min-width:992px) {
                    right: 0px;
                }

                @media(min-width:1024px) {
                    right: 90px;
                }

                li {
                    border: none;
                    padding: 0;
                }
            }
        }

        .logo {
            max-width: 350px;
            min-width: 270px;

            @media (max-width:992px) {
                margin: 0 auto 30px auto;
                width: 100%;
                max-width: 200px;
                min-width: unset;
            }
        }
    }


    #headline {
        @media(max-width:992px) {
            padding-left: 0;
            padding-right: 0;
        }

        aside {

            @media(min-width:992px) {
                margin-top: 35px;
            }

            @media(min-width:1200px) {
                margin-top: 0;
            }

            .link-icon {
                display: none;

                @media(min-width:1600px) {
                    display: block;
                }
            }

            .swiper-pagination {
                position: absolute;

                @media(min-width:992px) {
                    top: -320px;
                    left: 30px;
                }

                @media(min-width:1200px) {
                    margin-bottom: 0;
                    position: absolute;
                    top: 30px;
                    left: 280px;
                }

                @media(min-width:1400px) {
                    width: 250px;
                    position: unset;
                    margin-bottom: 65px;
                }

            }

            .swiper-pagination-bullet {

                @media(min-width:992px) {
                    margin-right: 25px;
                    border: 1.5px solid $main-color;
                    background: $main-color;
                    opacity: 1;
                }

                @media(min-width:1400px) {
                    margin-right: 15px;
                    border: 1.5px solid white;
                    background: white;
                    opacity: .8;
                    transition: .8s;
                }

                &.swiper-pagination-bullet-active {

                    @media(min-width:992px) {
                        border: 1.5px solid $main-color;
                        background: transparent;
                    }

                    @media(min-width:1400px) {
                        border: 1.5px solid white;
                        opacity: 1;
                    }
                }
            }

            i {
                font-size: $fs-18;
                color: $fc-white;
                margin-bottom: 15px;

            }

            .aside-btn-group {
                @media(max-width:992px) {
                    background-color: #857D7D;
                    padding: 25px 0 15px 0;
                }

                a {
                    @media(max-width:992px) {
                        width: 100%;
                    }

                    .aside-btn {
                        position: relative;
                        @include border-two-side(1px, 0, $fc-white, solid);
                        letter-spacing: 8px;
                        color: $fc-white;
                        font-size: $fs-16;
                        padding: 350px 15px 5px 15px;
                        overflow: hidden;


                        @media(max-width:1200px) {
                            &:hover {
                                width: 300px;
                            }
                        }

                        @media(max-width:992px) {
                            writing-mode: unset;
                            @include border-two-side(0px, 0, $fc-white, solid);
                            padding: 0;
                            width: 100%;
                            text-align: center;
                            font-size: $fs-14;
                            margin-bottom: 10px;
                            overflow: unset;


                            &::after {
                                content: ' ';
                                width: 210px;
                                height: 1px;
                                background-color: $fc-white;
                                position: absolute;
                                top: 25px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        @media(min-width:992px) {
                            padding: 0 15px;
                            -webkit-writing-mode: unset;
                            writing-mode: unset;
                        }

                        @media(min-width:1200px) {
                            font-size: $fs-18;
                            padding: 325px 15px 5px 15px;
                            -webkit-writing-mode: vertical-rl;
                            writing-mode: vertical-rl;
                        }

                        .gradient-mask {
                            padding-top: 15px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transition: 0.5s;
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                            opacity: 0;
                            transition-timing-function: ease-in-out;
                            line-height: 61px;
                            font-size: $fs-16;
                            overflow: hidden;

                            @media(min-width:1200px) {
                                padding-top: 5px;
                            }

                            @media(max-width:992px) {
                                display: none;
                            }

                            .aside-sub-btn-group {
                                opacity: 0;
                                transition-timing-function: ease-in;
                                transition: 1s;

                                .aside-sub-btn {
                                    transition: .3s;
                                    opacity: 0.5;

                                    &:hover {
                                        opacity: 1;
                                    }
                                }
                            }

                        }

                        &:hover {
                            .gradient-mask {
                                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                                opacity: 1;
                                top: 0;

                                .aside-sub-btn-group {
                                    opacity: 1;

                                }
                            }
                        }
                    }
                }
            }
        }

        .aside-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            width: 35vw;
            height: 100%;
            background-color: $main-color;

            @media (min-width:992px) {
                width: 75vw;
                min-width: 670px;
            }

            @media (min-width:1200px) {
                min-width: unset;
                width: 32vw;
                // height: 85vh;
            }
        }

        .banner {
            .swiper-container {

                @media (min-width:1200px) {
                    margin-left: auto;
                    margin-right: unset;
                    height: unset;
                    width: 93%;
                    height: 440px;
                }

                @media (min-width:1400px) {
                    width: 98%;
                    height: 515px;
                }

                @media (min-width:1600px) {
                    width: 100%;
                    height: 590px;
                }
            }
        }

    }

}


.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(35, 24, 21, 0.9);

    &.active {
        display: block;
        animation-name: menu-fadeIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

    &.fadeout {
        animation-name: menu-fadeOut;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }

    .menu-container {
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 180px 100px 0 100px;

        @media (max-width:992px) {
            max-width: 320px;
            padding: 20px 50px;
        }

        ul,
        li {
            letter-spacing: 2px;
        }


        .menu-title {
            margin: 0 33px 20px 33px;

            a {
                color: $fc-white;
                font-size: $fs-22;
                margin-right: 30px;

                div {
                    width: 180px;
                    border-bottom: 1px solid $fc-white;
                    padding-bottom: 15px;
                }
            }

            ul {
                margin-top: -15px;

                .menu-content {
                    margin-bottom: 10px;

                    &.collapse-content {
                        color: $fc-white;
                        font-size: $fs-14;
                        opacity: 1;

                        transition: .3s;
                        transition-timing-function: ease-in-out;
                        position: relative;

                        &::after,
                        &::before {
                            content: ' ';
                            position: absolute;
                            right: -20px;
                            top: 10px;
                            width: 8px;
                            height: 1.2px;
                            background-color: $fc-white;
                            opacity: 0.6;
                        }

                        &::before {
                            transform: rotate(0deg);
                            transition: 0.3s;
                        }

                        &.collapsed {
                            opacity: 0.6;

                            &::before {
                                transform: rotate(90deg);
                            }
                        }

                        &:hover {
                            opacity: 1;
                        }
                    }

                    a {
                        color: $fc-white;
                        font-size: $fs-14;
                        opacity: 0.6;
                        transition: .3s;
                        transition-timing-function: ease-in-out;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }


            .drop-down {

                .collapse-body {
                    padding: 10px 0 15px 0;
                }

                li {
                    a {
                        font-size: $fs-12;
                        color: $fc-white;
                        opacity: 0.4;
                        margin-bottom: 5px;
                        transition: .3s;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }

            }

            &:last-child {
                position: absolute;
                right: 100px;
                top: 330px;
            }
        }

    }

    .menu-btn {
        right: 15px;
        top: 75px;

        @media (max-width:992px) {
            right: 30px;
            top: 20px;
        }
    }

    .logo {
        width: 130px;
        margin: auto;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            top: 55px;
            left: 50%;
            transform: translateX(-50%);
            width: 230px;
            height: 1px;
            background-color: $fc-white;
        }
    }
}

.modal {
    background-color: rgba(35, 24, 21, 0.9);

    .modal-content {
        background-color: transparent;
        border: none;

        .modal-top {
            height: 61px;

            .logo {
                padding: 10px 0;
                width: 130px;
                position: absolute;
                left: 50%;
                top: 10px;
                transform: translateX(-50%);

                &::after {
                    content: '';
                    width: 280px;
                    height: 1px;
                    background-color: $fc-white;
                    position: absolute;
                    left: 50%;
                    top: 50px;
                    transform: translateX(-50%);
                }
            }
        }

        .modal-collapse-group {
            padding: 25px 40px 0 40px;

            .accordion {
                margin-bottom: 20px;

                .menu-title {
                    a {
                        color: $fc-white;
                        font-size: $fs-18;
                        letter-spacing: 3px;
                    }
                }

                .menu-sub-title {
                    font-size: $fs-14;
                    color: $fc-white;
                    opacity: 0.3;
                    margin-top: 15px;
                    transition: .3s;

                    &:hover {
                        opacity: 0.8;
                    }

                    .collapse-deco {

                        &::after,
                        &::before {
                            top: 11px;
                            width: 10px;
                        }
                    }
                }

                .collapse-deco {
                    position: relative;
                    transition: .3s;
                    transition-timing-function: ease-in-out;

                    &::after,
                    &::before {
                        content: ' ';
                        position: absolute;
                        right: -20px;
                        top: 14px;
                        width: 12px;
                        height: 1.5px;
                        background-color: $fc-white;
                        opacity: 0.6;
                    }

                    &::before {
                        transform: rotate(0deg);
                        transition: 0.3s;
                    }

                    &.collapsed {

                        &::before {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
    }
}

.menu-btn {

    // @media(min-width:1720px) {
    //     top:0;
    //     right:-75px;
    // }

    // @media(max-width: 1199px){
    //     right: 4%;
    //     top: 50px;
    // }

    a {
        div {
            position: relative;
            top: 5px;
            width: 60px;
            height: 20px;
            border-top: 2px solid $fc-black;
            transform-origin: center;
            transition: .3s;
            transition-timing-function: ease-in-out;

            @media(max-width: 992px) {
                width: 30px;
            }

            &::after {
                content: ' ';
                position: absolute;
                left: 0;
                top: 12px;
                width: 60px;
                height: 2px;
                background-color: $fc-black;
                transform-origin: center;
                transition: .3s;
                transition-timing-function: ease-in-out;

                @media(max-width: 992px) {
                    width: 30px;
                    top: 8px;
                }
            }
        }
    }

    &.active {
        div {
            transform: rotate(45deg);
            border-top: 2px solid $fc-white;

            &::after {
                background-color: $fc-white;
                top: -1px;
                transform: rotate(-90deg);
            }
        }
    }
}

.mobile-aside {
    background-color: $main-color;
    padding: 15px 0 10px 0;

    .accordion {
        width: 100%;
        margin-bottom: 15px;

        .aside-btn-group {

            .aside-btn-title {

                div {
                    color: $fc-white;
                    letter-spacing: 2px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 180px;
                        height: 1px;
                        background-color: $fc-white;
                        top: 28px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .aside-sub-btn {
                margin-top: 8px;
                text-align: center;
                color: $fc-white;
                opacity: 0.6;
            }
        }
    }
}

footer {
    width: 100%;
    padding: 50px 15px;
    background-color: $main-color-dark;

    .container {
        .footer_area {

            @media screen and (max-width:1024px) {
                justify-content: center;

            }

            @media (max-width:992px) {
                flex-direction: column;
                align-items: center;
            }

            .footer-info {
                padding: 0 30px 0 40px;
                @include border-two-side(1px, 1px, $fc-white, solid);

                @media screen and (max-width:1024px) {
                    @include border-two-side(0px, 1px, $fc-white, solid);
                }

                @media (max-width:992px) {
                    font-size: $fs-12;
                    position: relative;
                    margin-bottom: 45px;
                    @include border-two-side(0px, 0px, $fc-white, solid);

                    &::after {
                        content: ' ';
                        width: 112px;
                        height: 1px;
                        background-color: $fc-white;
                        position: absolute;
                        left: 50%;
                        top: 120%;
                        transform: translateX(-50%);
                    }
                }
            }

            .icon_block {
                @media screen and (max-width:992px) {
                    justify-content: center;
                }
            }

            p {
                font-size: $fs-14;
                color: $fc-white;
                letter-spacing: 2px;
                margin-bottom: 10px;

                @media (max-width:992px) {
                    text-align: center;
                }
            }

            .icon-bg {
                width: 50px;
                height: 50px;
                background-color: $fc-white;
                border-radius: 25px;
                margin-right: 20px;
                position: relative;

                @media (max-width:992px) {
                    margin-right: 0;
                    margin: 10px 10px 0 10px;
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: $fs-32;
                    color: $main-color-dark;
                }
            }

            .block {
                @media screen and (max-width:1024px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .logo {
                    width: 270px;
                    margin: 0 auto 30px;

                    @media (max-width:992px) {
                        margin: 0 auto 30px auto;
                    }
                }
            }

        }


    }
}

@keyframes menu-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menu-fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}