@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

header nav ul li {
  letter-spacing: 2px;
}

.container-fluid {
  max-width: 1600px;
}

.padding-none {
  padding: 0;
}

* {
  font-family: 'Noto Serif TC', serif;
}

header nav {
  padding: 60px 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header nav ul {
  height: 30px;
  display: inline-block;
}

header nav ul li {
  text-align: center;
  display: inline-block;
  padding: 2px 10px;
}

header nav ul li:nth-child(-n+5) {
  padding: 2px 1.3rem;
}

header nav ul li:nth-child(-n+4) {
  border-left: 1px #808080 solid;
  border-right: 0 #808080 solid;
}

header nav ul li:nth-child(5) {
  border-left: 1px #808080 solid;
  border-right: 1px #808080 solid;
}

header nav ul li a {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

header nav ul li a:hover {
  color: #978475;
  text-decoration: none;
}

header nav ul li a .cicle {
  margin-top: 2px;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1.4px black solid;
  border-radius: 25px;
}

header nav ul li a .cicle:hover {
  border: 1.4px #978475 solid;
}

header nav ul li a .cicle .fa-info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

header nav ul li.menu-btn {
  top: 0;
  right: -65px;
}

header nav ul li.menu-btn a div {
  position: relative;
  top: 5px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

header nav ul li.menu-btn a div::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 12px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

header nav ul li.menu-btn.active div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav ul li.menu-btn.active div::after {
  top: 0px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

header .banner {
  padding: 0;
  left: 50%;
  top: 150px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header aside {
  padding-top: 60px;
  top: 0;
  left: 50%;
  z-index: 99;
  width: 700px;
  height: 850px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header aside .logo {
  width: 300px;
  margin-bottom: 65px;
}

header aside .swiper-pagination {
  width: 250px;
  position: unset;
  margin-bottom: 65px;
}

header aside .swiper-pagination-bullet {
  margin-right: 15px;
  border: 1.5px solid white;
  background: transparent;
  opacity: .8;
  -webkit-transition: .8s;
  transition: .8s;
}

header aside .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

header aside i {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

header .aside-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 38%;
  height: 840px;
  background-color: #665252;
}
/*# sourceMappingURL=main.css.map */