@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
@media (min-width: 576px) and (max-width: 992px) {
  .container {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.container_1330 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1330 {
    max-width: 1330px;
  }
}

@media (max-width: 1199px) {
  .container_1330 {
    max-width: 1000px;
  }
}

@media (max-width: 576px) {
  .container_1330 {
    max-width: unset;
  }
}

.container_1140 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container_1140 {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container_1140 {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container_1140 {
    max-width: 1199px;
  }
}

@media (max-width: 576px) {
  .container_1140 {
    max-width: unset;
  }
}

.ui-datepicker {
  width: 20em;
  height: 22em;
  background-color: white;
  z-index: 99 !important;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 3em;
}

.ui-datepicker .ui-datepicker-header {
  background: #ffffff;
  border: 0px solid #ffffff;
  padding: 0.5em 0;
}

.ui-datepicker .ui-datepicker-header .fas {
  width: 100%;
  height: 100%;
  left: 0%;
  margin-left: 0px;
  top: 0%;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-focus {
  border: 0px solid #ffffff;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover.ui-datepicker-prev-hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover.ui-datepicker-next-hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker .ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border: 0px solid #ffffff;
  background: #ffffff;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: #eee;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active {
  border: 1px solid #000000;
  border-radius: 200%;
}

.ui-datepicker .ui-datepicker-prev {
  left: 10px;
}

.ui-datepicker .ui-datepicker-next {
  right: 10px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 0.5em;
}

* {
  font-family: 'Noto Serif TC', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
}

a:hover {
  color: #886D6A;
  text-decoration: none;
}

a:active {
  color: #000000;
}

.padding-none {
  padding: 0;
}

.modal-dialog {
  max-width: 1000px;
}

nav .search_box {
  position: relative;
}

nav .search_box .search {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 0px;
  height: 40px;
  background-color: #6a4945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: .3s;
  transition: .3s;
}

nav .search_box .search input {
  width: 0px;
  height: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 0px solid;
}

nav .search_box .search i {
  opacity: 0;
  padding: 0px 5px 0px 10px;
  color: #FFFFFF;
}

nav .search_box.active .search {
  width: 215px;
  padding: 5px;
}

nav .search_box.active .search input {
  width: 165px;
}

nav .search_box.active .search i {
  opacity: 1;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(35, 24, 21, 0.9);
}

.menu.active {
  display: block;
  -webkit-animation-name: menu-fadeIn;
          animation-name: menu-fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  overflow-y: overlay;
}

@media (max-width: 992px) {
  .menu.active {
    display: none;
  }
}

.menu.active::-webkit-scrollbar {
  display: none;
}

.menu.fadeout {
  -webkit-animation-name: menu-fadeOut;
          animation-name: menu-fadeOut;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.menu .menu-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 180px 80px 0 80px;
}

@media (max-width: 992px) {
  .menu .menu-container {
    max-width: 320px;
    padding: 20px;
  }
}

.menu .menu-container ul,
.menu .menu-container li {
  letter-spacing: 2px;
}

.menu .menu-container .menu-title {
  width: 23%;
}

.menu .menu-container .menu-title a {
  color: #FFFFFF;
  font-size: 22px;
  margin-right: 30px;
}

.menu .menu-container .menu-title a .name {
  width: 180px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 15px;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  position: relative;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content::after, .menu .menu-container .menu-title ul .menu-content.collapse-content::before {
  content: ' ';
  position: absolute;
  right: -20px;
  top: 10px;
  width: 8px;
  height: 1.2px;
  background-color: #FFFFFF;
  opacity: 0.6;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content.collapsed {
  opacity: 0.6;
}

.menu .menu-container .menu-title ul .menu-content.collapse-content.collapsed::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu .menu-container .menu-title ul .menu-content.collapse-content:hover {
  opacity: 1;
}

.menu .menu-container .menu-title ul .menu-content a {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.6;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.menu .menu-container .menu-title ul .menu-content a:hover {
  opacity: 1;
}

.menu .menu-container .menu-title ul li {
  margin-bottom: 5px;
}

.menu .menu-container .menu-title .drop-down .collapse-body {
  padding: 5px 0 15px 0;
}

.menu .menu-container .menu-title .drop-down li a {
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-bottom: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu .menu-container .menu-title .drop-down li a:hover {
  opacity: 1;
}

.menu .menu-container .menu-title:first-child {
  margin-left: 40px;
}

.menu .menu-container .menu-title:nth-last-child(2) {
  margin-left: auto;
}

.menu .menu-container .menu-title.nav-icon {
  position: absolute;
  width: auto;
  bottom: -20px;
  right: 0;
  -webkit-transform: translate(-55px, 70px);
          transform: translate(-55px, 70px);
  display: none;
}

@media (max-width: 1400px) {
  .menu .menu-container .menu-title.nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu .menu-container .menu-title.nav-icon a {
  margin: 0;
}

.menu .menu-container .menu-title.nav-icon a:nth-child(2) {
  margin: 0 30px 0 35px;
}

.menu .menu-container .menu-title.nav-icon .circle {
  position: relative;
}

.menu .menu-container .menu-title.nav-icon .circle::after {
  content: '';
  width: 30px;
  height: 30px;
  border: 1.5px white solid;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: -11px;
}

.menu .menu-container .menu-title.nav-icon .search_box i {
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menu-container .menu-title.nav-icon .search_box input {
  -webkit-transition: .5s;
  transition: .5s;
  width: 0;
  background-color: transparent;
  border: none;
  color: white;
  height: 24px;
  display: block;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  border-radius: 2px;
}

.menu .menu-container .menu-title.nav-icon .search_box input:focus {
  width: 150px;
  margin-right: 10px;
}

.menu .menu-container .menu-title.nav-icon .search_box:hover input {
  margin-right: 10px;
  width: 150px;
  border: 1px white solid;
}

.menu .menu-btn {
  right: 15px;
  top: 75px;
}

@media (max-width: 992px) {
  .menu .menu-btn {
    right: 30px;
    top: 20px;
  }
}

.menu .logo {
  position: relative;
  width: 130px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.menu .logo::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 230px;
  height: 1px;
  background-color: #FFFFFF;
}

.menu a {
  color: inherit;
}

.modal {
  background-color: rgba(35, 24, 21, 0.9);
}

.modal .modal-content {
  background-color: transparent;
  border: none;
}

.modal .modal-content .modal-top {
  height: 61px;
}

.modal .modal-content .modal-top .logo {
  padding: 10px 0;
  width: 130px;
  position: absolute;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal .modal-content .modal-top .logo::after {
  content: '';
  width: 280px;
  height: 1px;
  background-color: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal .modal-content .modal-collapse-group {
  padding: 25px 0 0 0;
  position: relative;
  width: 280px;
  margin: auto;
}

.modal .modal-content .modal-collapse-group::after {
  content: ' ';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 280px;
  height: 1px;
  background-color: white;
}

.modal .modal-content .modal-collapse-group .accordion {
  margin-bottom: 20px;
}

.modal .modal-content .modal-collapse-group .accordion .menu-title a {
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 3px;
}

.modal .modal-content .modal-collapse-group .accordion .menu-sub-title {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.3;
  margin-top: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.modal .modal-content .modal-collapse-group .accordion .menu-sub-title:hover {
  opacity: 0.8;
}

.modal .modal-content .modal-collapse-group .accordion .menu-sub-title .collapse-deco::after, .modal .modal-content .modal-collapse-group .accordion .menu-sub-title .collapse-deco::before {
  top: 11px;
  width: 10px;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco::after, .modal .modal-content .modal-collapse-group .accordion .collapse-deco::before {
  content: ' ';
  position: absolute;
  right: -20px;
  top: 14px;
  width: 12px;
  height: 1.5px;
  background-color: #FFFFFF;
  opacity: 0.6;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .modal-content .modal-collapse-group .accordion .collapse-deco.collapsed::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal .modal-content .modal-footer {
  border: none;
  padding: 30px 0 0 0;
  min-width: 280px;
  margin: auto;
}

.modal .modal-content .modal-footer a .circle {
  width: 28px;
  height: 28px;
  border: 1.5px #FFFFFF solid;
  border-radius: 50%;
  position: relative;
  margin: 0 10px 0 20px;
}

.modal .modal-content .modal-footer a .circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
}

.modal .modal-content .modal-footer a i {
  font-size: 24px;
  color: #FFFFFF;
}

.modal .modal-content .modal-footer a.modal-menu-search i {
  -webkit-transition: .5s;
  transition: .5s;
}

.modal .modal-content .modal-footer a.modal-menu-search input {
  -webkit-transition: .5s;
  transition: .5s;
  width: 0;
  background-color: transparent;
  border: none;
  color: white;
  display: block;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

.modal .modal-content .modal-footer a.modal-menu-search:hover i {
  margin-left: 10px;
}

.modal .modal-content .modal-footer a.modal-menu-search:hover input {
  width: 150px;
  border: 1px white solid;
}

.modal a {
  color: inherit;
}

.menu-btn a div {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 992px) {
  .menu-btn a div {
    width: 30px;
  }
}

.menu-btn a div::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 10%;
  width: 60px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 992px) {
  .menu-btn a div::before {
    width: 30px;
  }
}

.menu-btn a div::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 20%;
  width: 60px;
  height: 2px;
  background-color: #000000;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 992px) {
  .menu-btn a div::after {
    width: 30px;
  }
}

.menu-btn.active div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid #FFFFFF;
}

.menu-btn.active div::before {
  background-color: #FFFFFF;
  top: -2px;
}

.menu-btn.active div::after {
  background-color: #FFFFFF;
  top: -1px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobile-aside {
  background-color: #665252;
  padding: 20px 15px 30px;
}

.mobile-aside .accordion {
  width: 100%;
  position: relative;
}

.mobile-aside .accordion::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #FFFFFF;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 576px) {
  .mobile-aside .accordion::after {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .mobile-aside .accordion .aside-btn-group {
    padding: 15px 0px;
  }
}

.mobile-aside .accordion .aside-btn-group .aside-btn-title {
  font-size: 16px;
}

.mobile-aside .accordion .aside-btn-group .aside-btn-title > div {
  color: #FFFFFF;
  letter-spacing: 2px;
  padding: 10px 0px;
}

@media screen and (max-width: 768px) {
  .mobile-aside .accordion .aside-btn-group .aside-btn-title > div {
    padding: 0px;
  }
}

.mobile-aside .accordion .aside-btn-group .aside-sub-btn {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.6;
}

footer {
  width: 100%;
  padding: 50px 15px;
  background-color: #231815;
}

footer a {
  color: inherit;
}

footer .footer_area {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  footer .footer_area {
    max-width: 933px;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer_area {
    max-width: 576px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area {
    max-width: 240px;
  }
}

footer .footer_area p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  footer .footer_area p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer_area .logo_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer_area .logo_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer_area .logo_area .logo {
    text-align: center;
    margin-bottom: 30px;
  }
}

footer .footer_area .logo_area .logo img {
  max-width: 270px;
}

footer .footer_area .info_area {
  padding: 0px 3rem;
}

@media screen and (max-width: 1200px) {
  footer .footer_area .info_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
    padding: 0px;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer_area .info_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0px 45px 0px 0px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .info_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 0px 10px 0px;
  }
}

footer .footer_area .info_area .footer-info {
  padding: 0 30px;
  border-left: 1px #FFFFFF solid;
  border-right: 1px #FFFFFF solid;
}

@media screen and (max-width: 1024px) {
  footer .footer_area .info_area .footer-info {
    border-left: 0px #FFFFFF solid;
    border-right: 1px #FFFFFF solid;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer_area .info_area .footer-info {
    padding: 0px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .info_area .footer-info {
    font-size: 12px;
    position: relative;
    margin-bottom: 45px;
    border-left: 0px #FFFFFF solid;
    border-right: 0px #FFFFFF solid;
    text-align: center;
  }
  footer .footer_area .info_area .footer-info::after {
    content: ' ';
    width: 112px;
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 120%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

footer .footer_area .info_area .footer-info p {
  min-width: 286px;
}

footer .footer_area .info_area .footer-info p span:nth-child(1) {
  padding-right: 25px;
  position: relative;
}

footer .footer_area .info_area .footer-info p span:nth-child(1)::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #FFFFFF;
}

@media screen and (max-width: 576px) {
  footer .footer_area .info_area .footer-info p span:nth-child(1) {
    padding-right: 15px;
  }
}

footer .footer_area .info_area .footer-info p span:nth-child(2) {
  padding-left: 25px;
}

@media screen and (max-width: 576px) {
  footer .footer_area .info_area .footer-info p span:nth-child(2) {
    padding-left: 15px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .info_area .footer-info p {
    min-width: 240px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_area .info_area .footer-info p:nth-child(n+2) {
    margin: 0px auto 5px;
    width: 200px;
    min-width: 220px;
  }
  footer .footer_area .info_area .footer-info p:nth-last-child(1) {
    margin: 0px auto 5px;
    min-width: 170px;
    width: 170px;
  }
}

footer .footer_area .icon_area {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  footer .footer_area .icon_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  footer .footer_area .icon_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media screen and (max-width: 768px) {
  footer .footer_area .icon_area {
    padding-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .icon_area {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer_area .icon_area .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .icon_area .row {
    text-align: center;
  }
}

footer .footer_area .icon_area .content {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (min-width: 1201px) {
  footer .footer_area .icon_area .content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
  }
}

footer .footer_area .icon_area .icon_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1201px) {
  footer .footer_area .icon_area .icon_block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .icon_area .icon_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .footer_area .icon_area .icon_block .icon-bg {
  min-width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-left: 20px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  footer .footer_area .icon_area .icon_block .icon-bg {
    margin-left: 0;
    margin-right: 20px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_area .icon_area .icon_block .icon-bg {
    margin: 0px 7.5px;
  }
}

footer .footer_area .icon_area .icon_block .icon-bg i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 27px;
  color: #231815;
}

footer .footer_area .icon_area .icon_block .icon-bg .mail-icon {
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.go_to_top {
  cursor: pointer;
  position: fixed;
  z-index: 5;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
          box-shadow: 0px 0px 15px -5px #000000;
}

.go_to_top.show {
  opacity: 1;
  visibility: visible;
}

.pageNumber {
  width: 100%;
  padding: 25px 0px;
}

.pageNumber ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pageNumber ul .number.active a {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .number a {
  display: block;
  width: 25px;
  height: 25px;
  color: #000000;
  background-color: unset;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.pageNumber ul .number a:hover {
  background-color: #333333;
  color: #FFFFFF;
}

.pageNumber ul .total-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #808080;
  margin-right: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1400px) {
  .pageNumber ul .total-data {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .pageNumber ul .total-data {
    display: none;
  }
}

.pageNumber ul .BTN {
  margin: 25px 0px;
}

.pageNumber ul .BTN .firstBTN,
.pageNumber ul .BTN .nextBTN,
.pageNumber ul .BTN .lastBTN {
  padding: 10px 20px;
  border: 1px solid #333333;
  text-align: center;
  color: #000000;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
}

.pageNumber ul .BTN .firstBTN:hover,
.pageNumber ul .BTN .nextBTN:hover,
.pageNumber ul .BTN .lastBTN:hover {
  color: #FFFFFF;
  background-color: #333333;
}

.pageNumber ul .BTN .firstBTN {
  margin-right: 20px;
}

.pageNumber ul .BTN .nextBTN {
  margin-left: 20px;
}

.pageNumber ul .BTN .lastBTN {
  margin-left: 10px;
}

.pageNumber .more {
  min-width: 130px;
  max-width: 300px;
  width: 100%;
}

.pageNumber .more > div {
  cursor: pointer;
  border: 1px solid #333333;
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_btn_style {
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 3px;
  max-width: 220px;
  max-height: unset;
  padding: 10px 25px;
  border-radius: unset;
  background-color: transparent;
  border: 1px solid unset;
  -webkit-transition: .3s;
  transition: .3s;
  color: #231815;
  width: 220px;
  margin-right: 20px;
  border: 1px solid #231815;
  cursor: pointer;
}

.input_btn_style:hover {
  background-color: #231815;
}

.input_btn_style:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 1400px) {
  .input_btn_style {
    width: 50%;
    margin-right: 10px;
  }
  .input_btn_style:nth-last-child(1) {
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media print {
  footer {
    margin-top: -150px;
  }
  footer .container .row .icon_area {
    margin-left: 50px;
  }
  footer .container .row .icon_area .row .content {
    margin-left: 25px;
  }
}

@-webkit-keyframes menu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes menu-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */