@import "./model.scss";
@import "./_variables.scss";
@import "./_function.scss";



.btnGroup {

    .project {
        @include btn_style(100%, 130px, 45px, 8px, $light-brown-Transparent, $light-brown-Transparent, $brown);
        @include text_style($fs-24,$fw-500, center, 4px);
        color: $white;
        margin-bottom: 30px;

        @media (max-width:576px) {
            max-height: 80px;
            padding: 25px 15px;
            font-size: $fs-18;
        }
    }
}


