@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
.signin_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .signin_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.signin_title li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.signin_title li .icon {
  height: 8px;
  width: 50px;
  background-color: #000000;
}

@media (max-width: 768px) {
  .signin_title li:nth-child(1) {
    margin-bottom: 30px;
  }
}

.signin_title li:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 5px;
}

@media (max-width: 768px) {
  .signin_title li:nth-child(2) {
    margin-bottom: 15px;
  }
}

.signin_title li:nth-child(3) {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 768px) {
  .signin_title li:nth-child(3) {
    margin-bottom: 30px;
  }
}

.login {
  max-width: 690px;
}

.login .content {
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 40px 50px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .login .content {
    margin-bottom: 40px;
    padding: 0px;
    border: 0px solid #000000;
  }
}

.login .content .robot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .login .content .robot {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.login .content .robot img {
  width: 250px;
}

@media (max-width: 768px) {
  .login .content .robot img {
    margin-bottom: 30px;
  }
}

.login .content .robot .title {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  letter-spacing: 3px;
  color: #4D4D4D;
}

@media (max-width: 768px) {
  .login .content .robot .title {
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.login .content .robot .title span:nth-child(1) {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.login .content .robot .title span:nth-last-child(1) {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (max-width: 768px) {
  .login .content .robot .title span:nth-child(1) {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .login .content .robot .title span:nth-last-child(1) {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 1400px) {
  .login .form_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .login .form_btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .login .form_btn {
    padding: 10px 15px;
  }
}

.login .form_btn a {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: #231815;
  width: 200px;
  padding: 10px 0px;
  background-color: transparent;
  margin-right: 20px;
  border: 1px solid #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login .form_btn a:hover {
  color: #FFFFFF;
}

.login .form_btn a:hover {
  background-color: #231815;
}

.login .form_btn a:nth-child(1) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-right: 0px;
}

.login .form_btn a:nth-last-child(1) {
  margin-right: auto;
}

@media (max-width: 1200px) {
  .login .form_btn a:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .login .form_btn a:nth-child(2) {
    width: calc(50% - 15px);
    margin: 0px 15px 0px 0px;
  }
  .login .form_btn a:nth-child(3) {
    width: calc(50% - 15px);
    margin: 0px 0px 0px 15px;
  }
}

.forget {
  max-width: 690px;
}

.forget .content {
  border-radius: 5px;
  border: 1px solid #000000;
  padding: 40px 50px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .forget .content {
    margin-bottom: 40px;
    padding: 0px;
    border: 0px solid #000000;
  }
}

@media (max-width: 1400px) {
  .forget .form_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .forget .form_btn {
    padding: 0px 15px;
  }
}

.forget .form_btn input {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: #231815;
  width: 220px;
  padding: 10px 0px;
  background-color: transparent;
  border: 1px solid #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.forget .form_btn input:hover {
  color: #FFFFFF;
}

.forget .form_btn input:hover {
  background-color: #231815;
}

.forget .form_btn input:nth-child(1) {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .forget .form_btn input:nth-child(1) {
    width: 100%;
  }
}
/*# sourceMappingURL=SignIn-InsidePage.css.map */