@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap");
.Connection_area .text_block {
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-align: justify;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .Connection_area .text_block {
    border-bottom: 1px solid #000000;
  }
}

.Connection_area .text_block p.text {
  text-indent: 30px;
}

.Connection_area .Connection_form {
  margin-bottom: 5px;
}

.Connection_area .Connection_form .name {
  font-size: 22px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .Connection_area .Connection_form .name {
    max-width: 30%;
  }
}

.Connection_area .Connection_form .name > label {
  min-width: 150px;
  letter-spacing: 4px;
  padding: 0px 0px 0px 20px;
  position: relative;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
}

.Connection_area .Connection_form .name > label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #231815;
}

.Connection_area .Connection_form .form_input {
  margin-bottom: 40px;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .Connection_area .Connection_form .form_input {
    max-width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .Connection_area .Connection_form .form_input {
    margin-bottom: 40px;
  }
  .Connection_area .Connection_form .form_input .block {
    margin-bottom: 20px;
  }
}

.Connection_area .Connection_form .form_input input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 4px;
  outline-width: 0px none invert;
  border: 1px solid #000000;
  text-shadow: none;
  -webkit-appearance: none;
  -webkit-user-select: text;
  outline-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Connection_area .Connection_form .form_input img {
  width: 100%;
  border: 1px solid #000000;
}

@media screen and (max-width: 1200px) {
  .Connection_area .Connection_form .form_input img {
    height: 40px;
  }
}

.Connection_area .Connection_form .form_input .icon {
  width: 100px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Connection_area .Connection_form .form_input .icon i {
  margin: 0px 2px;
  padding: 7px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Connection_area .Connection_form .text {
  margin-bottom: 30px;
  text-align: justify;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

.Connection_area .Connection_form .text P {
  padding: 15px 0px;
}

@media screen and (max-width: 1400px) {
  .Connection_area .Connection_form .form_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Connection_area .Connection_form .form_btn button {
  font-size: 16px;
  font-weight: unset;
  text-align: center;
  letter-spacing: 3px;
  max-width: 220px;
  max-height: unset;
  padding: 10px 25px;
  border-radius: unset;
  background-color: transparent;
  border: 1px solid unset;
  -webkit-transition: .3s;
  transition: .3s;
  color: #231815;
  width: 220px;
  margin-right: 20px;
  border: 1px solid #231815;
}

.Connection_area .Connection_form .form_btn button:hover {
  background-color: #231815;
}

.Connection_area .Connection_form .form_btn button:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 1400px) {
  .Connection_area .Connection_form .form_btn button {
    width: 50%;
    margin-right: 10px;
  }
  .Connection_area .Connection_form .form_btn button:nth-last-child(1) {
    margin-left: 10px;
    margin-right: 0px;
  }
}

.Connection_area .Connection_form textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  letter-spacing: 4px;
}

.Connection_area .Connection_form select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: -20px;
  -webkit-appearance: none;
  text-indent: 0.01px;
  background-image: url("../img/icon/caret-down-solid.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: center;
  font-size: 14px;
  letter-spacing: 4px;
}

.Connection_area .Connection_form select option:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Connection_area .Connection_form select option {
  line-height: 30px;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 4px;
}
/*# sourceMappingURL=SP-ContactUs.css.map */