#Donatebooks-family{
    ul.text {
        list-style-type: disc;
        margin-bottom: 50px;

        li {
            list-style: disc;
            margin-left: 32px;

            &.image {
                margin-left: 0px;
                list-style: none;
            }
        }
    }

    img {
        max-width: 700px;
        width: 100%;
    }

    ul.matter {
        list-style-type: disc;
        border: 1px solid #000000;
        padding: 25px;

        li {
            list-style: decimal;
            margin-left: 32px;
        }
    }

    .form_btn {
        @media screen and (max-width:1400px) {
            display: flex;
        }

        button {
            font-size: 16px;
            text-align: center;
            letter-spacing: 3px;
            max-width: 220px;
            padding: 10px 25px;
            background-color:transparent;
            transition: .3s;
            color: #231815;
            &:hover {
                background-color:#6a4945;
                color: #FFFFFF;
            }
            width: 220px;
            margin-right: 20px;
            border: 1px solid #231815;

            @media screen and (max-width:1400px) {
                width: 50%;
                margin-right: 10px;

                &:nth-last-child(1) {
                    margin-left: 10px;
                    margin-right: 0px;
                }
            }
        }
    }
}
