ul.text {
    list-style-type: disc;

    li {
        list-style: disc;
        margin-left: 32px;

        &.image {
            margin-left: 0px;
            list-style: none;
        }
    }
}

li {
    &.image_center {
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
    }
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}


.table{
    width: 100%;
    border: 1px solid black;


    .rwd-table {
        background: #fff;
        overflow: hidden;
    }

    .rwd-table tr:nth-of-type(2n) {
        background: #eee;
    }

    .rwd-table {
        min-width: 100%;
    }

    .rwd-table th {
        display: none;
    }

    .rwd-table td {
        display: block;
    }

    .rwd-table td:before {
        content: attr(data-th) " : ";
        font-weight: bold;
        display: inline-block;
    }

    .rwd-table th,
    .rwd-table td:before {
        color: #D20B2A;
        font-weight: bold;
    }


    @media (min-width: 1200px) {
        .rwd-table td:before {
            display: none;
        }

        .rwd-table th,
        .rwd-table td {
            display: table-cell;
        }

        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 0;
        }

        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 0;
        }

         tbody{
            display: flex;
            align-items: flex-start;

            tr{

                &:nth-child(1){
                    min-width: 88px;
                }

                display: flex;
                flex-wrap: wrap;
                
                th,
                td{
                    width: 100%;
                }
                .store{
                    padding: 0;
                    height: 270px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}